  <% if lists.any? %>

    <div class="list-group">
      <% lists.sort_by { |l| l.id }.reverse.each do |list| %>
        <%= link_to list_path(list), class:"link" do %>
          <div class="list-group-item list-group-item-action text-primary d-flex flex-column border-0">
            <h5 class="mb-0 card-title"><%= list.name %></h5>
            <% if list.users.any? %>
              <small class="text-muted"><%= list.users.size + 1  %> participants</small>
            <% else %>
              <small class="text-muted"><%= "1 participant" %></small>
            <% end %>
            <p class="text-muted giveMeEllipsis mb-0"><%= list.list_items.not_completed.first(8).map(&:name).join(", ") %></p>
          </div>
        <% end %>
      <% end %>
    </div>


  <% else %>

    <div class="m-5 d-flex align-items-center justify-content-between">
      <p class="lead text-muted">Les listes que vous créez sont visibles ici.</p>
    </div>
  <% end %>
