<div id="list-id<%= list.id %>" data="<%= list.id %>">
  <li class="rounded bg-light mb-1 py-2 px-2 d-flex align-items-center justify-content-between uncompleted" >
    <div class="d-flex align-items-center">
      <%= link_to list_path(list), method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, remote: true do %>
        <button type="button" class="close ml-1 mr-0 remove-item text-muted" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <% end %>
      <%= link_to list_path(list) do %>
         <p class="li lead m-0 px-2 no-link text-primary font-weight-bold" style="cursor: pointer;" data="<%= list.id %>"><%= list.name %></p>
       <% end %>

    </div>
  </li>
</div>
