<div id="list-id<%= list.id %>" data="<%= list.id %>" class="listIndex">
  <li class="rounded alert-primary mb-1 py-2 px-2 d-flex align-items-center justify-content-between uncompleted" >
    <div class="d-flex align-items-center">
      <%= link_to list_path(list), method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, remote: true do %>
        <button type="button" class="close mx-1 pb-1 remove-item" aria-label="Close">
          <span aria-hidden="true" class="h2 font-weight-bold">&times;</span>
        </button>
      <% end %>
      <%= link_to list_path(list) do %>
         <p class="li lead m-0 pl-2 no-link text-primary font-weight-bold" style="cursor: pointer;" data="<%= list.id %>"><%= list.name %></p>
       <% end %>
    </div>

    <div class="d-flex align-items-center">
      <p style="" class="lead font-weight-bold text-muted text-right m-0">
        <%= render "shared/score_preview", points: ItemHistory.get_score(list.items.not_deleted.where(is_completed: false)) %>
      </p>
    </div>
  </li>
</div>
