<hr class="mt-4">



<div class="d-flex flex-column justify-content-center align-items-center" id="OLDshowRatingProgress" style="cursor: pointer;">

  <% if list.items.not_deleted.where.not(category_id: nil).size > 4 %>
    <%= link_to list_analyze_path(list), class:"btn btn-link btn-lg font-weight-light", style:"text-decoration: none;" do %>
      <p class="m-0 p-0 text-muted"><strong class="bigh1 font-weight-bold text-primary"><%= score %></strong> <small class="text-muted"><%= score > 1 ? "points" : "point" %></small></p>


      <%= render "lists/level", score: score %>

      <p class="font-weight-light p-2 m-0">Afficher l'analyse <i class="fas fa-arrow-right"></i></p>

    <% end %>


  <% else %>
    <p class="lead m-0 px-2 text-muted font-weight-bold text-center">Ajoutez 5 produits alimentaires pour commencer l'analyse !</p>
    <div class="bg-transparent d-flex justify-content-center" style="cursor: pointer;" id="OLDshowRatingProgress">
      <div class="border-0 border-success rounded-lg p-0">
         <p class="m-0 p-0 text-muted"><strong class="bigh1 font-weight-bold text-primary"><%= list.items.not_deleted.where.not(category_id: nil).size %></strong> <small class="text-muted">/ 5</small></p>
      </div>
    </div>

  <% end %>


</div>
  <i class="fas fa-info-circle text-muted d-flex justify-content-end mx-2 my-0 p-0" id="toggleListOnboarding" style="cursor: pointer;"></i>
