<div id="<%= recipe.id %>">

  <li class="rounded alert-warning mb-1 py-2 px-2 d-flex align-items-center justify-content-between uncompleted" >
    <div class="d-flex align-items-center">
      <% if list.user == current_user || list.users.include?(current_user) %>
        <button type="button" class="close ml-1 mr-0 text-muted" aria-label="Close" id="removeRecipefromListBtn" data="<%= recipe.id %>">
          <span aria-hidden="true">&times;</span>
        </button>
      <% end %>
      <%= link_to recipe.link, target: "_blank", style:"text-decoration: none;", class:"recipeLinkClick" do %>
         <p class="li lead m-0 px-2 no-link text-primary font-weight-bold" style="cursor: pointer;" data="<%= recipe.id %>"><%= recipe.title %></p>
       <% end %>
    </div>
    <div id="isFavorite<%= recipe.id %>" class="px-2">
      <%= render 'shared/favorite', recipe: recipe %>
    </div>
  </li>

</div>

