<div class="sticky-top bg-white shadow">
  <div class="container px-2">
    <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between">
       <a class="navbar-brand text-dark d-flex align-items-center m-0" href="<%= @referrer %>">
        <i class="fas fa-lg fa-arrow-left text-secondary p-2"></i> <span class="text-secondary">Retour</span>
      </a>

      <button class="btn btn-lg btn-warning" id="getListBtn" data="<%= @selected_items %>" context="list" source="<%= list.id %>" list-data="<%= @list_id %>" recipe-data="<%= recipes.pluck(:id) if recipes.any? %>">Continuer</button>

    </nav>
  </div>
<% unless user_signed_in? %>
    <div class="wrapper py-0 alert-warning">
      <nav class="p-0 navbar navbar-expand-lg  d-flex align-items-center justify-content-center">

        <%= link_to "Se connecter", "", data: {toggle: "modal", target: ".bd-login-modal-lg"}, class:"btn btn-sm btn-link m-1 border-0"  %>
        <%= link_to "S'inscrire", "", data: {toggle: "modal", target: ".bd-signup-modal-lg"}, class:"btn btn-sm btn-link alert-warning m-1 border-0 signupBtn", context: "Show list", action: "signup"  %>

      </nav>
    </div>
<% end %>
</div>




<div class="container my-4">
  <div class="jumbotron">
    <h1 class="display-4"><%= list.name %></h1>
    <hr class="my-4">
    <p class="lead">Sélectionnez les produits qui vous intéressent.</p>
    <a class="btn btn-light border btn-lg selectAllListItemsBtn" data="<%= list.id %>" style="cursor: pointer;" role="button">Tout sélectionner</a>

  </div>
</div>


<div class="wrapper" style="min-height: 90vh;">
  <div class="container mb-3" id="todo_list" data="<%= list.id %>">


    <div class="shadow rounded">
      <div class="list-group list-group-flush p-1" id="uncomplete_list_items" data-url="<%= sort_list_list_items_path(list) %>">

        <%= render "lists/unselected_items", list: list %>

      </div>
    </div>
  </div>

    <%= render 'lists/related_recipes', recipes: recipes, list: list %>


</div>




<% if false %>
<div class="fixed-bottom bg-white">
  <div class="wrapper py-2">
    <nav class="p-0 navbar navbar-expand-lg d-flex align-items-center justify-content-center">
      <div class="container px-2 d-flex flex-column ">
        <div class="d-flex justify-content-center">

          <button class="btn-warning btn-lg" id="getListBtn" data="<%= @selected_items %>" context="list" source="<%= list.id %>" list-data="<%= @list_id %>" recipe-data="<%= recipes.pluck(:id) if recipes.any? %>">Continuer votre liste de courses</button>
        </div>
      </div>
    </nav>
  </div>
</div>
<% end %>





<!-- Navbar End -->
<%= render 'shared/login_form' %>
<%= render 'shared/signup_form' %>
