<div class="sticky-top bg-white">
  <div class="container px-2">
    <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between">
       <a class="navbar-brand text-dark d-flex align-items-center m-0" href="<%= @referrer %>">
        <i class="fas fa-lg fa-arrow-left p-2"></i> <span class=""><%= @ref_list.name %></span>
      </a>

      <button class="btn btn-outline-primary" id="getListBtn" data="<%= @selected_items %>" context="list" source="<%= list.id %>" list-data="<%= @ref_list_id %>" recipe-data="<%= recipes.pluck(:id) if recipes.any? %>">Ajouter la sélection</button>

    </nav>
  </div>
</div>




<div class="container my-4 text-center">
  <div class="jumbotron jumbotron-fluid bg-white m-0">
    <h1 class="bigh1 font-weight-bold"><%= list.name %></h1>
    <hr class="my-4">
    <p class="lead">Sélectionnez les produits que vous souhaitez ajouter.</p>
    <a class="btn btn-light border text-primary btn-lg selectAllListItemsBtn" data="<%= list.id %>" style="cursor: pointer;" role="button">Tout sélectionner</a>
  </div>
</div>


<div class="wrapper" style="min-height: 90vh;">
  <div class="container mb-3 px-2" id="todo_list" data="<%= list.id %>">

    <div class="">
      <div class="list-group list-group-flush" id="uncomplete_list_items" data-url="<%= sort_list_list_items_path(list) %>">

        <%= render "lists/unselected_items", list: list %>

      </div>
    </div>
  </div>

    <%= render 'lists/related_recipes', recipes: recipes, list: list %>


</div>

