<%= render "shared/navbar_black" %>

<div class="wrapper m-0">
  <div class="container text-center">
    <div class="jumbotron jumbotron-fluid bg-transparent p-0 border-0">
      <h1 class="bigh1 font-weight-bold"><%= list.name %></h1>
      <div class="d-flex flex-row bd-highlight mt-3 justify-content-center" id="listOptions">
        <%= render "lists/options", list: list %>
        <a class="bd-highlight py-2 mr-1 btn bg-light border" style="cursor: pointer;" data-toggle="modal" data-target="#editListModal">Renommer</a>
         <%= link_to list_path(list), method: :delete,  data: { confirm: 'Êtes-vous sûr ?' }, class:"bd-highlight mr-1 btn bg-light border text-secondary" do %>
          <i class="fas fa-trash p-1"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>





<div class="wrapper" style="min-height: 70vh;">
  <div class="container px-2" id="todo_list" data="<%= list.id %>">


    <div class="container px-0">
      <ul class="border-0 list-group-item d-flex align-items-center justify-content-between p-0 pl-1" >
        <div class="d-flex align-items-center">
<!--           <p class="m-0 p-0 font-weight-bold lead">Ajouter un produit</p>
 -->        </div>
      </ul>
      <div id="listItemForm"><%= render "list_items/form", list: list, list_item: list_item %></div>
      <%= render "lists/suggested_items" %>
    </div>



    <div class="shadow rounded my-3 px-0">
      <div class="list-group list-group-flush" id="uncomplete_list_items" data-url="<%= sort_list_list_items_path(list) %>">
        <%= render 'lists/uncomplete_todo_list', list: list %>
      </div>
    </div>



    <div id="scrollPoint" style="padding: 20px;"></div>

    <% if false %>
      <div class="shadow rounded">
        <div class="list-group list-group-flush" id="complete_list_items" data-url="<%= sort_list_list_items_path(list) %>">
          <%= render 'lists/complete_todo_list', list: list, list_items: list_items %>
        </div>
      </div>
    <% end %>


  </div>

  <%= render 'lists/related_recipes', recipes: recipes, list: list %>

</div>








