<%= render "shared/navbar_list" %>


<div class="container">
  <div class="jumbotron jumbotron-fluid bg-white mb-0 pb-0">
    <h1 class="display-4"><%= list.name %></h1>
    <p class="text-muted">⚠️ Enregistrez cette liste pour ne pas la perdre !</p>
    <div class="d-flex flex-row bd-highlight mt-2" id="listOptions">
      <% if user_signed_in? %>
        <%= link_to "Enregistrer", list_copy_path(list), class:"btn bg-light border mr-1 font-weight-bold text-primary" %>
      <% else %>
        <!--alter the login link to trigger the opening of the modal -->
        <%= link_to "Enregistrer", "", data: {toggle: "modal", target: ".bd-signup-modal-lg"}, class:"btn bg-light border mr-1 font-weight-bold text-primary signupBtn", context: "Show list (free)", action: "save_list", style:"text-decoration: none;" %>
      <% end %>
      <%= render "lists/options", list: list %>
      <a class="bd-highlight btn bg-light border mr-1" style="cursor: pointer;" data-toggle="modal" data-target="#editListModal">Renommer</a>
    </div>
    <hr class="my-4">
  </div>
</div>



<div class="wrapper" style="min-height: 90vh;">
  <div class="container" id="todo_list" data="<%= list.id %>">

    <div class="container px-0">
      <ul class="border-0 list-group-item d-flex align-items-center justify-content-between pl-1 pb-0" >
        <div class="d-flex align-items-center">
          <p class="m-0 p-0 font-weight-bold lead text-primary">Ajouter un produit</p>
        </div>
      </ul>
      <div id="listItemForm"><%= render "list_items/form", list: list, list_item: list_item %></div>
      <%= render "lists/suggested_items" %>
      <div class="d-flex flex-column align-items-center">
        <div class="d-flex">
          <%= link_to "Produits du quotidien", products_path(l: @list.id), class:"btn btn-light border m-1 text-primary" %>
          <%= link_to "Idées recettes", meals_path(l: @list.id), class:"btn btn-light border m-1 text-primary" %>
        </div>
      </div>
    </div>

    <div class="shadow rounded my-3 px-0">
      <div class="list-group list-group-flush" id="uncomplete_list_items" data-url="<%= sort_list_list_items_path(list) %>">
        <%= render 'lists/uncomplete_todo_list', list: list %>
      </div>
    </div>


    <div id="scrollPoint" style="padding: 20px;"></div>

    <% if false %>
      <div class="shadow rounded mb-5">
        <div class="list-group list-group-flush" id="complete_list_items" data-url="<%= sort_list_list_items_path(list) %>">
          <%= render 'lists/complete_todo_list', list: list, list_items: list_items %>
        </div>
      </div>
    <% end %>

  </div>

  <%= render 'lists/related_recipes', recipes: recipes, list: list %>

</div>



<!-- Navbar End -->
<%= render 'shared/login_form' %>
<%= render 'shared/signup_form' %>



