

<div class="jumbotron jumbotron-fluid bg-white py-3 mb-0">
  <div class="container px-2 d-flex flex-column">
    <h1 class="text-primary"><%= list.name %></h1>
  </div>
</div>


<div class="wrapper" style="min-height: 90vh;">
  <div class="container px-0 mt-2" id="todo_list" data="<%= list.id %>">
    <div class="shadow rounded">
      <div class="list-group list-group-flush" id="uncomplete_list_items" data-url="<%= sort_list_list_items_path(list) %>">

        <% if list.get_not_completed.any? %>
          <% if list.sorted_by == "rayon" %>
            <% list.sort_by_store_sections.each do |key, array| %>
              <% if array.any? %>
                <div id="<%= key.parameterize(separator: '') %>">
                  <div id="<%= key.parameterize(separator: '') %>Header">
                    <ul class="border-0 list-group-item d-flex align-items-center justify-content-between pl-1 pb-0" >
                      <div class="d-flex align-items-center">
                        <p class="m-0 p-1 font-weight-bold lead"><%= key %></p>
                      </div>
                    </ul>
                  </div>
                  <%  array.sort_by{|e| e.name.parameterize }.each do |list_item| %>
                    <%= render 'items/selected_item', item: list_item.item, list_item: list_item %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% else list.sorted_by == "date" || nil %>
              <% list.get_not_completed.sort_by(&:id).each do |list_item| %>
                <%= render 'items/selected_item', item: list_item.item, list_item: list_item %>
              <% end %>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>

  <%= render 'lists/related_recipes', recipes: recipes, list: list %>

</div>


<div class="container my-5 px-1">
  <div class="jumbotron">
      <h1>Cette liste vous intéresse ?</h1>
      <p class="lead">Retrouvez la facilement au moment où vous en avez besoin pour faire les courses.</p>
    <hr class="my-4">
      <%= link_to "Enregistrer la liste", list_copy_path(list), class:"btn btn-lg bg-success text-white" %>
  </div>
</div>





