<div id="newlistItemForm" style="display: none;"><%= render "items/list_item_form", list: list, item: item %></div>

<div id="listOnboarding" style="display: none;"><%= render "lists/onboarding", list: list %></div>


<div id="listShow">
  <div class="sticky-top bg-white mb-3" id="listBarTop">
    <div class="container px-2">
      <nav class="px-0 navbar navbar-expand-lg d-flex bd-highlight">
        <a class="navbar-brand text-dark d-flex align-items-center mr-auto bd-highlight" href="/"><i class="fas fa-lg fa-arrow-left p-2"></i></a>

        <% if false %>
          <a class="shadow-lg bg-white rounded-pill rounded-lg p-2 bd-highlight text-center ml-2" href="/favorites"><%= cl_image_tag("menu_icons/star", width: 25, height: 25, class:"m-0") %></a>
          <a class="shadow-lg bg-white rounded-pill rounded-lg p-2 bd-highlight text-center ml-2" href="/cuisine"><%= cl_image_tag("menu_icons/search", width: 25, height: 25, class:"m-0") %></a>
           <button class="btn btn-outline-primary font-weight-bold goToSignupBtn" id="installBtn" style="display: none;">Installer l'app</button>
        <% end %>


        <div id="listScore" data="<%= list.id %>">
        </div>

      </nav>
    </div>
  </div>

    <div class="container">
      <%= render 'shared/flashes' %>
    </div>

  <div class="wrapper mb-5">
    <div class="container text-center">
      <div class="jumbotron jumbotron-fluid bg-transparent p-0 border-0 m-0">
        <h1 class="bigh1 font-weight-bold"><%= list.name %></h1>
        <div class="d-flex flex-row bd-highlight mt-3 justify-content-center" id="listOptions">
          <%= render "lists/options", list: list %>
          <a class="bd-highlight py-2 mr-1 btn btn-sm bg-light border" style="cursor: pointer;" data-toggle="modal" data-target="#editListModal">Renommer</a>
           <%= link_to list_path(list), method: :delete,  data: { confirm: 'Êtes-vous sûr ?' }, class:"bd-highlight mr-1 btn btn-sm bg-light border text-secondary" do %>
            <i class="fas fa-trash p-1"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="container px-2" style="min-height: 70vh;">
    <div class="container px-0" id="todo_list" data="<%= list.id %>">

      <div class="container px-0">

        <ul class="border-0 list-group-item d-flex align-items-center justify-content-between p-0 pl-1 m-0" >
          <div class="d-flex align-items-center">
          </div>
        </ul>
        <%= simple_form_for([ list, item ], remote: true) do |form| %>
          <div class="search-form-control">
            <%= form.input :name, as: :string, label: false, placeholder: "Ajouter un produit...", input_html: { class:"py-4 rounded rounded-lg font-weight-bold form-control form-control-lg text-primary", id:"toggleListItemform", style:"cursor: pointer;" }, wrapper_html: { class:" rounded rounded-lg border border-light mb-0"} %>
          </div>
        <% end %>

        <div id="itemsRecommendations">
        </div>


        <% if false %>
            <div id="editHistory" class="m-1">
              <%= render "lists/edit_history", content: @message %>
            </div>
            <div class="dropdown">
              <button class="btn-block btn btn-light border dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= list.sorted_by %>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to "Tri par rayon", list_sort_path(list, sort_option: "rayon"), remote: true, class:"dropdown-item" %>
                <%= link_to "Tri par catégorie", list_sort_path(list, sort_option: "category"), remote: true, class:"dropdown-item" %>
                <%= link_to "Tri par date", list_sort_path(list, sort_option: "date"), remote: true, class:"dropdown-item" %>
                <%= link_to "Tri par foodgroup", list_sort_path(list, sort_option: "foodgroup"), remote: true, class:"dropdown-item" %>
              </div>
            </div>
        <% end %>

        <div class="my-3">
          <div class="" id="uncomplete_list_items" data-list-id="<%= list.id %>" data-url="<%= sort_list_list_items_path(list) %>">
            <%= render 'lists/uncomplete_todo_list', list: list %>
          </div>
        </div>

        <div id="scrollPoint" style="padding: 20px;"></div>
        <% if false %>
          <div class="shadow rounded">
            <div class="list-group list-group-flush" id="complete_list_items" data-url="<%= sort_list_list_items_path(list) %>">
              <%= render 'lists/complete_todo_list', list: list, list_items: list_items %>
            </div>
          </div>
        <% end %>

      </div>

      <%= render 'lists/related_recipes', recipes: recipes, list: list %>
    </div>

</div>






<% unless user_signed_in? %>
<!-- Navbar End -->
<%= render 'shared/login_form' %>
<%= render 'shared/signup_form' %>
<% end %>
<!-- PWA prompt on safari IOS -->
<%= render 'shared/ios_install_popup' %>
<!-- PWA prompt on Android -->
<%= render 'shared/android_install_popup' %>

