    <% FoodGroup.roots.each do |group| %>
        <div id="<%= group.name.parameterize(separator: '') %>" class="listHeader">
          <div id="<%= group.name.parameterize(separator: '') %>Header">
            <ul class="border-0 list-group-item d-flex align-items-center justify-content-between pl-1 pb-0 m-0" style="filter: brightness(1.40);">
              <div class="d-flex align-items-center">
                <p class="m-0 p-1 font-weight-bold lead"><%= group.name %></p>
              </div>
            </ul>
          </div>
          <div id="<%= group.name.parameterize(separator: '') %>Elements">
            <% list.get_foodgroup_items(group).sort_by{|e| e.name.parameterize }.each do |item| %>
              <%= render 'items/show', item: item %>
            <% end %>
          </div>
        </div>
    <% end %>
    <div id="non-alimentaires" class="listHeader">
      <div id="non-alimentairesHeader">
        <ul class="border-0 rounded-top list-group-item d-flex align-items-center justify-content-between pl-1 pb-0 m-0" style="filter: brightness(1.40);">
          <div class="d-flex align-items-center">
            <p class="m-0 p-1 font-weight-bold lead">Non-alimentaires</p>
          </div>
        </ul>
      </div>
      <div id="non-alimentairesElements">
        <%  list.items.not_deleted.where(category_id: nil).sort_by{|e| e.name.parameterize }.each do |item| %>
          <%= render 'items/show', item: item %>
        <% end %>
      </div>
    </div>
