<% unless store_section.nil? %>
  <div id="<%= store_section.name.parameterize(separator: '') %>" class="listHeader" data="<%= items.size %>">
    <div id="<%= store_section.name.parameterize(separator: '') %>Header">
      <ul class="border-0 list-group-item d-flex align-items-center justify-content-between pl-1 pb-0 m-0">
        <div class="d-flex align-items-center">
          <p class="m-0 p-1 font-weight-bold lead text-muted" style="filter: brightness(1.40);"><%= store_section.name %></p>
        </div>
      </ul>
    </div>
    <div id="<%= store_section.name.parameterize(separator: '') %>Elements" class="sectionItems">
      <% items.where(is_completed: false).sort_by{|e| e.name.parameterize }.each do |item| %>
        <%= render 'items/unselected_item', item: item, servings_delta: 1 %>
      <% end %>
    </div>
  </div>


<% else %>


    <div id="non-alimentaires" class="listHeader"  data="<%= items.size %>">
      <div id="non-alimentairesHeader">
        <ul class="border-0 rounded-top list-group-item d-flex align-items-center justify-content-between pl-1 pb-0 m-0">
          <div class="d-flex align-items-center">
            <p class="m-0 p-1 font-weight-bold lead text-muted" style="filter: brightness(1.40);">Non-alimentaires</p>
          </div>
        </ul>
      </div>
      <div id="non-alimentairesElements" class="sectionItems">
        <%  items.where(is_completed: false).sort_by{|e| e.name.parameterize }.each do |item| %>
          <%= render 'items/unselected_item', item: item, servings_delta: 1 %>
        <% end %>
      </div>
    </div>


<% end %>
