<%= render "lists/suggested_items" %>

<%= render "lists/options", list: list %>


<div class="shadow rounded">
  <div class="list-group list-group-flush" id="uncomplete_list_items" data-url="<%= sort_list_list_items_path(list) %>">
    <%= render 'lists/uncomplete_todo_list', list: list %>
  </div>
</div>

<% if list.user == current_user || list.users.include?(current_user) || list.user.nil? %>
  <div class="">
    <div class="container px-1 my-5">
      <%= render "list_items/form", list: list, list_item: list_item %>
    </div>

    <div class="shadow rounded my-3">
      <div class="list-group list-group-flush" id="complete_list_items" data-url="<%= sort_list_list_items_path(list) %>">
        <%= render 'lists/complete_todo_list', list: list, list_items: list_items %>
      </div>
    </div>
  </div>
<% end %>


