<div class="shadow p-0 bg-white rounded">

  <div class="list-group list-group-flush" id="uncomplete_list_items" data-url="<%= sort_list_list_items_path(list) %>">
    <%= render 'uncomplete_todo_list', list: list, list_items: list_items %>
  </div>

  <% if list.user == current_user || list.users.include?(current_user)%>
     <%= render "list_items/form", list: list, list_item: list_item %>
  <% end %>

</div>


  <!-- Button trigger Select Store modal -->
  <a class="btn btn-block btn-flat2 py-3 font-weight-bold" data-toggle="modal" data-target="#selectStoreModal">Courses à partir de <%= Store.get_cheapest_store_price(@uncomplete_list_items) %>€</a>

  <!-- Select Store Modal -->
  <div class="modal fade" id="selectStoreModal" tabindex="-1" role="dialog" aria-labelledby="selectStoreModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-white">
        <div class="modal-header">
          <h5 class="modal-title" id="selectStoreModalLabel">Choisissez un magasin</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-0 p-0">
          <%= render 'lists/select_store', list: @list %>
        </div>
      </div>
    </div>
  </div>


<hr class="my-3">


<div id="complete_list_items">
  <% if list_items.completed.any? %>
    <div>
      <div class="list-group list-group-flush mb-5">
        <%= render 'complete_todo_list', list: list, list_items: list_items %>
      </div>
    </div>
  <% end %>
</div>
