<%= render "lists/suggested_items" %>


<div class="shadow rounded">
  <div class="list-group list-group-flush" id="uncomplete_list_items" data-url="<%= sort_list_list_items_path(list) %>">
    <%= render 'lists/uncomplete_todo_list', list: list, list_items: list_items %>
  </div>
  <div class="list-group list-group-flush" id="complete_list_items" data-url="<%= sort_list_list_items_path(list) %>">
    <%= render 'lists/complete_todo_list', list: list, list_items: list_items %>
  </div>
</div>

  <div class="my-3"></div>

<%= render "lists/get_price", list: @list, uncomplete_list_items: @uncomplete_list_items %>


<div style="padding: 50px;"></div>


<div class="container px-1 bg-white fixed-bottom">
  <% if list.user == current_user || list.users.include?(current_user)%>
   <%= render "list_items/form", list: list, list_item: list_item %>
  <% end %>
  <div class="d-flex justify-content-center">
    <button class="btn-sm btn-outline-flat my-1 py-1" id="openSuggestedItemsBtn" data-toggle="modal" data-target="#selectItemsModal">🔮 Suggestions d'achats</button>
  </div>
</div>
