<% recipes.each_with_index do | recipe, index|  %>
  <div class="container pt-4">
    <div class="shadow p-3 mb-2 bg-white rounded d-flex flex-column" >
      <h4 class="mb-0"><%= recipe.title %></h4>
      <small><%= recipe.foods.size %> ingrédients</small>
      <div>
        <small>pour <%= recipe.servings %></small><small><%= (recipe.servings < 2) ?  " portion" : " portions" %></small>
      </div>
      <h7 ><%= link_to "Cliquer ici pour voir la recette", recipe.link, target: "_blank" %></h7>
    </div>
  </div>
  <div class="container pb-4">
      <ul class="list-group list-group-flush shadow">
      <% if recipe.items.any? %>
        <% recipe.items.order(:id).each do |recipe_item| %>
          <div class="recipe-item-card-id<%= recipe_item.id %>">
            <%= render 'items/show', item: recipe_item %>
          </div>
        <% end %>
      <% end %>
      </ul>
  </div>
<% end %>
