  <% if list.sorted_by == "rayon" %>
    <%= render 'lists/sort_by_store_section', list: list %>


  <% elsif list.sorted_by == "category" %>
    <%= render 'lists/sort_by_category', list: list %>


  <% elsif list.sorted_by == "foodgroup" %>
    <%= render 'lists/sort_by_foodgroup', list: list %>


  <% else list.sorted_by == "date" || nil %>

      <div id="date" class="listHeader" data="<%= list.items.size %>">
        <div id="dateHeader">
        </div>
        <div id="dateElements" class="sectionItems">
            <%= render partial: 'items/show', collection: list.items.not_deleted.where(is_completed: false).sort_by{|e| e.name.parameterize }, as: :item %>
        </div>
      </div>

  <% end %>
