<div class="container mb-3">
  <%= link_to 'retour', list_path(@list), class:"btn btn-outline-secondary" %>
</div>

<div id="explore_recipes">
  <% @recipes.each_with_index do | recipe, index|  %>
    <div class="container mt-4">
      <div class="shadow p-3 mb-2 bg-white rounded" >
        <h4 class="mb-0"><%= recipe.title %></h4>
        <small><%= recipe.foods.size %> ingrédients</small>
        <small><%= recipe.servings %></small><small></%> <%= recipe.servings.size < 2 ?  " portion" : " portions" %></small>
        <h6 ><%= link_to "Cliquer ici pour voir la recette", recipe.link, target: "_blank" %></h6>
      </div>
    </div>
    <div class="container">
        <ul class="list-group list-group-flush shadow">
        <% if recipe.items.any? %>
          <% recipe.items.order(:id).each do |recipe_item| %>
            <%= render 'items/show', item: recipe_item %>
          <% end %>
        <% end %>
        </ul>
    </div>
  <% end %>
</div>

