<div class="sticky-top bg-white">
    <div class="container">
      <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between" style="background-color: transparent;">
          <%= link_to list_path(@list), class:"navbar-brand text-dark d-flex align-items-center" do %>
            <i class="fas fa-lg fa-arrow-left p-2"></i> <span class="text-white"></span>
          <% end %>
      </nav>
    </div>
</div>

<div class="banner d-flex flex-column">

  <div class="container">
    <%= render 'shared/flashes' %>
  </div>

  <div class="container">

    <div class="jumbotron text-center d-flex align-items-center bg-white flex-column p-0 m-0">
      <h1 class="bigh1 font-weight-bold">Partager la liste</h1>
      <hr class="my-3">

        <div class="row m-2">
          <div class="py-2 rounded text-center mb-2">

            <% if user_signed_in? %>
                <%= form_tag(list_email_path(@list), remote: true) do |f| %>
                  <%= submit_tag "Envoyée !", :value => "✉️ Recevoir par email", class:"btn btn-lg btn btn-warning", id:"emailList" %>
                <% end %>
            <% else %>
                <button class="btn btn-lg btn btn-warning" data-toggle="modal" data-target="#shareModal">✉️ Recevoir par email</button>
            <% end %>


            <hr class="my-4">

            <div class="d-flex">
              <!-- Target -->
              <input class="form-control" type="text" id="listLink" value="<%= list_url(@list) %>">

              <!-- Trigger -->
              <button class="clipboard-btn btn btn-link font-weight-bold" data-clipboard-target="#listLink" id="copyLink">
                  COPIER
              </button>
            </div>

            <hr class="my-4">

            <% if user_signed_in? %>
              <button class="btn btn-lg btn btn-primary" data-toggle="modal" data-target="#collabListModal">👋 Inviter un ami à gérer la liste</button>
            <% else %>
             <%= link_to "👋 Inviter un ami à gérer la liste", "", data: {toggle: "modal", target: ".bd-signup-modal-lg"}, class:"btn btn-lg btn btn-primary signupBtn", context: "Share list", action: "send_invite" %>
            <% end %>
          </div>
        </div>

    </div>


  </div>

</div>

  <!-- Share Modal -->
  <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shareModalLabel">Envoyer par email</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-0 m-0">
          <%= form_tag(list_email_path(@list), class: 'form-group mb-0') do |f| %>
            <div class="shadow px-2 bg-white py-4">
              <%= text_field_tag 'emailShare', '', value: "#{current_user.present? ? current_user.email : ''}", type: "email", placeholder: "Votre email", class:"form-control py-4 mb-3 rounded" %>
              <div class="d-flex align-items-center justify-content-end">
                <%= submit_tag "submit",:value => "Envoyer", class:"btn btn-warning closeModal" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Collaborators List Modal -->
  <div class="modal fade" id="collabListModal" tabindex="-1" role="dialog" aria-labelledby="collabListModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-white">
        <div class="modal-header">
          <h5 class="modal-title" id="collabListModalLabel">Envoyer une invitation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-0 p-0">
          <%= render 'collaborations/index' %>
        </div>
        <div class="modal-body m-0 p-0">
          <%= render 'collaborations/form', list: @list %>
        </div>
      </div>
    </div>
  </div>

