 <div class="sticky-top bg-white">
  <div class="container">
    <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between">
       <a class="navbar-brand text-dark d-flex align-items-center font-weight-bold m-0" href="/">
        <%= cl_image_tag("logo_qj08zi", width: 30, height: 30) %> Mama
      </a>

      <% unless user_signed_in? %>
        <!--alter the login link to trigger the opening of the modal -->
        <%= link_to "Ajouter à mes listes", "", data: {toggle: "modal", target: ".bd-signup-modal-lg"}, class:"btn bg-success text-white", style:"text-decoration: none;" %>

      <% else %>
        <% if @list.user == current_user || @list.users.include?(current_user)  %>
          <%= link_to "Terminer", list_save_path(@list), class:"btn bg-success text-white" %>

        <% elsif @list.user != current_user %>

          <%= link_to "Ajouter à mes listes", list_copy_path(@list), class:"btn bg-success text-white" %>
        <% elsif @list.users.exclude?(current_user) &&  @list.user != current_user %>

          <%= link_to "Ajouter à mes listes", list_copy_path(@list), class:"btn bg-success text-white" %>
        <% end %>
      <% end %>
    </nav>
  </div>
 </div>

<!-- Navbar End -->
<%= render 'shared/login_form' %>
<%= render 'shared/signup_form' %>





<div class="jumbotron shadow jumbotron-fluid bg-white py-3 mb-3">
  <div class="container d-flex flex-column">
    <h1 class="text-primary"><%= @list.name %></h1>
  </div>
</div>

<% if @list.user.present? %>
  <div class="container my-2">
    <% if @list.user == current_user %>
      <div class="d-flex flex-row bd-highlight mt-2" id="listOptions">
        <a class="bd-highlight pr-2 text-primary" style="cursor: pointer;" data-toggle="modal" data-target="#collabListModal">Gérer à plusieurs</a>
        <a class="bd-highlight pr-2 text-primary" style="cursor: pointer;" data-toggle="modal" data-target="#editListModal">Renommer</a>
         <%= link_to "Supprimer", list_path(@list), method: :delete,  data: { confirm: 'Êtes-vous sûr ?' }, class:"bd-highlight px-2 text-secondary" %>
      </div>

    <% elsif @list.users.include?(current_user) %>
      <div class="d-flex flex-row bd-highlight mt-2" id="listOptions">
        <a class="bd-highlight pr-2 text-primary" style="cursor: pointer;" data-toggle="modal" data-target="#collabListModal">Gérer à plusieurs</a>
        <a class="bd-highlight pr-2 text-primary" style="cursor: pointer;" data-toggle="modal" data-target="#editListModal">Renommer</a>
         <%= link_to "Supprimer", list_collaboration_path(@list, current_user), method: :delete,  data: { confirm: 'Êtes-vous sûr ?' }, class:"bd-highlight px-2 text-secondary" %>
      </div>
    <% end %>
  </div>

<% elsif @list.user.nil? %>
  <div class="container my-2">
    <div class="d-flex flex-row bd-highlight mt-2" id="listOptions">
     <%= link_to "Gérer à plusieurs", "", data: {toggle: "modal", target: ".bd-signup-modal-lg"}, class:"bd-highlight pr-2 text-primary", style:"text-decoration: none;" %>
      <a class="bd-highlight pr-2 text-primary" style="cursor: pointer;" data-toggle="modal" data-target="#editListModal">Renommer</a>
    </div>
  </div>
<% end %>






<div class="container px-0 mt-4" id="todo_list" data="<%= @list.id %>">

  <%= render "todo_list", list: @list, list_items: @list_items, list_item: @list_item %>

</div>


<% if @recipes.present? %>
  <div class="container px-0 mt-3">

    <div id="selectedRecipes" class="row m-0">
        <% @recipes.each do |recipe| %>
          <%= render 'recipe_card', recipe: recipe, list: @list %>
        <% end %>
    </div>
  </div>
<% end %>


<div style="padding: 50px;"></div>

<% if user_signed_in? && current_user.beta == true %>
  <%= render "lists/get_price", list: @list, uncomplete_list_items: @uncomplete_list_items %>
<% end %>

<div style="padding: 50px;"></div>


<!-- Modal views  -->
  <!-- Edit List Modal -->
  <div class="modal fade" id="editListModal" tabindex="-1" role="dialog" aria-labelledby="editListModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editListModalLabel">Modifier la liste de courses</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-0 p-0">
          <%= render 'lists/form' %>
        </div>
      </div>
    </div>
  </div>


<% if user_signed_in? %>

  <!-- Share Modal -->
  <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shareModalLabel">Envoyer par email</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-0 m-0">
          <%= form_tag(list_share_path(@list), class: 'form-group mb-0') do |f| %>
            <div class="shadow p-3 bg-white">
              <%= text_field_tag 'emailShare', '', value: "#{current_user.present? ? current_user.email : ''}", type: "email", class:"form-control py-4 mb-3 rounded-0 border-top-0 border-left-0 border-right-0" %>
              <div class="d-flex align-items-center justify-content-end">
                <%= submit_tag "submit",:value => "Envoyer", class:"shadow btn btn-block btn-flat2" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>




  <!-- Collaborators List Modal -->
  <div class="modal fade" id="collabListModal" tabindex="-1" role="dialog" aria-labelledby="collabListModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-white">
        <div class="modal-header">
          <h5 class="modal-title" id="collabListModalLabel">Gérer à plusieurs</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-0 p-0">
          <%= render 'collaborations/index' %>
        </div>
        <div class="modal-body m-0 p-0">
          <%= render 'collaborations/form', list: @list %>
        </div>
      </div>
    </div>
  </div>
<% end %>
