  <%= render 'shared/navbar' %>

<div class="jumbotron shadow jumbotron-fluid py-3 bg-primary text-white mb-3">
  <div class="container d-flex flex-column">
    <a class="navbar-brand text-white d-flex align-items-center font-weight-bold" href="/">
      <%= cl_image_tag("logo_qj08zi", width: 30, height: 30, class:"mr-1") %> Mama <span class="badge badge-pill badge-outline-secondary"><small>BETA</small></span>
    </a>
    <h1 class=""><%= @list.name %></h1>
  </div>
</div>

<div class="container my-2">
  <% if @list.user == current_user %>
    <div class="d-flex flex-row bd-highlight mt-2" id="listOptions">
      <a class="bd-highlight pr-3 text-primary" style="cursor: pointer;" data-toggle="modal" data-target="#collabListModal">Gérer à plusieurs</a>
      <a class="bd-highlight pr-3 text-primary" style="cursor: pointer;" data-toggle="modal" data-target="#editListModal">Renommer</a>
       <%= link_to "Supprimer", list_path(@list), method: :delete,  data: { confirm: 'Êtes-vous sûr ?' }, class:"bd-highlight px-2 text-secondary" %>
    </div>
  <% end %>
  <% if @list.users.include?(current_user) %>
    <div class="d-flex flex-row bd-highlight mt-2" id="listOptions">
      <a class="bd-highlight pr-3 text-primary" style="cursor: pointer;" data-toggle="modal" data-target="#collabListModal">Gérer à plusieurs</a>
      <a class="bd-highlight pr-3 text-primary" style="cursor: pointer;" data-toggle="modal" data-target="#editListModal">Renommer</a>
       <%= link_to "Supprimer", list_collaboration_path(@list, current_user), method: :delete,  data: { confirm: 'Êtes-vous sûr ?' }, class:"bd-highlight px-2 text-secondary" %>
    </div>
  <% end %>
</div>




<div class="container px-0 mt-4" id="todo_list" data="<%= @list.id %>">

  <%= render "todo_list", list: @list, list_items: @list_items, list_item: @list_item %>

</div>


<% if @recipes.present? %>
  <div class="container px-0 mt-4">
  <hr class="my-4">

    <div id="selectedRecipes" class="row m-0">
        <% @recipes.each do |recipe| %>
          <%= render 'recipe_card', recipe: recipe, list: @list %>
        <% end %>
    </div>
  </div>
<% end %>


<div style="padding: 50px;"></div>

<% if user_signed_in? && current_user.beta == true %>
  <%= render "lists/get_price", list: @list, uncomplete_list_items: @uncomplete_list_items %>
<% end %>

<div style="padding: 50px;"></div>


<!-- Modal views  -->
<% if user_signed_in? %>
  <!-- Edit List Modal -->
  <div class="modal fade" id="editListModal" tabindex="-1" role="dialog" aria-labelledby="editListModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editListModalLabel">Modifier la liste de courses</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-0 p-0">
          <%= render 'lists/form' %>
        </div>
      </div>
    </div>
  </div>

  <!-- Share Modal -->
  <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shareModalLabel">Envoyer par email</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-0 m-0">
          <%= form_tag(list_share_path(@list), class: 'form-group mb-0') do |f| %>
            <div class="shadow p-3 bg-white">
              <%= text_field_tag 'emailShare', '', value: "#{current_user.present? ? current_user.email : ''}", type: "email", class:"form-control py-4 mb-3 rounded-0 border-top-0 border-left-0 border-right-0" %>
              <div class="d-flex align-items-center justify-content-end">
                <%= submit_tag "submit",:value => "Envoyer", class:"shadow btn btn-block btn-flat2" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>




  <!-- Collaborators List Modal -->
  <div class="modal fade" id="collabListModal" tabindex="-1" role="dialog" aria-labelledby="collabListModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-white">
        <div class="modal-header">
          <h5 class="modal-title" id="collabListModalLabel">Gérer à plusieurs</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-0 p-0">
          <%= render 'collaborations/index' %>
        </div>
        <div class="modal-body m-0 p-0">
          <%= render 'collaborations/form', list: @list %>
        </div>
      </div>
    </div>
  </div>
<% end %>
