
  <div class="container d-flex justify-content-between my-2">

    <!-- dropdown button -->
    <div class="btn-group">
      <button type="button" class="m-2 btn btn-outline-secondary rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item btn" data-toggle="modal" data-target="#shareModal">Envoyer par email</a>
        <% if @list.user == current_user %>
          <!-- Option modal for owner -->
          <% if @list.status == "saved" %>
            <a class="btn dropdown-item" data-toggle="modal" data-target="#editListModal">Modifier le titre</a>
          <% else %>
            <a class="btn dropdown-item" data-toggle="modal" data-target="#saveListModal">Enregistrer</a>
          <% end %>
          <a class="btn dropdown-item" data-toggle="modal" data-target="#collabListModal">G茅rer  plusieurs</a>
          <div class="dropdown-divider"></div>
            <%= link_to "Supprimer la liste", list_path(@list), method: :delete,  data: { confirm: 'tes-vous s没r ?' }, class:"dropdown-item text-danger" %>
        <% elsif @list.users.include?(current_user) %>
          <!-- Option modal  for collaborators-->
          <% if @list.status == "saved" %>
            <a class="btn dropdown-item" data-toggle="modal" data-target="#editListModal">Modifier le titre</a>
          <% end %>
          <a class="btn dropdown-item" data-toggle="modal" data-target="#collabListModal">G茅rer  plusieurs</a>
          <div class="dropdown-divider"></div>
            <%= link_to "Supprimer de mes listes", list_collaboration_path(@list, current_user), method: :delete, data: { confirm: 'tes-vous s没r.e ?'}, class:"dropdown-item text-danger" %>
        <% end %>
       </div>
    </div>


    <% if @list.user == current_user && @list.status == "opened" %>
      <a class="btn close m-2 px-0" data-toggle="modal" data-target="#closeListModal">Fermer</a>
    <% elsif @list.user == current_user && @list.status != "opened" %>
      <%= link_to 'Fermer', root_path, class:"btn close m-2 px-0" %>
    <% else %>
      <%= link_to 'Fermer', root_path, class:"btn close m-2 px-0" %>
    <% end %>


  </div>


  <!-- Close List Modal -->
    <div class="modal fade" id="closeListModal" tabindex="-1" role="dialog" aria-labelledby="closeListModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="closeListModalLabel">Souhaitez-vous enregistrer cette liste de courses ?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body p-0 m-0">

            <div class="list-group list-group-flush">

              <% if @list.user == current_user %>
                 <%= link_to "Non", list_path(@list), method: :delete,  data: { confirm: 'tes-vous s没r.e ?' }, class:"btn list-group-item list-group-item-action text-danger" %>
              <% elsif @list.users.include?(current_user) %>
                <%= link_to "Non", list_collaboration_path(@list, current_user), method: :delete, data: { confirm: 'tes-vous s没r.e ?'}, class:"btn list-group-item list-group-item-action text-primary text-danger" %>
              <% end %>

              <a class="btn list-group-item list-group-item-action text-primary font-weight-bold" data-toggle="modal" data-target="#saveListModal">Oui</a>

            </div>

          </div>
        </div>
      </div>
    </div>

  <!-- Share Modal -->
    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="shareModalLabel">Envoyer par email</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body p-0 m-0">
            <%= form_tag(list_share_path(@list), class: 'form-group mb-0') do |f| %>
              <div class="shadow p-3 bg-white">
                <%= text_field_tag 'emailShare', '', value: "#{current_user.present? ? current_user.email : ''}", type: "email", class:"form-control py-4 mb-3 rounded-0 border-top-0 border-left-0 border-right-0" %>
                <div class="d-flex align-items-center justify-content-end">
                  <%= submit_tag "submit",:value => "Envoyer", class:"shadow btn btn-block btn-flat2" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- Archive List Modal -->
    <div class="modal fade" id="archiveListModal" tabindex="-1" role="dialog" aria-labelledby="archiveListModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="archiveListModalLabel"> Archiver </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body m-0 p-0">
            <%= render 'lists/archive_form' %>
          </div>
        </div>
      </div>
    </div>


    <!-- Save List Modal -->
    <div class="modal fade" id="saveListModal" tabindex="-1" role="dialog" aria-labelledby="saveListModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="saveListModalLabel"> Enregistrer cette liste de courses</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body m-0 p-0">
            <%= render 'lists/save_form' %>
          </div>
        </div>
      </div>
    </div>

    <!-- Collaborators List Modal -->
    <div class="modal fade" id="collabListModal" tabindex="-1" role="dialog" aria-labelledby="collabListModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content bg-white">
          <div class="modal-header">
            <h5 class="modal-title" id="collabListModalLabel">G茅rer  plusieurs</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body m-0 p-0">
            <%= render 'collaborations/index' %>
          </div>
          <div class="modal-body m-0 p-0">
            <%= render 'collaborations/form', list: @list %>
          </div>
        </div>
      </div>
    </div>


<% if @list.name.present? %>
  <div class="container d-flex justify-content-center p-1 my-0">
    <p class="m-1 lead font-weight-bold text-primary"><%= @list.name %></p>
  </div>
<% end %>



<div class="container">
  <%= render 'shared/flashes' %>
</div>



<div class="container px-0" id="todo_list" data="<%= @list.id %>">

  <%= render "todo_list", list: @list, list_items: @list_items, list_item: @list_item %>

</div>


<div style="padding: 50px;"></div>
