<%= render "shared/navbar_list" %>


<div class="jumbotron jumbotron-fluid bg-white py-3 mb-0">
  <div class="container px-2 d-flex flex-column">
    <h1 class="text-primary"><%= @list.name %></h1>
  </div>

  <% if @list.user.present? %>
    <div class="container px-2 mb-2">
      <% if @list.user == current_user %>
        <div class="d-flex flex-row bd-highlight mt-2" id="listOptions">
          <a class="bd-highlight pr-2 text-primary" style="cursor: pointer;" data-toggle="modal" data-target="#editListModal">Renommer</a>
           <%= link_to "Supprimer", list_path(@list), method: :delete,  data: { confirm: 'Êtes-vous sûr ?' }, class:"bd-highlight px-2 text-secondary" %>
        </div>

      <% elsif @list.users.include?(current_user) %>
        <div class="d-flex flex-row bd-highlight mt-2" id="listOptions">
          <a class="bd-highlight pr-2 text-primary" style="cursor: pointer;" data-toggle="modal" data-target="#editListModal">Renommer</a>
           <%= link_to "Supprimer", list_collaboration_path(@list, current_user), method: :delete,  data: { confirm: 'Êtes-vous sûr ?' }, class:"bd-highlight px-2 text-secondary" %>
        </div>
      <% end %>
    </div>

  <% elsif @list.user.nil? %>
    <div class="container px-2 my-2">
      <div class="d-flex flex-row bd-highlight mt-2" id="listOptions">
       <%= link_to "Gérer à plusieurs", "", data: {toggle: "modal", target: ".bd-signup-modal-lg"}, class:"bd-highlight pr-2 text-primary", style:"text-decoration: none;" %>
        <a class="bd-highlight pr-2 text-primary" style="cursor: pointer;" data-toggle="modal" data-target="#editListModal">Renommer</a>
      </div>
    </div>
  <% end %>
</div>


<div class="banner container px-0 mt-2" id="todo_list" data="<%= @list.id %>">

  <%= render "todo_list", list: @list, list_items: @list_items, list_item: @list_item %>

</div>


<% if @recipes.present? %>
  <div class="container px-0 mt-3">

    <div id="selectedRecipes" class="row m-0">
        <% @recipes.each do |recipe| %>
          <%= render 'recipe_card', recipe: recipe, list: @list %>
        <% end %>
    </div>
  </div>
<% end %>


<div class="container my-5 px-1">
  <div class="jumbotron">
    <% if @list.user == current_user || @list.users.include?(current_user)  %>
      <h1>Vous avez terminé.e ?</h1>
    <% else %>
      <h1>La liste vous intéresse ?</h1>
    <% end %>
    <p class="lead">Enregistrez la liste pour la retrouver à tout moment.</p>
    <hr class="my-4">
    <% unless user_signed_in? %>
      <!--alter the login link to trigger the opening of the modal -->
      <%= link_to "Enregistrer la liste", "", data: {toggle: "modal", target: ".bd-signup-modal-lg"}, class:"btn btn-lg bg-success text-white", style:"text-decoration: none;" %>

    <% else %>
      <% if @list.user == current_user || @list.users.include?(current_user)  %>
        <%= link_to "Enregistrer la liste", list_save_path(@list), class:"btn btn-lg bg-success text-white" %>

      <% elsif @list.user != current_user %>

        <%= link_to "Enregistrer la liste", list_copy_path(@list), class:"btn btn-lg bg-success text-white" %>
      <% elsif @list.users.exclude?(current_user) &&  @list.user != current_user %>

        <%= link_to "Enregistrer la liste", list_copy_path(@list), class:"btn btn-lg bg-success text-white" %>
      <% end %>
    <% end %>

  </div>
</div>


<div style="padding: 10px;"></div>

<% if user_signed_in? && current_user.beta == true %>
  <%= render "lists/get_price", list: @list, uncomplete_list_items: @uncomplete_list_items %>
<% end %>

<div style="padding: 50px;"></div>


<!-- Modal views  -->
  <!-- Edit List Modal -->
  <div class="modal fade" id="editListModal" tabindex="-1" role="dialog" aria-labelledby="editListModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editListModalLabel">Modifier la liste de courses</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-0 p-0">
          <%= render 'lists/form' %>
        </div>
      </div>
    </div>
  </div>

