<%= render "shared/navbar_list" %>

  <% if @list.user.nil? %>
      <%= render "lists/show_free", list: @list, list_items: @list_items, list_item: @list_item, recipes: @recipes %>

  <% elsif user_signed_in? %>
    <% if @list.user == current_user || @list.users.include?(current_user) %>
      <%= render "lists/show_owner", list: @list, list_items: @list_items, list_item: @list_item, recipes: @recipes %>

    <% elsif @list.user != current_user %>
      <%= render "lists/show_other_user", list: @list, list_items: @list_items, list_item: @list_item, recipes: @recipes %>
    <% end %>

  <% else user_signed_in? %>
      <%= render "lists/show_visitor", list: @list, list_items: @list_items, list_item: @list_item, recipes: @recipes %>

  <% end %>


<div style="padding: 10px;"></div>

<% if user_signed_in? && current_user.beta == true %>
  <%= render "lists/get_price", list: @list, uncomplete_list_items: @uncomplete_list_items %>
<% end %>

<div style="padding: 50px;"></div>


<!-- Modal views  -->
  <!-- Edit List Modal -->
  <div class="modal fade" id="editListModal" tabindex="-1" role="dialog" aria-labelledby="editListModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editListModalLabel">Modifier la liste de courses</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-0 p-2">
          <%= render 'lists/form' %>
        </div>
      </div>
    </div>
  </div>

    <!-- Edit List Item Modal -->
  <div class="modal fade" id="editListItemModal" tabindex="-1" role="dialog" aria-labelledby="editListItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editListModalLabel">Modifier</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-0 p-0">

          <div id="editListItemForm"></div>

        </div>
      </div>
    </div>
  </div>

