<% content_for :meta_title, "#{@list.name}" %>
<% content_for :meta_description, "#{@items.pluck(:name).join(", ").capitalize[0..255] if @items.any?}" %>

<div id="iOSInstallNavbar"></div>
<div id="androidInstallNavbar"></div>


<% if user_signed_in? %>
    <% if @list.user == current_user || @list.users.include?(current_user) %>
      <%= render "lists/show", list: @list, items: @items, item: @item, recipes: @recipes, saved_items: @saved_items %>
    <% else %>
      <%= render 'lists/select', list: @list, items: @items, item: @item, recipes: @recipes %>
    <% end %>

<% else  %>
  <% if @list.user.nil? %>
      <%= render "lists/show_free", list: @list, items: @items, item: @item, recipes: @recipes %>
  <% else  %>
      <%= render 'lists/select', list: @list, items: @items, item: @item, recipes: @recipes %>
  <% end %>
<% end %>






<!-- Modal views  -->
  <!-- Edit List Modal -->
  <div class="modal fade" id="editListModal" tabindex="-1" role="dialog" aria-labelledby="editListModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editListModalLabel">Modifier la liste de courses</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-0 p-2">
          <%= render 'lists/form' %>
        </div>
      </div>
    </div>
  </div>

    <!-- Edit List Item Modal -->
  <div class="modal fade" id="editListItemModal" tabindex="-1" role="dialog" aria-labelledby="editListItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editListModalLabel">Modifier</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-0 p-0">

          <div id="editListItemForm"></div>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body m-0 p-0 alert-primary" style="min-height: 50vh;">

          <div id="contentShow"></div>

        </div>
      </div>
    </div>
  </div>

