<div class="grocerylist-item-card">
  <div class="pl-3 pr-2 list-group-item list-group-item-action border-top border-bottom d-flex align-items-center justify-content-between">
    <div class="foodlist-item">
      <div class="d-flex w-90 justify-content-between">
        <h6 class="mb-1"><strong><%= fli.food.name.capitalize %></strong></h6>
      </div>
      <div class="d-flex w-90 justify-content-between">
        <small class="mb-1">
          <% if fli.food.store_items.where(is_available: true).any? %>
            <span class="badge badge-secondary">le moins cher</span>
            <%= fli.food.get_cheapest_store_item.name %> à <strong><%= fli.food.get_cheapest_store_item.price %>€</strong>
          <% else %>
            Aucun résultat disponible
          <% end %>
        </small>
      </div>
      <div class="d-flex w-90 justify-content-between">
        <small>
          <% if fli.food.store_items.where(is_available: true).any? %>
            <%= fli.food.get_cheapest_store_item.price_per_unit %>€/<%= fli.food.get_cheapest_store_item.product.unit.name %>
            <span>chez <%= fli.food.get_cheapest_store_item.store.name %></span>
          <% end %>
        </small>
      </div>
    </div>

    <% if params[:controller] == "food_lists" && params[:action] == "add" %>
     <%= link_to food_list_food_list_item_path(fli.food_list, fli), method: :delete, remote: true do %>
        <button type="button" class="close m-3" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
     <% end %>
    <% end %>

  </div>
</div>
