<div class="sticky-top bg-white">
  <div class="container px-2">
    <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between">
      <%= link_to :back, class:"navbar-brand text-muted d-flex align-items-center mr-auto bd-highlight" do %>
        <i class="fas fa-lg fa-arrow-left p-2"></i>
      <% end %>
      <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class:"btn btn-light btn-lg border text-danger", id:"signout" %>
    </nav>
  </div>
</div>



<div class="wrapper bg-white">
  <div class="container mt-2 px-0">
    <div class="jumbotron bg-white" id="signupPage">
      <div class="row">
        <div class="col-md-12 my-auto">
          <h1 class="font-weight-bold text-secondary">Modifier votre profil</h1>
          <hr class="my-4">
            <div class="errors"></div>
            <% if flash[:alert].present? %>
              <p class="alert alert-danger"><%= flash[:alert] %></p>
            <% end %>
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.error_notification %>
              <div class=" my-3">
                <%= f.input :username,
                            required: true,
                            label: false,
                            placeholder: "Entrez un nom d'utilisateur",
                            hint: "Seuls les lettres, les chiffres et les traits de soulignement sont autorisés. 2 caractères minimum.",
                            input_html: { autocomplete: "nom d'utilisteur", class:"py-3 px-2 rounded autofocus form-control form-control-lg font-weight-bold" }
                             %>
                <%= f.input :email,
                            required: true,
                            label: false,
                            placeholder: "Entrez votre email",
                            input_html: { autocomplete: "email",class:"py-3 px-2 rounded form-control form-control-lg font-weight-bold" }%>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>En attente de confirmation pour: <%= resource.unconfirmed_email %></p>
                <% end %>
                <%= f.input :current_password,
                            hint: "Nous avons besoin de votre mot de passe pour confirmer vos modifications.",
                            required: true,
                            label: false,
                            placeholder: "Votre mot de passe",
                            input_html: { autocomplete: "current-password", class:"text-primary py-3 px-2 rounded form-control form-control-lg" }
                             %>
              </div>
              <div class="form-actions d-flex justify-content-end">
                <%= f.button :submit, "Mettre à jour", class: "btn btn-light border btn-lg mb-3 px-5" %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
