

<%= render 'shared/navbar_black' %>
<div class="banner d-flex flex-column my-3">

  <div class="container my-3 px-2">

    <div class="jumbotron bg-white" id="signupPage">
      <div class="row">

        <div class="col-md-6 my-auto">
          <h1 class="bigh1 font-weight-bold">Créez un compte</h1>
          <p class="lead">C'est gratuit et pratique <strong class="text-primary"> pour enregistrer vos listes et retrouver vos recettes en favoris</strong>.</p>
          <hr class="my-4">

            <div class="errors"></div>
            <% if flash[:alert].present? %>
              <p class="alert alert-danger"><%= flash[:alert] %></p>
            <% end %>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>

              <div class=" my-3">
                <%= f.input :email,
                            label: false,
                            placeholder: "Adresse email",
                            input_html: { autocomplete: "email", value: params[:user_email], class:"py-3 px-2 rounded autofocus form-control form-control-lg font-weight-bold" }%>
                <%= f.input :password,
                            label: false,
                            placeholder: "Mot de passe",
                            input_html: { class:"py-3 px-2 rounded autofocus form-control form-control-lg" }
                             %>
                <%= hidden_field 'shared_list', params[:shared_list] %>
              </div>

              <div class="form-actions d d-flex justify-content-end">
                <%= f.button :submit, "Continuer", class: "btn btn-flat2 btn-lg mb-3 px-5" %>
              </div>
            <% end %>

        </div>
        <div class="col-md-6 d-flex justify-content-center my-auto">
         <%= link_to "Vous avez déjà un compte?", new_session_path(resource_name), class:"lead font-weight-bold d-flex justify-content-end text-center my-2" %>

        </div>
      </div>

    </div>


  </div>
</div>

