<div class="container">
  <div class="shadow p-2 mt-5 mb-5 bg-white rounded">
      <h2 class="mb-3">Créer un compte</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="">
          <%= f.input :email,
                      label: false,
                      placeholder: "Adresse email",
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      label: false,
                      placeholder: "Mot de passe" %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Inscription", class: "btn btn-lg btn-flat mb-3" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

  </div>
</div>

