<%= render 'shared/admin-navbar' %>


<div class="container">

  <div class="row">
    <h1><strong><%= @recommendation.name %></strong></h1>
    <h3>by <%= @recommendation.user.username %></h3>
    <h5><%= link_to 'EDIT', edit_recommendation_path(@recommendation) %></h5>
    <p>Schedule Date: <strong>week <%= @recommendation.date.strftime('%W') %></strong></p>
  </div>

  <div class="row">
    <h5>Description:</h5>
    <p><%= @recommendation.description %></p>
    <h5>Image url:</h5>
    <%= link_to 'View image', @recommendation.image_url, :target => "_blank" %>
    <h5>Url Link:</h5>
    <%= link_to 'View website', @recommendation.link, :target => "_blank" %>
  </div>


</div>
