
  <%= simple_form_for @recipe_list do |f| %>

    <%= f.input :tag_list, input_html: {value: f.object.tag_list.to_s} %>

    <%= f.input :name, placeholder: "Leave empty to generate automatically", class: 'form-control' %>
    <%= f.collection_select :user_id, User.where(:username => "Mama"), :id, :username, class: 'form-control' %>
    <%= f.input :description, type: "Add a description", as: :text, class: 'form-control' %>


    <h3>Recipes:</h3>

    <%= f.collection_select :recipe_ids, Recipe.where(status: "published").order(:created_at).reverse, :id, :title, {}, multiple: true, placeholder: "Select recipe", class: 'form-control select'%>

    <%= f.submit "Validate", class: "form-control btn-primary" %>
  <% end %>
