
  <%= render 'shared/admin-navbar' %>


<div class="container my-auto d-flex flex-column justify-content-start align-items-start">
  <!-- Button trigger New curated recipe list modal -->
  <button class="h1 font-weight-bold btn btn-primary m-3" style="cursor: pointer;" data-toggle="modal" data-target="#createCuratedRecipeListModal">Nouvelle catégorie</button>
</div>

<!-- Create Recipe List Modal -->
<div class="modal fade" id="createCuratedRecipeListModal" tabindex="-1" role="dialog" aria-labelledby="createCuratedRecipeListModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createCuratedRecipeListModalLabel">🍔 Nouvelle catégorie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-0 p-0">

        <%= simple_form_for @recipe_list do |f| %>
          <div class="p-3 bg-white">
            <%= f.input :name, :autofocus => true, label: false, placeholder: "Donnez un nom à votre menu", input_html: { class:"rounded-0 autofocus" } %>
            <%= f.collection_select :user_id, User.where(:username => "Mama"), :id, :username, :wrapper_html=> { class: "m-0" }  %>
            <%= f.input :recipe_list_type, input_html: {value: "curated"}, :as => :hidden, :wrapper_html=> { class: "m-0" }  %>
            <%= f.input :status, input_html: {value: "saved"}, :as => :hidden, :wrapper_html=> { class: "m-0" }  %>
            <%= f.collection_select :recipe_ids, Recipe.where(status: "published").order(:created_at).reverse, :id, :title, {}, multiple: true, placeholder: "Select recipe", class: 'form-control select'%>
          </div>
          <div class="modal-footer bg-white">
            <button type="button" class="btn btn-secondary py-2 closeModal" data-dismiss="modal">Annuler</button>
            <%= f.submit "Continuer", class:"btn btn-flat px-5" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<div class="container my-3">

    <div class="row">
      <% @recipe_lists.order(:id).each do |recipe_list| %>
        <div class="col-sm-6 p-1">
          <%= link_to recipe_list_path(recipe_list), style:"text-decoration: none;" do %>
            <div class="card bg-white shadow border-0" style="height: 120px;">
              <div class="card-body">
                <h5 class="card-title"><%= recipe_list.name %></h5>
      <!--           <div class="text-muted giveMeEllipsis">
                  <span><%= recipe_list.recipes.first(8).map(&:title).join(", ") %></span>
                </div> -->
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

</div>



