  <%= render 'shared/navbar' %>


<div class="container bg-white">

    <div class="text-left text-muted" >
      <div class="search-form-control form-group my-2 shadow-lg">
          <%= form_tag(search_recipe_list_path, :method => "get", remote: true, authenticity_token: true) do %>
            <%= text_field_tag :query, params[:query], placeholder: "🔎 Chercher une recette", required: true, class:"form-control" %>

            <%= button_tag(class: "btn btn-sm btn-primary", id:"searchRecipesBtn") do %>
              Chercher
            <% end %>
          <% end %>
      </div>
    </div>

</div>

<div class="container d-flex justify-content-center p-1 my-2">
  <div class="btn-group">
    <button type="button" class="btn btn-primary btn-lg dropdown-toggle border-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Explorer les catégories
    </button>
    <div class="dropdown-menu">
      <% @categories.recommendation_items.order(:id).each do |recommendation| %>
        <%= link_to "#{recommendation.name}", category_recipe_list_path(@recipe_list, :recommendation_item_id => recommendation.id), class:"dropdown-item" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container my-4 px-0" id="searchRecipes" data="<%= @recipe_list.id %>">
  <div class="recipesGrid">
    <%= render 'recipe_lists/cards_grid', recipes: @recipes %>
  </div>
</div>

<div style="padding: 50px;"></div>

<div id="explore" data="<%= @recipe_list.id %>">
</div>

<div class="container fixed-bottom p-2" id="goToMenuBtn">
  <%= link_to "Voir la sélection", recipe_list_path(@recipe_list), class:"btn btn-block btn-flat py-3" %>
</div>
