<%= render 'shared/admin-navbar' %>


<div class="container">

  <div class="row">
    <h1><strong><%= @recipe_list.name %></strong></h1>
    <h5><%= link_to 'EDIT', edit_recipe_list_path(@recipe_list) %></h5>
    <p><%= @recipe_list.description %></p>
    <h3><%= @recipe_list.get_top_foods[0..5].join(", ") %></h3>
  </div>

  <div class="row">
    <h3>Foodlist:</h3>
    <h5><%= @recipe_list.foods.uniq.size %> foods</h5>
    <%= show_shelves(@recipe_list.foods) %>
  </div>


  <div class="row">
    <h3>Recipes:</h3>
    <ol>
      <% @recipe_list.recipe_list_items.order(:id).each do |rli| %>
        <li>
          (<%= rli.id %>)
          <%= link_to rli.recipe.title, recipe_path(rli.recipe) %>
        </li>
      <% end %>
    </ol>
  </div>

  <div class="row">
    <h3>Recommendations:</h3>
    <ul>
      <% @recipe_list.recommendations.order(:id).each do |reco| %>
        <li>
          (<%= reco.id %>)
          <%= link_to reco.name, recommendation_path(reco) %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
