<div class="container d-flex justify-content-center p-1 my-0">
  <small class="text-muted d-flex justify-content-start p-2"><%= @recipe_list.name %></small>
</div>


<div class="container d-flex justify-content-between ">
  <% if @recipe_list.user == current_user %>
    <!-- dropdown button -->
    <div class="btn-group">
      <button type="button" class="m-2 btn btn-outline-secondary rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>
      <div class="dropdown-menu dropdown-menu-right">
        <!-- Option modal for owner -->
          <a class="btn dropdown-item" data-toggle="modal" data-target="#editListModal">Modifier le titre</a>

          <div class="dropdown-divider"></div>
            <%= link_to "Supprimer", recipe_list_path(@recipe_list), method: :delete,  data: { confirm: 'Êtes-vous sûr ?' }, class:"dropdown-item text-danger" %>
       </div>
    </div>
  <% end %>


  <%= link_to 'Fermer', recipe_lists_path, class:"btn close m-2 px-0" %>
</div>


<div class="container">
  <%= render 'shared/flashes' %>
</div>


<div class="container px-0" id="recipe_list" data="<%= @recipe_list.id %>">
  <%= render "content", recipe_list: @recipe_list %>
</div>



<div style="padding: 50px;"></div>
