
<div class="container d-flex justify-content-between my-2">
  <% if @recipe_list.user == current_user %>
    <!-- dropdown button -->
    <div class="btn-group">
      <button type="button" class="m-2 btn btn-outline-secondary rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>
      <div class="dropdown-menu dropdown-menu-right">
        <!-- Option modal for owner -->
          <a class="btn dropdown-item" data-toggle="modal" data-target="#editListModal">Modifier le titre</a>

          <div class="dropdown-divider"></div>
            <%= link_to "Supprimer", recipe_list_path(@recipe_list), method: :delete,  data: { confirm: 'Êtes-vous sûr ?' }, class:"dropdown-item text-danger" %>
       </div>
    </div>
  <% end %>


  <%= link_to 'Fermer', root_path, class:"btn close m-2 px-0" %>
</div>



<div class="container text-center p-1 mb-4">
  <p class="m-0 lead"><strong class="btn-outline-primary"><%= @recipe_list.name %></strong></p>
</div>


<div class="container px-0" id="recipe_list" data="<%= @recipe_list.id %>">
  <div class="row">
    <div class="col-md-8">
      <%= render "content", recipe_list: @recipe_list %>
    </div>
  </div>
</div>



<div style="padding: 50px;"></div>

<%= render 'recipe_lists/add_to_list', recipe_list: @recipe_list %>
