<% content_for :meta_title, "Sélection de recettes" %>
<% content_for :meta_description, "Sélectionnez les recettes qui vous plaisent pour vos prochains repas !" %>

<% unless ["add_to_homescreen"].include?(params[:action])%>
  <div id="iOSInstallNavbar"></div>
  <div id="androidInstallNavbar"></div>
<% end %>

<%= render 'shared/nav_actions' %>



<div class="container px-0 mb-5">
  <div id="recipesCuisine">
    <div id="recipesHeader" class="d-flex flex-column align-items-center justify-content-center">
      <h1 class="text-muted text-center">
        Sélection
      </h1>
      <p class="text-muted text-center m-0">de <%= @recipe_list.user.username %> </p>
    </div>

    <div class="container">
      <%= render 'shared/flashes' %>
    </div>

    <div class="d-flex flex-column align-items-center justify-content-center">
      <% if @recipes.present? %>

        <div id="recipeElements" class="col-sm-4 my-auto">

          <% if @recipe_list.poll? && ["poll"].include?(params[:type])%>
            <div class="jumbotron text-center text-white mb-2 p-3" style="background: linear-gradient(0deg, rgb(249, 66, 6),rgb(250, 134, 22),rgb(251, 202, 37));">
              <p class="lead m-0"><i class="fas fa-check-square"></i> Votez pour les recettes que vous donnent envie !</p>
            </div>
          <% end %>

          <%= render partial: 'recipe_list_items/recipe_list_item_card', collection: @recipe_list.recipe_list_items.sort_by{|rli| rli.recipe.title.parameterize }, as: :recipe_list_item, locals: {list: nil } %>

        </div>

      <% else %>
          <div class="d-flex align-items-center m-2 mt-5">
            <div id="description">
              <div class="d-flex w-100 flex-column mb-0">
                <p class="text-muted">Il n'y a pas de recette.</p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>



<div style="padding: 50px;"></div>

<% if @recipe_list.poll? && ["poll"].include?(params[:type])%>
    <nav class="wrapper nav-light fixed-bottom bg-white">
        <div class="d-flex justify-content-center">
          <button class="btn btn-lg btn-light shadow-lg border rounded m-1"  id="voteBtn" data="<%= @recipe_list.id %>">
            Valider mon vote
         </button>
        </div>

    </nav>
<% end %>
