<%= render 'shared/admin-navbar' %>


<div class="container">
  <h1><strong><%= @recipe_list.name %></strong></h1>
  <h5><%= @recipe_list.description %></h5>
  <h4>#<%= @recipe_list.tag_list %></h4>
  <% unless @recipe_list.user.nil? %>
    <h3>by <%= @recipe_list.user.username %></h3>
  <% end  %>
  <h5><%= link_to 'Modifier la liste', edit_recipe_list_path(@recipe_list), class:"btn btn-outline-primary" %></h5>
</div>


<div class="container">
  <h3>Checklist:</h3>
  <ul>
    <%= @checklist["seasonal vegetables"] ? "✅ légumes de saison" : "❌ légumes de saison" %>
    <%= @checklist["cruciferous vegetables"] ? "✅ légumes crucifères" : "❌ légumes crucifères" %>
    <%= @checklist["leafy vegetables"] ? "✅ légumes feuilles" : "❌ légumes feuilles" %>
    <%= @checklist["legumes"] ? "✅ légumes secs" : "❌ légumes secs" %>
    <%= @checklist["cereals"] ? "✅ céréales" : "❌ céréales" %>
    <%= @checklist["oleaginous"] ? "✅ oléagineux" : "❌ oléagineux" %>
  </ul>
</div>

<div class="container">
  <h3>Recipes:</h3>
  <ol>
    <% @recipe_list.recipe_list_items.order(:id).each do |rli| %>
      <li>
        (<%= rli.id %>)
        <%= link_to rli.recipe.title, recipe_path(rli.recipe) %>
      </li>
    <% end %>
  </ol>
</div>

<div class="container">
  <h3>Recommendations:</h3>
  <ul>
    <% @recipe_list.recommendations.order(:id).each do |reco| %>
      <li>
        (<%= reco.id %>)
        <%= link_to reco.name, recommendation_path(reco) %>
      </li>
    <% end %>
  </ul>
</div>


