<div class="container my-5">
  <h1 class="display-4 font-weight-bold mb-0"><%= @store.name %></h1>
  <p class="ml-1 text-muted">Catalogue du magasin <%= @store.store_type %></p>
</div>

<hr class="my-4">

<% if @food %>
  <%= render 'stores/food_catalog', food: @food %>
<% elsif @store_shelf  %>
  <%= render 'stores/product_shelf', store_shelf: @store_shelf %>
<% elsif @store_item  %>
  <%= render 'stores/store_item', store_item: @store_item %>
<% end %>

