<%= render 'shared/admin-navbar' %>

<div class="container my-5">
  <h1 class="display-4 font-weight-bold"><%= @store.name.capitalize %></h1>
  <p class="ml-1 text-muted">Catalogue du magasin <%= @store.store_type %></p>
</div>

<hr class="my-5">


<div class="container my-5">
  <div class="list-group">
    <% @store_sections.each do |store_section| %>
      <div class="d-flex align-items-center">
        <li class="lead text-primary mr-1"><%= link_to store_section.name, store_store_section_path(@store, store_section_item_id: store_section.id) %></li>
        <small><%= store_section.get_store_section.name if store_section.get_store_section.present? %></small>
      </div>
    <% end %>
  </div>
</div>
