<%= render 'shared/admin-navbar' %>

<div class="container my-5">
  <h1 class="display-4 font-weight-bold"><%= @store.name.capitalize %></h1>
  <p class="ml-1 text-muted">Catalogue du magasin <%= @store.store_type %></p>
</div>

<hr class="my-5">

<div class="container my-5">
  <%= link_to "Accueil", store_path(@store), class:"btn btn-light border" %>
  <% if @root %>
    <%= link_to @root.name, store_store_section_path(@store, store_section_item_id: @root.id), class:"btn btn-light border" %>
  <% end %>
  <% if @parent %>
    <%= link_to @parent.name, store_store_section_path(@store, store_section_item_id: @parent.id), class:"btn btn-light border" %>
  <% end %>

  <h2 class="mb-0 mt-2"><%= @store_section.name %></h2>
  <%= link_to "Modifier", edit_store_store_section_item_path(@store, @store_section), class:"btn btn-primary" %>
  <small><%= @store_section.get_category.name if @store_section.get_category.present? %></small>
</div>



<% if @children %>
  <div class="container my-5">
    <div class="list-group">
      <% @children.each do |store_section| %>
        <div class="d-flex align-items-center">
          <li class="lead text-primary mr-2"><%= link_to store_section.name, store_store_section_path(@store, store_section_item_id: store_section.id) %></li>
          <small><%= store_section.get_category.name if store_section.get_category.present? %></small>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
