<%= link_to "Créer un nouveau panier", add_to_cart_store_store_cart_path(store_cart.store, store_cart), class:"btn btn-outline-primary text-center m-3" %>

<% if carts.any?  %>
  <small class="text-muted px-3 ">ou sélectionner un panier déjà créé:</small>
  <% carts.each do |cart| %>

    <%= link_to add_to_cart_store_store_cart_path(store_cart.store, store_cart, :cart => cart), class:"list-group-item list-group-item-action border-0" do %>
      <div class="d-flex align-items-center justify-content-between">
        <div id="cart-description">
          <div class="d-flex w-100 flex-column mb-0">
            <h5 class="mb-0 text-primary"><small>Panier du <%= cart.created_at.strftime("%d/%m/%Y") %></small></h5>
          </div>
          <% if cart.cart_items.size > 0 %>
            <small class="text-muted">contient déjà <%= cart.cart_items.size %> <%= cart.cart_items.size > 1 ? "articles" : "article" %> pour un montant de</small>
            <h5 class="mb-0">
              <strong><%= cart.get_total_price %>€</strong>
            </h5>
          <% else %>
            <small class="text-muted">ce panier est vide</small>
          <% end %>
        </div>
        <div class="product-options d-flex flex-column align-items-center">
          <i class="fas fa-lg fa-angle-right p-1"></i>
        </div>
      </div>
    <% end %>

  <% end %>
<% end %>
