<div class="container d-flex justify-content-between mt-2 mb-4 pl-0" id="listStoreCart" data="<%= @list.id %>">
   <%= link_to 'Retour', list_path(@list), class:"btn close m-2" %>
</div>


<div class="container mt-3 mb-2">
  <div class="d-flex align-items-center justify-content-between p-1" id="storeCartType" data="list">
    <div>
      <h5 class="mb-0 font-weight-bold">Sélection 1er prix chez <strong class="btn-outline-primary"><%= @store.name %></strong></h5>
      <small class="text-muted p-0 pt-1">Cliquez sur un produit pour le changer.</small>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="shadow bg-white">
    <div class="list-group list-group-flush mb-2" id="storeCartItemsList">
      <% @store_cart_items.each do |store_cart_item| %>
        <%= render 'store_cart_items/show', store_cart_item: store_cart_item, store_item: store_cart_item.store_item, list: @list %>
      <% end %>
    </div>
  </div>
</div>

<div style="padding: 50px;"></div>

<div id="storeCartPrice" data="<%= store_cart.id %>">
</div>
