<div class="container mt-5">
  <div class="d-flex flex-column-reverse">
    <h1 class="font-weight-bold mb-0"><%= @list.name.capitalize %>  </h1>
    <p class="ml-1 text-muted mb-0">Sélection de produits chez <strong class="btn-outline-primary"><%= @store.name %></strong> pour:</p>
  </div>

</div>

<hr class="my-4">

<div class="container mt-3 mb-2">
  <div class="d-flex align-items-center justify-content-between p-1">
    <div>
      <h5 class="mb-0 font-weight-light">Sélection 1er prix</h5>
      <small class="text-muted p-0 pt-1">Cliquez sur un produit pour le changer.</small>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="shadow bg-white">
    <div class="list-group list-group-flush mb-2">
      <% @store_cart_items.each do |store_cart_item| %>
        <%= render 'store_cart_items/show', store_cart_item: store_cart_item, store_item: store_cart_item.store_item %>
      <% end %>
    </div>
  </div>
</div>

<div style="padding: 50px;"></div>

<!-- Button trigger Select Cart modal -->
<a class="btn fixed-bottom mt-5 btn-flat2 py-3 font-weight-bold" data-toggle="modal" data-target="#selectCartModal">Continer les courses | <%= StoreCart.get_store_cart_price(@store_cart_items) %>€</a>

<!-- Select Cart Modal -->
<div class="modal fade" id="selectCartModal" tabindex="-1" role="dialog" aria-labelledby="selectCartModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-white">
      <div class="modal-header">
        <h5 class="modal-title" id="selectCartModalLabel">Choisissez un panier de courses</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-0 p-0">
        <%= render 'store_carts/add_to_cart', carts: @carts, cart: @cart, store_cart: @store_cart %>
      </div>
    </div>
  </div>
</div>
