<div class="adminRecipe" id="recipe-id<%= recipe.id %>" data="<%= recipe.id %>">
  <li class="rounded alert-warning mb-1 p-1 d-flex align-items-center justify-content-between" >
    <div class="d-flex align-items-center">
      <div class="my-auto">
         <%= cl_image_tag("#{recipe.id}", :fetch_format=>:auto, :quality=>"auto:low", class:"avatar-large p-2", alt:"#{recipe.title}") %>
      </div>

      <div>
        <%= link_to recipe.link, target: "_blank", style:"text-decoration: none;", class:"recipeLinkClick" do %>
         <p class="li lead m-0 px-2 no-link text-primary font-weight-bold " style="cursor: pointer;" data="<%= recipe.id %>"><%= recipe.title %></p>
        <% end %>


        <div class="d-flex justify-content-start">
          <% if recipe.is_published? %>
            <%= link_to "Unpublish", set_dismissed_status_recipe_path(recipe), data: { confirm: 'Êtes-vous sûr ?' }, remote: true, class:"btn btn-sm btn-outline-danger" %>
          <% else %>
           <%= link_to "Publish", set_published_status_recipe_path(recipe), remote: true, class:"btn btn-sm btn-outline-success" %>
          <% end %>
          <%= link_to "x", recipe_path(recipe), data: { confirm: 'Êtes-vous sûr ?' }, remote: true, method: :delete, class:"btn btn-sm btn-danger mx-1" %>
        </div>

      </div>

    </div>
    <div class="d-flex align-items-center">

        <div class="btn-group" role="group">
          <% RecipeList.curated.each do |category| %>
            <span data-toggle="tooltip" title="<%= category.name %>" data="<%= category.id %>">
              <% if category.recipes.pluck(:id).include?(recipe.id) %>
                <%= link_to category.name[0], recipe_list_recipe_list_item_path(category, RecipeListItem.find_by(recipe_id: recipe.id, recipe_list_id: category.id)), method: :delete, remote: true, class:"btn btn-success rounded p-2 mr-1" %>
              <% else %>
                <%= link_to category.name[0], add_to_menu_recipe_path(recipe, recipe_list_id: category.id), remote: true, class:"btn btn-light rounded border p-2 mr-1" %>
              <% end %>
            </span>
          <% end %>
        </div>

    </div>
  </li>
</div>


