  <div class="list-group shadow">
    <% recipes.each do |recipe| %>

      <div class="list-group-item list-group-item-action" style="cursor: pointer;" data-toggle="modal" data-target="#showRecipeModal<%= recipe.id %>">
        <div class="d-flex align-items-center justify-content-between">
          <div id="description">
            <div class="d-flex w-100 flex-column mb-0">
              <h5 class="mb-0 text-primary"><%= recipe.title.capitalize %></h5>
            </div>
             <small class="text-muted"><%= recipe.origin %></small>
          </div>
          <div class="product-options d-flex flex-column align-items-center">
            <i class="fas fa-lg fa-angle-right p-1"></i>
          </div>
        </div>
      </div>


        <!-- show recipe Modal -->
        <div class="modal fade showRecipeModal" id="showRecipeModal<%= recipe.id %>" tabindex="-1" role="dialog" aria-labelledby="showRecipeModal<%= recipe.id %>Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content bg-white">

              <%= render "recipes/show_modal", recipe: recipe %>

            </div>
          </div>
        </div>


    <% end %>
  </div>



