<div class="card rounded my-2 mx-3" style="position: relative;" >

  <% if false %><%= render 'shared/recipe_tag', recipe: recipe %><% end %>

  <%= link_to recipe.link, target: "_blank", style:"text-decoration: none;", class:"recipeLinkClick", data:"#{recipe.id}" do %>
    <div class="d-flex text-dark mb-0 bd-highlight">
      <div class="my-auto">
         <%= cl_image_tag("#{recipe.id}", :fetch_format=>:auto, :quality=>"auto:low", class:"avatar-large p-2", alt:"#{recipe.title}") %>
      </div>
      <div class="card-body p-1 pr-2 my-auto">
        <p class="card-title mb-0 font-weight-bold text-primary"><%= truncate(recipe.title, length:260) %></p>
        <small class="text-muted" style="font-size: 0.4rem;"><%= URI("#{recipe.link}").host %></small>
      </div>
    </div>
  <% end %>
  <div class="card-footer bg-light border-light p-1 text-center d-flex justify-content-around align-items-center">
    <%= render 'shared/recipe_card_actions', recipe: recipe %>
  </div>
</div>

