<%= link_to recipe_path(recipe), class:"list-group-item list-group-item-action" do %>
  <div class="d-flex w-100 flex-column mb-1">
    <h5 class="mb-0" style="color:#FF3463;"><%= recipe.title.capitalize %></h5>
    <small>à partir de <strong><%= recipe.get_best_store.first %>€</strong> pour <%= recipe.servings %></small>
  </div>
  <p class="mb-1"><%= recipe.foods.map{ |item| item.name.capitalize}.join(', ') %></p>
  <small class="text-muted"><%= recipe.origin %></small>
<% end %>
