<div class="card border-0 shadow-sm" id="recipeCard<%= recipe.id %>" style="break-inside: avoid;">
  <%= link_to recipe.link, target: "_blank", style:"text-decoration: none;" do %>
    <%= cl_image_tag("#{recipe.id}", :width=>400, :height=>300, :fetch_format=>:auto, :crop=>"fill", :quality=>"auto:low", class:"card-img-top img-fluid") %>
    <div class="card-body p-2" style="height:6rem;">
      <h5 class="card-title text-primary mb-0" style="font-size: 0.9rem;"><%= recipe.title %></h5>
      <p class="card-text"><small class="text-muted" style="font-size: 0.6rem;"><%= URI("#{recipe.link }").host %></small></p>
    </div>
  <% end %>
  <div class="card-body text-center py-3 px-0">
    <% unless recipe_list.recipes.include?(recipe) %>
    <a href="#" class="card-link font-weight-bold border p-2 rounded" id="addToMenuBtn" data="<%= recipe.id %>" data-destination="<%= recipe_list.id %>" style="font-size: 0.8rem;">Ajouter</a>
    <% else %>
    <a class="text-muted disabled card-link font-weight-bold p-2 rounded" style="font-size: 0.8rem;">Ajouté !</a>
    <% end %>
  </div>
</div>



