<div id="recipe-id<%= recipe.id %>" data="<%= recipe.id %>">
  <li class="rounded alert-warning mb-1 py-3 px-2 d-flex align-items-center justify-content-between uncompleted" >
    <div class="d-flex align-items-center">
      <div id="isFavorite<%= recipe.id %>">
        <%= render 'shared/favorite', recipe: recipe %>
      </div>

       <% if list.present? %>
        <%= link_to recipe_path(recipe, l: list.id, ref: request.path, type: source_type, content: source_id ) do %>
           <p class="li lead m-0 px-2 no-link text-primary font-weight-bold " style="cursor: pointer;" data="<%= recipe.id %>"><%= recipe.title %></p>
         <% end %>
       <% else %>
        <%= link_to recipe_path(recipe, ref: request.original_url) do %>
           <p class="li lead m-0 px-2 no-link text-primary font-weight-bold" style="cursor: pointer;" data="<%= recipe.id %>"  data-ref="request.path"><%= recipe.title %></p>
         <% end %>
       <% end %>
    </div>
    <div class="d-flex align-items-center">
      <p style="" class="lead font-weight-bold text-muted text-right m-0">
        <%= render "shared/score_preview", points: ItemHistory.get_score(recipe.items) %>
      </p>

    </div>
  </li>
</div>


