<div class="card mb-2 rounded m-2" style="position: relative;" >
  <%= render 'shared/recipe_tag', recipe: recipe %>
  <%= link_to recipe.link, target: "_blank", style:"text-decoration: none;", class:"recipeLinkClick", data:"#{recipe.id}" do %>
    <div class="d-flex text-dark mb-0 bd-highlight">
      <div class="mr-2 p-2 my-auto">
         <%= cl_image_tag("#{recipe.id}", :fetch_format=>:auto, :quality=>"auto:low", class:"avatar-large", alt:"#{recipe.title}") %>
      </div>
      <div class="card-body p-1 my-auto">
        <p class="card-title mb-0 font-weight-bold text-primary"><%= truncate(recipe.title, length:260) %></p>
        <small class="text-muted" style="font-size: 0.6rem;"><%= URI("#{recipe.link}").host %></small>
      </div>
    </div>
  <% end %>
  <div class="card-footer bg-light border-light p-2 text-center d-flex justify-content-around align-items-center">
    <%= render 'shared/recipe_card_actions', recipe: recipe %>
  </div>
</div>

