<% recipe.sort_by_store_sections.each do |key, array| %>
  <% if array.any? %>
    <div id="<%= key.parameterize(separator: '') %>">
      <div id="<%= key.parameterize(separator: '') %>Header">
        <ul class="border-0 list-group-item d-flex align-items-center justify-content-between pl-1 pb-0" >
          <div class="d-flex align-items-center">
            <p class="m-0 p-1 font-weight-bold lead"><%= key %></p>
          </div>
        </ul>
      </div>
      <div class="recipeItem<%= recipe.id %>">
        <%  array.sort_by{|e| e.name.parameterize }.each do |item| %>
          <div class="d-flex align-items-center">
            <%= render 'items/selected_item', item: item %>
            <% if user_signed_in? && current_user.admin == true %>
              <%= link_to edit_item_path(item), target: "_blank" do  %>
                <i class="fas fa-edit m-0 p-0"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  <% end %>
<% end %>
