<% recipe.sort_by_store_sections.each do |key, array| %>
  <% if array.any? %>
    <div id="<%= key.parameterize(separator: '') %>">
      <div id="<%= key.parameterize(separator: '') %>Header">
        <ul class="border-0 list-group-item rounded-top d-flex align-items-center justify-content-between pl-1 pb-0 m-0">
          <div class="d-flex align-items-center">
            <p class="m-0 p-1 font-weight-bold lead text-muted"><%= key %></p>
          </div>
        </ul>
      </div>
      <div class="recipeItem<%= recipe.id %>">
        <%  array.sort_by{|e| e.name.parameterize }.each do |item| %>
          <% if item.category.present? %>
            <%= render 'items/selected_item', item: item %>
          <% end %>
        <% end %>

      </div>
    </div>
  <% end %>
<% end %>
