
<div class="container my-4  text-center">
  <div class="jumbotron jumbotron-fluid bg-white py-3">
      <div class="row">
        <div class="col-md-6 p-0 my-auto d-flex flex-column p-2">
          <h1 class="bigh1 font-weight-bold"><%= recipe.title %></h1>
          <p class="m-0 p-1 lead"><%= link_to "#{URI("#{recipe.link }").host}", recipe.link, target: "_blank", class:"recipeLinkClick" %></p>

          <div class="d-flex justify-content-center my-2">
            <%= link_to "Voir la recette", recipe.link, target: "_blank", class:"btn btn-primary recipeLinkClick m-1 px-4" %>
            <% if user_signed_in? %>
              <div id="isFavorite<%= recipe.id %>" class="m-1">
                <%= render 'shared/favorite', recipe: recipe %>
              </div>
            <% end %>
          </div>
          <div class="d-flex justify-content-center">
             <div class="d-flex flex-column col-6 justify-content-center">
                <!-- Trigger -->
                <button class="clipboard-btn btn btn-light border text-secondary" data-clipboard-target="#recipeLink" id="copyLink">
                    Copier le lien <i class="fas fa-copy ml-1"></i>
                </button>
                <!-- Target -->
                <input class="form-control p-0" type="text" style="opacity: 0;" id="recipeLink" value="<%= recipe_url(recipe) %>">

              </div>
          </div>
         </div>

        <div class="col-md-6 text-center p-0">
          <%= cl_image_tag("#{recipe.id}", :width=>270, :fetch_format=>:auto, :quality=>"auto:low", class:"shadow rounded") %>
        </div>
      </div>
      <hr class="my-4">
      <p class="lead">Sélectionnez les produits qui vous intéressent.</p>
      <a class="btn btn-light border text-primary btn-lg selectAllRecipeItemsBtn" data="<%= recipe.id %>" style="cursor: pointer;" role="button">Tout sélectionner</a>

  </div>
</div>




<div class="wrapper" style="min-height: 90vh;">
  <div class="container mb-3 px-2">
    <div class="shadow rounded">
      <div class="list-group list-group-flush" id="uncomplete_list_items">

          <%= render "recipes/unselected_items", recipe: recipe %>

      </div>
    </div>
  </div>
</div>

<div style="padding: 50px;"></div>

<% if false %>
<div class="fixed-bottom bg-white">
  <div class="wrapper py-2">
    <nav class="p-0 navbar navbar-expand-lg d-flex align-items-center justify-content-center">
      <div class="container px-2 d-flex flex-column ">
        <div class="d-flex justify-content-center">

          <button class="btn-warning btn btn-lg" id="getListBtn" context="recipe" source="<%= recipe.id %>" list-data="<%= list.id if params[:l].present? %>" recipe-data="<%= recipe.id %>">Continuer votre liste de courses</button>
        </div>
      </div>
    </nav>
  </div>
</div>
<% end %>
