<%= render "shared/navbar_recipe", recipe: recipe %>


<div class="container my-4">
  <div class="jumbotron py-3">
      <div class="row">
        <div class="col-md-6 p-0 my-auto d-flex flex-column p-2">
          <h1 class="display-4"><%= recipe.title %></h1>
          <p class="m-0 p-1 lead"><%= link_to "#{URI("#{recipe.link }").host}", recipe.link, target: "_blank", class:"recipeLinkClick" %></p>

          <div class="d-flex my-2">
            <%= link_to "Voir la recette", recipe.link, target: "_blank", class:"btn btn-primary recipeLinkClick m-1" %>
            <% if user_signed_in? %>
              <div id="isFavorite<%= recipe.id %>" class="m-1">
                <%= render 'shared/favorite', recipe: recipe %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-6 text-center p-0">
          <div style="padding: 10px;"></div>
          <%= cl_image_tag("#{recipe.id}", :width=>270, :fetch_format=>:auto, :quality=>"auto:low", class:"shadow rounded") %>
        </div>
      </div>
      <hr class="my-4">
      <p class="lead">Sélectionnez les produits qui vous intéressent.</p>
      <a class="btn btn-light border btn-lg selectAllRecipeItemsBtn" data="<%= recipe.id %>" style="cursor: pointer;" role="button">Tout sélectionner</a>

  </div>
</div>




<div class="wrapper" style="min-height: 90vh;">
  <div class="container mb-3">
    <div class="shadow rounded">
      <div class="list-group list-group-flush p-1" id="uncomplete_list_items">

          <%= render "recipes/unselected_items", recipe: recipe %>

      </div>
    </div>
  </div>
</div>

<div style="padding: 50px;"></div>


<div class="fixed-bottom bg-white">
  <div class="wrapper py-2">
    <nav class="p-0 navbar navbar-expand-lg d-flex align-items-center justify-content-center">
      <div class="container px-2 d-flex flex-column ">
        <div class="d-flex justify-content-center">

          <button class="btn-warning btn-lg" id="getListBtn" context="recipe" source="<%= recipe.id %>" list-data="<%= list.id if params[:l].present? %>" recipe-data="<%= recipe.id %>">Continuer votre liste de courses</button>
        </div>
      </div>
    </nav>
  </div>
</div>
