<% if current_user && current_user.admin == true %>
  <%= link_to "god view", god_show_recipe_path(@recipe) %>
<% end %>


<div id="flash">
  <% if notice.present? %>
    <%= render "shared/flashes" %>
  <% end %>
</div>



<div class="container my-4">
  <h1 class="mb-0"><%= @recipe.title.capitalize %></h1>
  <p class="ml-1 text-muted">de <%= @recipe.origin %></p>
</div>


<div class="container mt-3">
  <div class="shadow p-3 mb-1 text-white rounded" style="background-color: #FF3463;">
    <div class="mb-2">
      <h3 class="pl-0 pr-0 mb-0" id="title">Liste de courses pour <%= @recipe.servings %></h3>
      <small class="grocerylist-count"><%= @recipe.items.size %></small><small></%> <%= @recipe.items.size < 2 ?  " élément" : " éléments" %></small>
    </div>
    <!-- Button trigger Add to List modal -->
    <button type="button" class="btn-sm text-white" style="background-color: #FF3463;" data-toggle="modal" data-target="#addToListModal">
      <strong>➕ Tout ajouter à ma liste</strong>
    </button>
  </div>
</div>



<div class="container mb-3">
  <div class="shadow p-0 bg-white rounded">
    <div class="list-group list-group-flush" id="list_items">
      <% if @recipe.items.any? %>
        <% @recipe.items.order(:id).each do |item| %>
          <%= render 'items/show', item: item %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-end">

    <%= link_to "Voir la recette", @recipe.link, class:"ml-1 btn btn-sm btn-flat", style:"color:#FF3463;", target: "_blank" %>
</div>


<div class="container mt-3">
  <div class="shadow p-3 mb-1 text-white rounded d-flex align-items-center justify-content-between" style="background-color: #1BCB7F;">
    <div>
      <h3 class="pl-0 pr-0 mb-0" id="title">Paniers de courses</h3>
    </div>
  </div>
</div>

<div class="container mb-5">
  <h5 class="p-3 mb-0 font-weight-light">Sélections 1er prix</h5>

  <%= render 'recipes/store-benchmark' %>

</div>


<!-- Add to List Modal -->
<div class="modal fade" id="addToListModal" tabindex="-1" role="dialog" aria-labelledby="addToListModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addToListModalLabel">Choisir une liste de courses</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-0 p-0">
        <%= render 'lists/recipe_select_list' %>
      </div>
    </div>
  </div>
</div>

