<div class="container d-flex justify-content-start mt-2 mb-4 pl-0" id="recipeId", data="<%= recipe.id %>">
   <%= link_to 'Retour', :back, class:"btn close m-2 px-0" %>
</div>


<% if current_user && current_user.admin == true %>
  <%= link_to "god view", god_show_recipe_path(recipe) %>
<% end %>


<div class="container" id="flash">
  <% if notice.present? %>
    <%= render "shared/flashes" %>
  <% end %>
</div>



<div class="container my-5">
  <h1 class="font-weight-bold"><%= recipe.title.capitalize %></h1>
  <strong><%= link_to "Voir la recette sur le site de #{recipe.origin}", recipe.link, target: "_blank" %></strong>
</div>


<hr class="my-4">


<div class="container d-flex justify-content-between">
  <div class="mb-1 p-1 d-flex flex-column justify-content-start">
    <div>
      <h2 class="pl-0 pr-0 font-weight-bold" id="title">Liste de courses pour <%= recipe.servings %></h2>
      <div class="d-flex">
        <h5 class="font-weight-light grocerylist-count mr-1"><%= recipe.items.size %></h5> <h5 class="font-weight-light"></%> <%= recipe.items.size < 2 ?  " élément" : " éléments" %></h5>
      </div>
    </div>
  </div>
    <!-- Button trigger Add to List modal -->
  <div class="p-1 align-self-center">
    <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#addToListModal">
      <strong>Tout ajouter <br>à ma liste</strong>
    </button>
  </div>
</div>



<!-- Add to List Modal -->
<div class="modal fade" id="addToListModal" tabindex="-1" role="dialog" aria-labelledby="addToListModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addToListModalLabel">Choisir une liste de courses</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-0 p-0">
        <%= render 'lists/recipe_select_list', recipe: recipe %>
      </div>
    </div>
  </div>
</div>


<div class="container mb-3">
  <div class="shadow p-0 bg-white rounded">
    <div class="list-group list-group-flush" id="list_items">
      <% if recipe.items.any? %>
        <% recipe.items.order(:id).each do |item| %>
          <%= render 'items/show', item: item, recipe: recipe %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<div class="container mb-5">
  <!-- Button trigger Select Store modal -->
  <a class="btn btn-block btn-flat2 py-3 font-weight-bold" data-toggle="modal" data-target="#selectStoreModal">Courses à partir de <%= Store.get_cheapest_store_price(recipe.items) %>€</a>
</div>

  <!-- Select Store Modal -->
  <div class="modal fade" id="selectStoreModal" tabindex="-1" role="dialog" aria-labelledby="selectStoreModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-white">
        <div class="modal-header">
          <h5 class="modal-title" id="selectStoreModalLabel">Choisissez un magasin</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-0 p-0">
          <%= render 'recipes/select_store', recipe: recipe %>
        </div>
      </div>
    </div>
  </div>

