
<% if recipe.items.any? %>
    <% StoreSection.order(:position).each do |store_section| %>
        <div id="<%= store_section.name.parameterize(separator: '') %>" class="listHeader">
          <div id="<%= store_section.name.parameterize(separator: '') %>Header">
            <ul class="border-0 d-flex align-items-center justify-content-between pl-1 pb-0 m-0" style="filter: brightness(1.40);">
              <div class="d-flex align-items-center">
                <p class="m-0 p-1 font-weight-bold lead"><%= store_section.name %></p>
              </div>
            </ul>
          </div>
          <div id="<%= store_section.name.parameterize(separator: '') %>Elements" class="recipeItem<%= recipe.id %>">
            <% recipe.get_store_section_items(store_section).sort_by{|e| e.name.parameterize }.each do |item| %>
              <%= render 'items/unselected_item', item: item, servings_delta: servings_delta %>
            <% end %>
          </div>
        </div>
    <% end %>
    <div id="non-alimentaires" class="listHeader">
      <div id="non-alimentairesHeader">
        <ul class="border-0 rounded-top d-flex align-items-center justify-content-between pl-1 pb-0 m-0" style="filter: brightness(1.40);">
          <div class="d-flex align-items-center">
            <p class="m-0 p-1 font-weight-bold lead">Non-alimentaires</p>
          </div>
        </ul>
      </div>
      <div id="non-alimentairesElements" class="recipeItem<%= recipe.id %>">
        <%  recipe.items.where(store_section_id: nil).sort_by{|e| e.name.parameterize }.each do |item| %>
          <%= render 'items/unselected_item', item: item, servings_delta: servings_delta %>
        <% end %>
      </div>
    </div>
<% end %>

