<%= render 'shared/admin-navbar' %>

<div class="container">
  <div class="form-wrapper">

        <h2>Proposer une recette</h2>
        <div class="recipe-form">
          <%= simple_form_for @recipe do |f| %>
            <%= f.input :link, placeholder: "Lien de la recette" %>
            <%= f.input :origin, placeholder: "Qui est l'auteur ?" %>
            <%= f.input :title, placeholder: "Titre de la recette" %>
            <%= f.input :servings, placeholder: "Nombre de personnes", type: "number" %>
            <%= f.input :ingredients, placeholder: "Ingredients" %>
            <%= f.input :instructions, placeholder: "Préparation" %>
            <%= f.submit "Envoyer à Mama", class: "btn btn-primary" %>
          <% end %>
        </div>
        <%= link_to 'Annuler', recipe_path(@recipe) %>

  </div>
</div>
