<div class="container">
  <div class="form-wrapper">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <h2>Importer une recette</h2>
        <div class="recipe-form">
          <%= simple_form_for @recipe do |f| %>
            <%= f.input :tag_list, placeholder: "Type de recette", :collection => ['', 'rapide', 'léger', 'gourmand', 'snack'], :selected => '', label: false,class: 'form-control' %>
            <%= f.input :link, placeholder: "Lien de la recette", label: false, class: 'form-control' %>
            <%= f.submit "Envoyer à Mama", class: "form-control btn-death" %>
          <% end %>
        </div>
        <%= link_to 'Ou créer une nouvelle recette', new_recipe_path %>
      </div>
    </div>
  </div>
</div>
