<%= render 'shared/admin-navbar' %>

<div class="container">
  <div class="form-wrapper">

        <h2>Importer une recette</h2>
        <div class="recipe-form">
          <%= simple_form_for @recipe do |f| %>
            <%= f.input :link, placeholder: "Lien de la recette", label: false %>
            <%= f.submit "Envoyer", class: "btn btn-primary" %>
          <% end %>
        </div>
        <h5><%= link_to 'Créer une recette existante', new_recipe_path %></h5>
  </div>
</div>

