<%= render 'shared/admin-navbar' %>


<div class="container mb-5">
  <h1>Recipes</h1>

  <div class="d-flex flex-column bd-highlight my-2">
      <div class="my-3 ">
        <%= form_tag(manage_recipes_path, :method => "get", class:"form-inline") do %>
          <%= text_field_tag :query, params[:query], class: 'form-control' %>
          <%= submit_tag "Search", class: 'form-control  btn-primary' %>
        <% end %>
      </div>
      <div class="dropdown">
        <button class="bd-highlight mr-1 btn bg-light border dropdown-toggle" type="button" id="dropdownSortButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= @category.present? ? @category.name : "Catégories" %>
        </button>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownSortButton">
          <%= link_to "ALL", manage_recipes_path, class:"dropdown-item" %>
          <%= link_to "PENDING", manage_recipes_path(pending: 1), class:"dropdown-item" %>
          <% @categories.order(:name).each do |category| %>
          <%= link_to category.name, manage_recipes_path(category_id: category.id), class:"dropdown-item" %>
          <% end %>
        </div>
      </div>

  </div>

  <div>
    <% if @recipes %>
      <%= render partial: 'recipes/admin_recipe', collection: @recipes.reverse, as: :recipe %>
    <% end %>

  </div>
</div>

    <!-- Edit Recipe List Item Modal -->
  <div class="modal fade" id="editRecipeListItemsModal" tabindex="-1" role="dialog" aria-labelledby="editRecipeListItemsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editRecipeListItemsModal">Catégoriser la recette</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">

          <div id="editRecipeListItemsForm"></div>

        </div>
      </div>
    </div>
  </div>
