<%= render 'shared/admin-navbar' %>


<div class="container mb-5">
  <h1>Recipes</h1>

  <div class="d-flex flex-column bd-highlight my-2">
      <div class="my-3 ">
        <%= form_tag(manage_recipes_path, :method => "get", class:"form-inline") do %>
          <%= text_field_tag :query, params[:query], class: 'form-control' %>
          <%= submit_tag "Search", class: 'form-control  btn-primary' %>
        <% end %>
      </div>
      <div class="dropdown">
        <button class="bd-highlight mr-1 btn bg-light border dropdown-toggle" type="button" id="dropdownSortButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= @category.present? ? @category.name : "Catégories" %>
        </button>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownSortButton">
          <%= link_to "ALL", manage_recipes_path, class:"dropdown-item" %>
          <%= link_to "PENDING", manage_recipes_path(pending: 1), class:"dropdown-item" %>
          <% @categories.order(:name).each do |category| %>
          <%= link_to category.name, manage_recipes_path(category_id: category.id), class:"dropdown-item" %>
          <% end %>
        </div>
      </div>

  </div>

  <div>
    <% if @recipes %>
        <% @recipes.reverse.each do |recipe| %>

          <div class="jumbotron">
            <h2 class="m-0"><%= recipe.title %> <span class="badge badge-secondary"><%= recipe.id %></span></h2>
            <div class="d-flex flex-column m-0">
              <%= link_to recipe.link, recipe_path(recipe), target: "_blank" %>
              <small class="text-muted m-0"><span class="badge badge-warning"><%= recipe.status %></span> <%= recipe.created_at.to_date %> </small>
            </div>
            <div class="d-flex flex-row bd-highlight mt-3 justify-content-start">
              <%= link_to "Publish", set_published_status_recipe_path(recipe), class:"bd-highlight mr-1 btn btn-light border m-1" %>
              <%= link_to "Dissmiss", set_dismissed_status_recipe_path(recipe), data: { confirm: 'Êtes-vous sûr ?' }, class:"bd-highlight mr-1 btn btn-light border m-1" %>
              <%= link_to "Delete", recipe_path(recipe), data: { confirm: 'Êtes-vous sûr ?' }, method: :delete, class:"bd-highlight mr-1 btn btn-danger m-1" %>
            </div>

            <hr class="my-4">

            <button class="btn btn-light border text-primary editRecipeListItemsModalbtn m-1" data="<%= recipe.id %>">Ajouter à une catégorie</button>
            <ul class="m-0">
              <% recipe.get_curated_lists.each do |cl| %>
                <li><%= cl.name %></li>
              <% end %>
            </ul>

          </div>

        <% end %>

    <% end %>

  </div>
</div>

    <!-- Edit Recipe List Item Modal -->
  <div class="modal fade" id="editRecipeListItemsModal" tabindex="-1" role="dialog" aria-labelledby="editRecipeListItemsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editRecipeListItemsModal">Catégoriser la recette</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">

          <div id="editRecipeListItemsForm"></div>

        </div>
      </div>
    </div>
  </div>
