<%= render 'shared/admin-navbar' %>


<div class="container mb-5">
  <h1>Recipes</h1>

  <div class="d-flex flex-column bd-highlight my-2">
      <div class="my-3 ">
        <%= form_tag(manage_recipes_path, :method => "get", class:"form-inline") do %>
          <%= text_field_tag :query, params[:query], class: 'form-control' %>
          <%= submit_tag "Search", class: 'form-control  btn-primary' %>
        <% end %>
      </div>
      <div class="dropdown">
        <button class="bd-highlight mr-1 btn bg-light border dropdown-toggle" type="button" id="dropdownSortButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= @category.present? ? @category.name : "Catégories" %>
        </button>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownSortButton">
          <%= link_to "ALL", manage_recipes_path, class:"dropdown-item" %>
          <%= link_to "PENDING", manage_recipes_path(pending: 1), class:"dropdown-item" %>
          <% @categories.order(:name).each do |category| %>
          <%= link_to category.name, manage_recipes_path(category_id: category.id), class:"dropdown-item" %>
          <% end %>
        </div>
      </div>

  </div>

  <div>
    <% if @recipes %>
        <% @recipes.reverse.each do |recipe| %>

           <div class="pl-2 pr-2 p-0 list-group-item list-group-item-action border-bottom">
                <div class="product-info p-2">
                    <div class="d-flex bd-highlight">

                      <div class="mr-auto bd-highlight d-flex flex-column align-items-start">
                        <p class="lead m-0 p-0 text-primary"><small class="m-0 text-muted"><%= recipe.id %></small>. <strong><%= link_to recipe.title, recipe_path(recipe) %></strong></p>
                        <p class="small m-0"><%= link_to "#{URI("#{recipe.link }").host}", recipe.link, target: "_blank" %></p>
                        <small class="text-muted m-0"><%= recipe.created_at.to_date %></small>
                        <% if recipe.status == "published" %>
                          <%= link_to "Dissmiss", set_dismissed_status_recipe_path(recipe), data: { confirm: 'Êtes-vous sûr ?' }, class:"btn btn-sm btn-light p-0 border text-danger" %>
                        <% else %>
                          <%= link_to "Dissmiss", set_dismissed_status_recipe_path(recipe), data: { confirm: 'Êtes-vous sûr ?' }, class:"btn btn-sm btn-light p-0 border text-danger" %>
                          <%= link_to "Publish", set_published_status_recipe_path(recipe), class:"btn btn-sm btn-success" %>
                        <% end %>
                      </div>

                      <div class="bd-highlight d-flex flex-column">
                        <button class="btn btn-light m-0 border p-1 editRecipeListItemsModalbtn" data="<%= recipe.id %>">Gérer</button>
                        <% recipe.get_curated_lists.each do |cl| %>
                          <span class="m-0 small"><%= cl.name %></span>
                        <% end %>
                      </div>
                    </div>
                </div>
          </div>

        <% end %>

    <% end %>

  </div>
</div>

    <!-- Edit Recipe List Item Modal -->
  <div class="modal fade" id="editRecipeListItemsModal" tabindex="-1" role="dialog" aria-labelledby="editRecipeListItemsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editRecipeListItemsModal">Catégoriser la recette</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">

          <div id="editRecipeListItemsForm"></div>

        </div>
      </div>
    </div>
  </div>
