<div class="container">
  <div class="form-wrapper">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <h2>Proposer une recette</h2>
        <div class="recipe-form">
          <%= simple_form_for @recipe do |f| %>
            <%= f.input :tag_list, placeholder: "Type de recette", :collection => ['équilibré', 'rapide', 'léger', 'gourmand', 'snack'], :selected => 'équilibré', label: false,class: 'form-control' %>
            <%= f.input :title, placeholder: "Titre de la recette", label: false, class: 'form-control' %>
            <%= f.input :servings, type: "number", label: false, class: 'form-control' %>
            <%= f.input :ingredients, placeholder: "Ingredients", label: false, class: 'form-control' %>
            <%= f.input :instructions, placeholder: "Préparation", label: false, class: 'form-control' %>
            <%= f.submit "Envoyer à Mama", class: "form-control btn-death" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
