<%= render 'shared/admin-navbar' %>

<div class="container">
  <div class="form-wrapper">

        <h2>Proposer une recette</h2>
        <div class="recipe-form">
          <%= simple_form_for @recipe do |f| %>
            <%= f.input :link, placeholder: "Lien de la recette" %>
            <%= f.input :image_url, placeholder: "Lien de l'image" %>
            <%= f.input :origin, placeholder: "Qui est l'auteur ?" %>
            <%= f.input :title, placeholder: "Titre de la recette" %>
            <%= f.input :servings, placeholder: "Nombre de personnes", type: "number" %>
            <%= f.input :ingredients, placeholder: "Ingredients" %>
            <%= f.input :instructions, placeholder: "Préparation" %>
            <%= f.submit "Envoyer", class: "btn btn-primary" %>
          <% end %>
        </div>

  </div>
</div>

<div class="container">
  <h5><%= link_to 'Importer une recette existante', import_recipes_path %></h5>
</div>

<div class="container">
  <div class="my-4">
    <h4>Importer des recettes</h4>
    <div>
      <%= form_tag import_recipes_recipes_path, multipart: true do%>
       <%= file_field_tag :file %>
       <%= submit_tag "Import CSV recipes"%>
      <% end %>
    </div>
  </div>
</div>
