<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="recipe-head">
          <div class="recipe-title">
            <h2><strong><%= @recipe.title %></strong></h2>
          </div>
          <div class="recipe-tags">
            <%= @recipe.tag_list %>
          </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h4><strong>Ingrédients</strong></h2>
      <div class="recipe-ingredients">
        <p><%= @recipe.servings %> pers.</p>
        <ul>
          <% @recipe.ingredients.split("\r\n").each do |item| %>
            <li><%= item %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h4><strong>Instructions</strong></h2>
      <%= instruction_lines(@recipe) %>
    </div>
  </div>
</div>
