<% content_for :meta_title, "#{@recipe.title}" %>
<% content_for :meta_description, "#{@recipe.items.pluck(:name).join(", ").capitalize[0..255]}" %>
<% content_for :meta_image, cl_image_path(@recipe.image_url) %>

<%= render "shared/navbar_recipe", recipe: @recipe, referrer: @referrer, list: @list, lists: @lists %>




<div class="container my-4">
  <div class="jumbotron jumbotron-fluid bg-transparent p-0 border-0 m-0">
      <div class="row">
        <div class="col-md-6 my-auto d-flex flex-column" style="min-height: 270px;">
          <h1 class="">
            <% if user_signed_in? %>
              <span id="isFavorite<%= @recipe.id %>">
                <%= render 'shared/favorite', recipe: @recipe %>
              </span>
            <% end %>
            <%= @recipe.title %>
          </h1>
          <p class="m-0 p-1 lead"><%= link_to "#{URI("#{@recipe.link }").host}", @recipe.link, target: "_blank", class:"recipeLinkClick" %></p>
        </div>

        <div class="col-md-6 text-center" style="min-height: 270px;">
          <%= link_to @recipe.link, target: "_blank", class:"recipeLinkClick" do %>
            <div style="position: relative; text-align: center;">
              <%= cl_image_tag("#{@recipe.id}", :width=>270, :fetch_format=>:auto, :quality=>"auto:low", class:"shadow rounded") %>
              <p class="lead font-weight-bold shadow-lg p-2 rounded text-primary" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; opacity: 0.8;">Voir la recette</p>
            </div>
          <% end %>
        </div>
      </div>

  </div>
</div>


<div class="container px-2" style="min-height: 90vh;" id="recipeContent">
  <%= render "recipes/content", recipe: @recipe, servings: @servings, servings_delta: 1 %>
</div>

<div style="padding: 50px;"></div>


