
  <%= simple_form_for @foodlist do |f| %>

    <h4>Suggested:</h4>
    <%= f.input :food_ids, collection: @similar_food, class: 'form-control'%>

    <h4>Seasonal:</h4>
    <%= f.collection_select :food_ids, @seasonal_produce, :id, :name, {}, multiple: true, class: 'form-control'%>


    <h4>All food:</h4>
    <%= f.collection_select :food_ids, Food.all, :id, :name, {}, multiple: true, class: 'form-control'%>

    <%= f.submit "Validate", class: "form-control btn-primary" %>
  <% end %>
