
<div class="container">

    <div class="shadow p-3 mb-4 bg-white rounded">
      <h2 class="w-75 p-2"><%= @foodlist.name  %> <span class="badge badge-primary"> <%= @foodlist.foods.size %></span></h2>
      <a class="btn btn-flat ml-auto p-2" data-toggle="modal" data-target="#shoppinglistModal" >📝 Envoyer la liste</a>
    </div>
</div>

<div class="container">
  <div class="shadow p-3 mb-5 bg-white rounded">
    <div class="list-group list-group-flush">
      <% @foodlist.food_list_items.order(:id).each do |fli| %>
        <a href="#" class="list-group-item list-group-item-action rounded">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= fli.food.name.capitalize %></h5>
            <small>
              <span class="badge badge-secondary">1er prix <%= fli.food.get_cheapest_store_item.store.name %></span>
            </small>
          </div>
          <div class="d-flex w-100 justify-content-between">
            <small class="mb-1">
              <% if fli.food.store_items.where(is_available: true).any? %>
                <%= fli.food.get_cheapest_store_item.name %> à <strong><%= fli.food.get_cheapest_store_item.price %>€</strong>
              <% else %>
                Aucun résultat disponible
              <% end %>
            </small>
            <small>
              <% if fli.food.store_items.where(is_available: true).any? %>
                soit <%= fli.food.get_cheapest_store_item.price_per_unit %>€/<%= fli.food.get_cheapest_store_item.product.unit.name %>
              <% else %>
                Aucun résultat disponible
              <% end %>
            </small>

          </div>
        </a>
      <% end %>
    </ul>
  </div>
</div>






<div class="container">
  <div class="row">
    <h1><strong>Ajouter des ingrédients</strong></h1>
  </div>
  <div class="row">
    <h4><strong>RECHERCHE 🔎 </strong></h4>
    <%= form_tag(add_food_list_path, :method => "get") do %>
      <%= text_field_tag :query, params[:query], placeholder: "Chercher des ingrédients", required: true %>
      <%= submit_tag "Chercher" %>
    <% end %>
  </div>
  <div class="row">
    <% if @search %>
      <% @search.each do |food| %>
        <% if food.present? %>
          <%= link_to create_foodlist_item_food_list_item_path(@foodlist, food), :action => 'go' do %>
              <div class="btn btn-default btn-sm <%= @foodlist.foods.include?(food) ? ' disabled' : nil %>">
                <h5 class="text-left"><%= food.name %></h5>
                <% if food.store_items.where(is_available: true).any? %>
                  <p class="text-left">dès <%= food.get_cheapest_store_item.price_per_unit %>€/<%= food.get_cheapest_store_item.product.unit.name %></p>
                  <p class="text-left">@<%= food.get_cheapest_store_item.store.name %></p>
                <% else %>
                  <p class="text-left">aucun produit disponible</p>
                  <p class="text-left">hors saison</p>
                <% end %>
              </div>
          <% end %>
        <%end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% unless @similar_food.nil? %>
      <h4><strong><%= @foodlist.foods.first.name.upcase %> + ⬇️ = ❤️</strong></h4>
      <% @similar_food.each do |food| %>
        <% if food.present? && food.store_items.where(is_available: true).any? %>
          <%= link_to create_foodlist_item_food_list_item_path(@foodlist, food), :action => 'go' do %>
              <div class="btn btn-default btn-sm">
                <h5 class="text-left"><%= food.name %></h5>
                <p class="text-left">dès <%= food.get_cheapest_store_item.price_per_unit %>€/<%= food.get_cheapest_store_item.product.unit.name %></p>
                <p class="text-left">@<%= food.get_cheapest_store_item.store.name %></p>
              </div>
          <% end %>
        <%end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <h4><strong>TOP DU MOMENT 🔥</strong></h4>
    <% @top_foods.each do |food| %>
      <% if food.present? && food.store_items.where(is_available: true).any? %>
        <%= link_to create_foodlist_item_food_list_item_path(@foodlist, food), :action => 'go' do %>
            <div class="btn btn-default btn-sm">
              <h5 class="text-left"><%= food.name %></h5>
              <p class="text-left">dès <%= food.get_cheapest_store_item.price_per_unit %>€/<%= food.get_cheapest_store_item.product.unit.name %></p>
              <p class="text-left">@<%= food.get_cheapest_store_item.store.name %></p>
            </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <h4><strong>EN PROMO 🤑</strong></h4>
    <% @promo_foods.each do |food| %>
      <% if food.present? && food.store_items.where(is_available: true).any? %>
        <%= link_to create_foodlist_item_food_list_item_path(@foodlist, food), :action => 'go' do %>
            <div class="btn btn-default btn-sm">
              <h5 class="text-left"><%= food.name %></h5>
              <p class="text-left"><%= food.get_promo_store_item.promo_price_per_unit %>€/<%= food.get_promo_store_item.product.unit.name %> (<strike><%= food.get_promo_store_item.price_per_unit %>€/<%= food.get_promo_store_item.product.unit.name %></strike>)</p>
              <p class="text-left">@<%= food.get_promo_store_item.store.name %></p>
            </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <% @reco_recipes.each do |recipe|  %>
    <div class="row">
      <h4><strong><%= recipe.title.upcase %> 🍳</strong></h4>
      <h5><%= link_to "cliquer ici pour voir la recette", recipe.link, target: "_blank" %></h5>
      <% recipe.foods.each do |food| %>
        <% if food.present? && food.store_items.where(is_available: true).any? %>
          <%= link_to create_foodlist_item_food_list_item_path(@foodlist, food), :action => 'go' do %>
              <div class="btn btn-default btn-sm <%= @foodlist.foods.include?(food) ? ' disabled' : nil %>">
                <h5 class="text-left"><%= food.name %></h5>
                  <p class="text-left">dès <%= food.get_cheapest_store_item.price_per_unit %>€/<%= food.get_cheapest_store_item.product.unit.name %></p>
                <p class="text-left">@<%= food.get_cheapest_store_item.store.name %></p>
              </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

