
<div class="container">
  <div class="shadow p-3 mb-4 bg-white rounded">
    <h2 class="w-75 p-2"><%= @foodlist.name  %> <span class="badge badge-primary"> <%= @foodlist.foods.size %></span></h2>
  </div>
</div>

<div class="container">

  <% if @foodlist.foods.any? %>
    <div class="shadow p-3 mb-5 bg-white rounded">
      <div class="list-group list-group-flush">
        <% @foodlist.food_list_items.order(:id).each do |fli| %>
          <div class="list-group-item list-group-item-action border-top border-bottom">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= fli.food.name.capitalize %></h5>
              <small>
                <span class="badge badge-secondary">le moins cher | <%= fli.food.get_cheapest_store_item.store.name %></span>
              </small>
            </div>
            <div class="d-flex w-100 justify-content-between">
              <small class="mb-1">
                <% if fli.food.store_items.where(is_available: true).any? %>
                  <%= fli.food.get_cheapest_store_item.name %> à <strong><%= fli.food.get_cheapest_store_item.price %>€</strong>
                <% else %>
                  Aucun résultat disponible
                <% end %>
              </small>
              <small>
                <% if fli.food.store_items.where(is_available: true).any? %>
                  <%= fli.food.get_cheapest_store_item.price_per_unit %>€/<%= fli.food.get_cheapest_store_item.product.unit.name %>
                <% else %>
                  Aucun résultat disponible
                <% end %>
              </small>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="shadow p-3 mb-5 bg-white rounded">
      <a class="list-group-item list-group-item-action">
        <p class="mb-1">Vos articles s'affichent ici.</p>
        <small class="text-muted">Faîtes votre choix ci-dessous !</small>
      </a>
    </div>
  <% end %>
</div>



<div class="container">
  <div class="shadow p-3 mb-3 bg-white">
    <div class="search-form-control form-group">
      <%= form_tag(add_food_list_path, :method => "get") do %>
        <%= text_field_tag :query, params[:query], placeholder: "Chercher des ingrédients", required: true, class: "form-control string required" %>
        <%= submit_tag "🔎 Chercher",  class: "btn btn-flat" %>
      <% end %>
    </div>

    <% if @search %>
        <div class="list-group list-group-flush">
          <% @search[0..4].each do |food| %>
            <% if food.present? %>
              <%= link_to create_foodlist_item_food_list_item_path(@foodlist, food), class: "list-group-item list-group-item-action  border-top border-bottom #{@foodlist.foods.include?(food) ? ' disabled' : nil}"  do %>
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><%= food.name %></h5>
                    <small>
                      <% if food.store_items.where(is_available: true).any? %>
                        <span class="badge badge-secondary">le moins cher | <%= food.get_cheapest_store_item.store.name %></span>
                      <% end %>
                    </small>
                  </div>
                  <div class="d-flex w-100 justify-content-between">
                    <small class="mb-1">
                      <% if food.store_items.where(is_available: true).any? %>
                        <%= food.get_cheapest_store_item.name %> à <strong><%= food.get_cheapest_store_item.price %>€</strong>
                      <% else %>
                        Aucun produit référencé disponible
                      <% end %>
                    </small>
                    <small>
                      <% if food.store_items.where(is_available: true).any? %>
                        <%= food.get_cheapest_store_item.price_per_unit %>€/<%= food.get_cheapest_store_item.product.unit.name %>
                      <% end %>
                    </small>
                  </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
    <% end %>
  </div>
</div>


<% unless @similar_food.nil? %>
  <div class="container">
    <div class="shadow p-3 mb-3 bg-white rounded">
      <h3 class="shadow p-3 mb-3 bg-white rounded"><%= @foodlist.foods.first.name.capitalize %> + ⬇️ = ❤️</h3>
      <div class="list-group list-group-flush">
        <% @similar_food[0..4].each do |food| %>
          <% if food.present? && food.store_items.where(is_available: true).any? %>
            <%= link_to create_foodlist_item_food_list_item_path(@foodlist, food), class: "list-group-item list-group-item-action  border-top border-bottom"  do %>
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"><%= food.name %></h5>
                  <small>
                    <% if food.store_items.where(is_available: true).any? %>
                      <span class="badge badge-secondary">le moins cher | <%= food.get_cheapest_store_item.store.name %></span>
                    <% end %>
                  </small>
                </div>
                <div class="d-flex w-100 justify-content-between">
                  <small class="mb-1">
                    <% if food.store_items.where(is_available: true).any? %>
                      <%= food.get_cheapest_store_item.name %> à <strong><%= food.get_cheapest_store_item.price %>€</strong>
                    <% else %>
                      Aucun produit référencé disponible
                    <% end %>
                  </small>
                  <small>
                    <% if food.store_items.where(is_available: true).any? %>
                      <%= food.get_cheapest_store_item.price_per_unit %>€/<%= food.get_cheapest_store_item.product.unit.name %>
                    <% end %>
                  </small>
                </div>
            <% end %>
          <% end %>
        <% end %>

      <% if @similar_food.size > 4 %>
          <div class="collapse" id="collapseSimilarfoods">
            <% @similar_food[5..9].each do |food| %>
              <% if food.present? && food.store_items.where(is_available: true).any? %>
                <%= link_to create_foodlist_item_food_list_item_path(@foodlist, food), class: "list-group-item list-group-item-action  border-top border-bottom"  do %>
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1"><%= food.name %></h5>
                      <small>
                        <% if food.store_items.where(is_available: true).any? %>
                          <span class="badge badge-secondary">le moins cher | <%= food.get_cheapest_store_item.store.name %></span>
                        <% end %>
                      </small>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                      <small class="mb-1">
                        <% if food.store_items.where(is_available: true).any? %>
                          <%= food.get_cheapest_store_item.name %> à <strong><%= food.get_cheapest_store_item.price %>€</strong>
                        <% else %>
                          Aucun produit référencé disponible
                        <% end %>
                      </small>
                      <small>
                        <% if food.store_items.where(is_available: true).any? %>
                          <%= food.get_cheapest_store_item.price_per_unit %>€/<%= food.get_cheapest_store_item.product.unit.name %>
                        <% end %>
                      </small>
                    </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSimilarfoods" aria-expanded="false" aria-controls="collapseSimilarfoods">
            Afficher la suite
          </button>
        <%end %>
      </div>
    </div>
  </div>
<% end %>


<div class="container">
  <div class="shadow p-3 mb-4 bg-white rounded">
    <h3 class="shadow p-3 mb-3 bg-white rounded">🔥 Top du moment</h3>
    <div class="list-group list-group-flush">
      <% @top_foods[0..4].each do |food| %>
        <% if food.present? && food.store_items.where(is_available: true).any? %>
          <%= link_to create_foodlist_item_food_list_item_path(@foodlist, food), class: "list-group-item list-group-item-action  border-top border-bottom"  do %>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= food.name %></h5>
                <small>
                  <% if food.store_items.where(is_available: true).any? %>
                    <span class="badge badge-secondary">le moins cher | <%= food.get_cheapest_store_item.store.name %></span>
                  <% end %>
                </small>
              </div>
              <div class="d-flex w-100 justify-content-between">
                <small class="mb-1">
                  <% if food.store_items.where(is_available: true).any? %>
                    <%= food.get_cheapest_store_item.name %> à <strong><%= food.get_cheapest_store_item.price %>€</strong>
                  <% else %>
                    Aucun produit référencé disponible
                  <% end %>
                </small>
                <small>
                  <% if food.store_items.where(is_available: true).any? %>
                    <%= food.get_cheapest_store_item.price_per_unit %>€/<%= food.get_cheapest_store_item.product.unit.name %>
                  <% end %>
                </small>
              </div>
          <% end %>
        <% end %>
      <% end %>

      <% if @top_foods.size > 4 %>
        <div class="collapse" id="collapseTopfoods">
          <% @top_foods[5..-1].each do |food| %>
            <% if food.present? && food.store_items.where(is_available: true).any? %>
              <%= link_to create_foodlist_item_food_list_item_path(@foodlist, food), class: "list-group-item list-group-item-action  border-top border-bottom"  do %>
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><%= food.name %></h5>
                    <small>
                      <% if food.store_items.where(is_available: true).any? %>
                        <span class="badge badge-secondary">le moins cher | <%= food.get_cheapest_store_item.store.name %></span>
                      <% end %>
                    </small>
                  </div>
                  <div class="d-flex w-100 justify-content-between">
                    <small class="mb-1">
                      <% if food.store_items.where(is_available: true).any? %>
                        <%= food.get_cheapest_store_item.name %> à <strong><%= food.get_cheapest_store_item.price %>€</strong>
                      <% else %>
                        Aucun produit référencé disponible
                      <% end %>
                    </small>
                    <small>
                      <% if food.store_items.where(is_available: true).any? %>
                        <%= food.get_cheapest_store_item.price_per_unit %>€/<%= food.get_cheapest_store_item.product.unit.name %>
                      <% end %>
                    </small>
                  </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTopfoods" aria-expanded="false" aria-controls="collapseTopfoods">
          Afficher la suite
        </button>
      <%end %>
    </div>
  </div>
</div>


<div class="container">
  <div class="shadow p-3 mb-4 bg-white rounded">
    <h3 class="shadow p-3 mb-3 bg-white rounded">🤑 Promotions</h3>
    <div class="list-group list-group-flush">
      <% @promo_foods[0..4].each do |food| %>
        <% if food.present? && food.store_items.where(is_available: true).any? %>
          <%= link_to create_foodlist_item_food_list_item_path(@foodlist, food), class: "list-group-item list-group-item-action  border-top border-bottom"  do %>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= food.name %></h5>
                <small>
                  <% if food.store_items.where(is_available: true).any? %>
                    <span class="badge badge-warning">promo | <%= food.get_cheapest_store_item.store.name %></span>
                  <% end %>
                </small>
              </div>
              <div class="d-flex w-100 justify-content-between">
                <small class="mb-1">
                  <% if food.store_items.where(is_available: true).any? %>
                    <%= food.get_cheapest_store_item.name %> à <strong><%= food.get_cheapest_store_item.price %>€</strong>
                  <% else %>
                    Aucun produit référencé disponible
                  <% end %>
                </small>
                <small>
                  <% if food.store_items.where(is_available: true).any? %>
                    <%= food.get_cheapest_store_item.promo_price_per_unit %>€/<%= food.get_cheapest_store_item.product.unit.name %>
                    | <strike><%= food.get_cheapest_store_item.price_per_unit %>€/<%= food.get_cheapest_store_item.product.unit.name %></strike>
                  <% end %>
                </small>
              </div>
          <% end %>
        <% end %>
      <% end %>

      <% if @promo_foods.size > 4 %>
        <div class="collapse" id="collapsePromofoods">
          <% @promo_foods[5..-1].each do |food| %>
            <% if food.present? && food.store_items.where(is_available: true).any? %>
              <%= link_to create_foodlist_item_food_list_item_path(@foodlist, food), class: "list-group-item list-group-item-action  border-top border-bottom"  do %>
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><%= food.name %></h5>
                    <small>
                      <% if food.store_items.where(is_available: true).any? %>
                        <span class="badge badge-warning">promo | <%= food.get_cheapest_store_item.store.name %></span>
                      <% end %>
                    </small>
                  </div>
                  <div class="d-flex w-100 justify-content-between">
                    <small class="mb-1">
                      <% if food.store_items.where(is_available: true).any? %>
                        <%= food.get_cheapest_store_item.name %> à <strong><%= food.get_cheapest_store_item.price %>€</strong>
                      <% else %>
                        Aucun produit référencé disponible
                      <% end %>
                    </small>
                    <small>
                      <% if food.store_items.where(is_available: true).any? %>
                        <%= food.get_cheapest_store_item.promo_price_per_unit %>€/<%= food.get_cheapest_store_item.product.unit.name %>
                        | <strike><%= food.get_cheapest_store_item.price_per_unit %>€/<%= food.get_cheapest_store_item.product.unit.name %></strike>
                      <% end %>
                    </small>
                  </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsePromofoods" aria-expanded="false" aria-controls="collapsePromofoods">
          Afficher la suite
        </button>
      <% end %>

    </div>
  </div>
</div>


<% @reco_recipes.each_with_index do | recipe, index|  %>
  <div class="container">
    <div class="shadow p-3 mb-4 bg-white rounded">
      <div class="shadow p-3 mb-3 bg-white rounded" >
        <h3><%= recipe.title %></h3>
        <h6 class=""><%= link_to "cliquer ici pour voir la recette", recipe.link, target: "_blank" %></h6>
      </div>
      <div class="list-group list-group-flush">
        <% recipe.foods[0..4].each do |food| %>
          <% if food.present? && food.store_items.where(is_available: true).any? %>
            <%= link_to create_foodlist_item_food_list_item_path(@foodlist, food), class: "list-group-item list-group-item-action  border-top border-bottom"  do %>
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"><%= food.name %></h5>
                  <small>
                    <% if food.store_items.where(is_available: true).any? %>
                      <span class="badge badge-secondary">le moins cher | <%= food.get_cheapest_store_item.store.name %></span>
                    <% end %>
                  </small>
                </div>
                <div class="d-flex w-100 justify-content-between">
                  <small class="mb-1">
                    <% if food.store_items.where(is_available: true).any? %>
                      <%= food.get_cheapest_store_item.name %> à <strong><%= food.get_cheapest_store_item.price %>€</strong>
                    <% else %>
                      Aucun produit référencé disponible
                    <% end %>
                  </small>
                  <small>
                    <% if food.store_items.where(is_available: true).any? %>
                      <%= food.get_cheapest_store_item.price_per_unit %>€/<%= food.get_cheapest_store_item.product.unit.name %>
                    <% end %>
                  </small>
                </div>
            <% end %>
          <% end %>
        <% end %>

        <% if recipe.foods.size > 4 %>
          <div class="collapse" id="collapseRecipe-<%= index %>">
            <% recipe.foods[5..-1].each do |food| %>
              <% if food.present? && food.store_items.where(is_available: true).any? %>
                <%= link_to create_foodlist_item_food_list_item_path(@foodlist, food), class: "list-group-item list-group-item-action  border-top border-bottom"  do %>
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1"><%= food.name %></h5>
                      <small>
                        <% if food.store_items.where(is_available: true).any? %>
                          <span class="badge badge-secondary">le moins cher | <%= food.get_cheapest_store_item.store.name %></span>
                        <% end %>
                      </small>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                      <small class="mb-1">
                        <% if food.store_items.where(is_available: true).any? %>
                          <%= food.get_cheapest_store_item.name %> à <strong><%= food.get_cheapest_store_item.price %>€</strong>
                        <% else %>
                          Aucun produit référencé disponible
                        <% end %>
                      </small>
                      <small>
                        <% if food.store_items.where(is_available: true).any? %>
                          <%= food.get_cheapest_store_item.price_per_unit %>€/<%= food.get_cheapest_store_item.product.unit.name %>
                        <% end %>
                      </small>
                    </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseRecipe-<%= index %>" aria-expanded="false" aria-controls="collapseRecipe-<%= index %>">
            Afficher la suite
          </button>
        <% end %>

      </div>
    </div>
  </div>
<% end %>

