<div class="container">

  <div class="row">
    <h1><strong><%= @foodlist.name %></strong></h1>
    <h4><strong>Ajouter des ingrédients</strong></h4>
    <%= link_to 'Revenir', food_list_path(@foodlist), class: 'btn btn-primary btn-lg' %>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= form_tag(add_food_list_path, :method => "get") do %>
      <%= text_field_tag :query, params[:query], placeholder: "Chercher des ingrédients", required: true %>
      <%= submit_tag "Chercher" %>
    <% end %>
  </div>

  <div class="row">
    <h5>résultats:</h5>
    <% if @foods %>
      <% @foods.each do |food| %>
        <%= food.name %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <h4><strong>Similaires:</strong></h4>
    <% @similar_food.each do |food| %>
        <%=  link_to food.name, create_foodlist_item_food_list_item_path(@foodlist, food), class: 'btn btn-default btn-sm' %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <h4><strong>De saison:</strong></h4>
    <% @seasonal_produce.each do |food| %>
        <%=  link_to food.name, create_foodlist_item_food_list_item_path(@foodlist, food), class: 'btn btn-default btn-sm' %>
    <% end %>
  </div>
</div>
