<div class="container">
  <div class="shadow p-0 mb-5 bg-white" id="searchbox">
    <div class="p-2 mb-0 search-form-control form-group">
      <%= form_tag(add_food_list_path, :method => "get", remote: true, authenticity_token: true, id: "livesearch") do %>
        <%= text_field_tag :query, params[:query], placeholder: "Recherche", id: "keywords", class: "form-control string" %>
      <% end %>
    </div>
    <div id="searchbox-results">
      <%= render 'food_lists/live-search', search_results: @search %>
    </div>
  </div>
</div>

<div class="container">
  <div class="shadow p-2 mb-2 bg-white rounded">
    <h4 class="mb-0">🤑 Promos en cours</h4>
    <small><%= @promo_foods.size %> articles</small>
  </div>
  <%= render 'cards-block', food_data: @promo_foods, type: "promoFoods" %>
</div>


<div data="<%= params[:id] %>" id="fetch_recipes">

</div>



<%= javascript_pack_tag 'live_search' %>
<%= javascript_pack_tag 'load_recipes' %>
