<div class="container">

  <div class="row">
    <h1><strong><%= @foodlist.name %></strong></h1>
    <h4><%= @foodlist.foods.size %> ingrédients</h4>
    <%= link_to 'Revenir', food_lists_path(@foodlists), class: 'btn btn-primary btn-md' %>
    <%= link_to 'Ajouter des ingrédients', add_food_list_path(@foodlist), class: 'btn btn-default btn-block' %>

  </div>

  <div class="row">
    <ul>
      <% @foodlist.food_list_items.order(:id).each do |fli| %>
        <li>
          <h3>
            <%= fli.food.name.capitalize %>
            <%= link_to 'remove', food_list_food_list_item_path(fli.food_list, fli), method: :delete %>
          </h3>
        </li>
      <% end %>
    </ul>
  </div>

</div>
