<%= simple_form_for @meta_recipe_list, html: { target: "_blank" } do |f| %>

  <div class="base">
    <h4>1. Céréales</h4>
    <div>
      <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "céréales", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "🌾 riz, pâtes, quinoa...", required: true, class: 'form-control select'%>
    </div>
  </div>

  <div class="toppings">
    <h4>2. Accompagnement</h4>
    <div>
      <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "légumes", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "🥦 légumes", class: 'form-control select' %>
    </div>
    <div>
      <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "légumes secs", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "🥜 légumes secs", class: 'form-control select' %>
    </div>
    <div>
      <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "poissons", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "🐟 poissons", class: 'form-control select'%>
    </div>
    <div>
      <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "viandes", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "🍖 viandes", class: 'form-control select'%>
    </div>
    <div>
      <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "charcuteries", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "🥓 charcuteries", class: 'form-control select'%>
    </div>
  </div>

  <div class="toppings">
    <h4>3. Assaisonnement</h4>
    <div>
      <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "sauces", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "🥫 sauces", class: 'form-control select'%>
    </div>
    <div>
      <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "fromages", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "🧀 fromages", class: 'form-control select'%>
    </div>
    <div>
      <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "assaisonnements", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "🌿 herbes, épices, graines...", class: 'form-control select'%>
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
    <%= f.submit "Valider", data: { disable_with: false }, class: "btn btn-primary" %>
  </div>

<% end %>
