

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

   <%= simple_form_for @meta_recipe_list do |f| %>

    <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseAll" aria-expanded="false" aria-controls="collapseExample">
        All Food
      </button>
    </p>
    <div class="collapse" id="collapseAll">
      <div class="card card-body">
          <%= f.collection_select :meta_recipe_ids, MetaRecipe.all.order(:name), :id, :name, {}, multiple: true, placeholder: "Choose a food", class: 'select' %>
      </div>
    </div>

    <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseVeggies" aria-expanded="false" aria-controls="collapseExample">
        Veggies
      </button>
    </p>
    <div class="collapse" id="collapseVeggies">
      <div class="card card-body">
          <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "veggies", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "Choose veggies", class: 'select'%>
      </div>
    </div>

    <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseEggs" aria-expanded="false" aria-controls="collapseExample">
        Eggs
      </button>
    </p>
    <div class="collapse" id="collapseEggs">
      <div class="card card-body">
          <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "eggs", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "Choose eggs", class: 'select'%>
      </div>
    </div>

    <%= f.submit "Proposer à Mama", class: "form-control btn-primary" %>
  <% end %>

</div>
