

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

   <%= simple_form_for @meta_recipe_list do |f| %>



       <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#collapseAll" aria-expanded="false" aria-controls="collapseExample">🍲</button>
        <button type="button" class="btn btn-outline-success" data-toggle="collapse" data-target="#collapseVeggies" aria-expanded="false" aria-controls="collapseExample">🥑</button>
        <button type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#collapseEggs" aria-expanded="false" aria-controls="collapseExample">🥚</button>
      </div>


      <div class="collapse" id="collapseAll">
        <div class="card card-body">
            <%= f.collection_select :meta_recipe_ids, MetaRecipe.all.order(:name), :id, :name, {}, multiple: true, placeholder: "Choose a food", class: 'select' %>
        </div>
      </div>

      <div class="collapse" id="collapseVeggies">
        <div class="card card-body">
            <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "veggies", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "Choose veggies", class: 'select'%>
        </div>
      </div>

      <div class="collapse" id="collapseEggs">
        <div class="card card-body">
            <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "eggs", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "Choose eggs", class: 'select'%>
        </div>
      </div>

    <%= f.submit "Proposer à Mama", class: "form-control btn-primary" %>
  <% end %>

</div>
