<%= simple_form_for @meta_recipe_list do |f| %>

  <div class="base">
    <h4>1. choisir les légumes</h4>
    <div>
      <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "légumes", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "🥦 légumes", class: 'form-control select' %>
    </div>
    <div>
      <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "légumes secs", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "🥜 légumes secs", class: 'form-control select' %>
    </div>
    <div>
      <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "patates", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "🥔 patates", class: 'form-control select' %>
    </div>
  </div>

  <div class="toppings">
    <h4>2. choisir la garniture</h4>
    <div>
      <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "féculents", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "🌾 féculents", class: 'form-control select'%>
    </div>
    <div>
      <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "pâtes", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "🍝 pâtes", class: 'form-control select' %>
    </div>
    <div>
      <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "oeufs", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "🥚 oeufs", class: 'form-control select'%>
    </div>
    <div>
      <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "sauces", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "🥫 sauces", class: 'form-control select'%>
    </div>
    <div>
      <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "assaisonnements", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "🌿 assaissonnements", class: 'form-control select'%>
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
    <%= f.submit "Valider", class: "btn btn-primary" %>
  </div>

<% end %>
