<div class="container">
  <div class="form-wrapper">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <h2>Assistant Recette</h2>
        <div class="recipe-form">
          <%= simple_form_for @meta_recipe_list do |f| %>

            <%= f.collection_select :meta_recipe_ids, MetaRecipe.all.order(:name), :id, :name, {}, multiple: true, placeholder: "Choose a food", class: 'select'%>

           <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "veggies", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "Choose veggies", class: 'select'%>

           <%= f.collection_select :meta_recipe_ids, MetaRecipeList.where(name: "eggs", list_type: "pool").first.meta_recipes.order(:name), :id, :name, {}, multiple: true, placeholder: "Choose eggs", class: 'select'%>



            <!-- Button trigger veggies options -->
      <!--       <button type="button" class="btn btn-primary btn-lg" id="veggies">
              add veggies
            </button>
 -->



            <%= f.submit "Proposer à Mama", class: "form-control btn-primary" %>
          <% end %>



        </div>
      </div>
    </div>
  </div>
</div>
