<div class="container">
    <div class="row">

      <!-- Veggies -->
      <div class="col-3">

        <!-- Card entry point-->
        <div class="square" data-toggle="modal" data-target="#veggieModal">
          <div class="content">
            <div class="table">
              <button type="button" class="table-cell">🥑</button>
            </div>
          </div>
        </div>
      </div>


      <!-- Salad -->
      <div class="col-3">

        <!-- Card entry point-->
        <div class="square" data-toggle="modal" data-target="#saladModal">
          <div class="content">
            <div class="table">
              <button type="button" class="table-cell">🥗</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Pasta -->
      <div class="col-3">

        <!-- Card entry point-->
        <div class="square" data-toggle="modal" data-target="#pastaModal">
          <div class="content">
            <div class="table">
              <button type="button" class="table-cell">🍝</button>
            </div>
          </div>
        </div>

      </div>

      <!-- Cereals -->
      <div class="col-3">

        <!-- Card entry point-->
        <div class="square" data-toggle="modal" data-target="#cerealModal">
          <div class="content">
            <div class="table">
              <button type="button" class="table-cell">🍛</button>
            </div>
          </div>
        </div>

      </div>

      <!-- Potatoes -->
      <div class="col-3">

        <!-- Card entry point-->
        <div class="square" data-toggle="modal" data-target="#potatoModal">
          <div class="content">
            <div class="table">
              <button type="button" class="table-cell">🥔</button>
            </div>
          </div>
        </div>

      </div>

      <!-- Meat -->
      <div class="col-3">

        <!-- Card entry point-->
        <div class="square" data-toggle="modal" data-target="#meatModal">
          <div class="content">
            <div class="table">
              <button type="button" class="table-cell">🍖</button>
            </div>
          </div>
        </div>

      </div>

      <!-- Fish -->
      <div class="col-3">

        <!-- Card entry point-->
        <div class="square" data-toggle="modal" data-target="#fishModal">
          <div class="content">
            <div class="table">
              <button type="button" class="table-cell">🐟</button>
            </div>
          </div>
        </div>

      </div>

      <!-- Eggs -->
      <div class="col-3">

        <!-- Card entry point-->
        <div class="square" data-toggle="modal" data-target="#eggsModal">
          <div class="content">
            <div class="table">
              <button type="button" class="table-cell">🥚</button>
            </div>
          </div>
        </div>

      </div>

      <!-- Burgers -->
      <div class="col-3">

        <!-- Card entry point-->
        <div class="square" data-toggle="modal" data-target="#burgerModal">
          <div class="content">
            <div class="table">
              <button type="button" class="table-cell">🍔</button>
            </div>
          </div>
        </div>

      </div>

      <!-- Snacks -->
      <div class="col-3">

        <!-- Card entry point-->
        <div class="square" data-toggle="modal" data-target="#snackModal">
          <div class="content">
            <div class="table">
              <button type="button" class="table-cell">🥪</button>
            </div>
          </div>
        </div>

      </div>

      <!-- Pizzas -->
      <div class="col-3">

        <!-- Card entry point-->
        <div class="square" data-toggle="modal" data-target="#pizzaModal">
          <div class="content">
            <div class="table">
              <button type="button" class="table-cell">🍕</button>
            </div>
          </div>
        </div>

      </div>

      <!-- Fast-->
      <div class="col-3">

        <!-- Card entry point-->
        <div class="square" data-toggle="modal" data-target="#kidsModal">
          <div class="content">
            <div class="table">
              <button type="button" class="table-cell">🍳</button>
            </div>
          </div>
        </div>

      </div>

      <!-- Pies -->
      <div class="col-3">

        <!-- Card entry point-->
        <div class="square" data-toggle="modal" data-target="#pieModal">
          <div class="content">
            <div class="table">
              <button type="button" class="table-cell">🥧</button>
            </div>
          </div>
        </div>

      </div>

      <!-- Gastronome-->
      <div class="col-3">

        <!-- Card entry point-->
        <div class="square" data-toggle="modal" data-target="#gourmetModal">
          <div class="content">
            <div class="table">
              <button type="button" class="table-cell">🥘</button>
            </div>
          </div>
        </div>

      </div>


  </div>
</div>

<!-- Veggies Modal -->
<div class="modal" id="veggieModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'veggie' %>
      </div>
    </div>
  </div>
</div>


<!-- Salad Modal -->
<div class="modal" id="saladModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'salad' %>
      </div>
    </div>
  </div>
</div>




<!-- Meat Modal -->
<div class="modal" id="meatModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'meat' %>
      </div>
    </div>
  </div>
</div>



<!-- Fish -->
<div class="modal" id="fishModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'fish' %>
      </div>
    </div>
  </div>
</div>


<!-- Pasta Modal -->
<div class="modal" id="pastaModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'pasta' %>
      </div>
    </div>
  </div>
</div>

<!-- Cereal Modal -->
<div class="modal" id="cerealModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'cereals' %>
      </div>
    </div>
  </div>
</div>



<!-- Potatoes Modal -->
<div class="modal" id="potatoModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'potatoes' %>
      </div>
    </div>
  </div>
</div>



<!-- Eggs Modal -->
<div class="modal" id="eggsModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'eggs' %>
      </div>
    </div>
  </div>
</div>


<!-- Burgers Modal -->
<div class="modal" id="burgerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'burgers' %>
      </div>
    </div>
  </div>
</div>



<!-- Snacks Modal -->
<div class="modal" id="snackModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'snacks' %>
      </div>
    </div>
  </div>
</div>



<!-- Pizzas Modal -->
<div class="modal" id="pizzaModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'pizzas' %>
      </div>
    </div>
  </div>
</div>



<!-- Kids Modal -->
<div class="modal" id="kidsModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'kids' %>
      </div>
    </div>
  </div>
</div>



<!-- Pies Modal -->
<div class="modal" id="pieModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'pies' %>
      </div>
    </div>
  </div>
</div>



<!-- Gastronome Modal -->
<div class="modal" id="gourmetModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'gourmets' %>
      </div>
    </div>
  </div>
</div>
