<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <%= link_to "Dashboard", dashboard_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Liste d'attente", pending_path, class: "dropdown-item" %>
          <%= link_to "Créer une recette", import_recipes_path, class: "dropdown-item" %>
          <%= link_to "Recipes", manage_recipes_path, class: "dropdown-item" %>
          <%= link_to "Food", foods_path, class: "dropdown-item" %>
          <%= link_to "Search products", advanced_search_products_path, class: "dropdown-item" %>
          <%= link_to "Products", products_path, class: "dropdown-item" %>
          <%= link_to "Items", items_path, class: "dropdown-item" %>
          <%= link_to "Recipe lists", recipe_lists_path, class: "dropdown-item" %>
          <%= link_to "Recommendations", recommendations_path, class: "dropdown-item" %>
          <%= link_to "Curated lists", lists_path, class: "dropdown-item" %>
          <%= link_to "Checklists", checklists_path, class: "dropdown-item" %>
        </div>
      </li>

    </ul>
  </div>
</nav>




