<% if current_user %>
  <%= link_to cuisine_path, class:"openLink" do %>
    <div class="btn btn-light border btn-lg align-items-center">
       <%= cl_image_tag("menu_icons/cook", width: 20, class:"m-0 pb-1") %> <span class="badge badge-success"><%= current_recipe_list.recipes.size %></span>
    </div>
  <% end %>

<% else %>
    <div class="btn btn-light border btn-lg align-items-center" style="cursor: pointer;"  id="startAuthenticationBtn">
       <%= cl_image_tag("menu_icons/cook", width: 20, class:"m-0 pb-1") %> <span class="badge badge-success"><%= current_recipe_list.recipes.size %></span>
    </div>
<% end %>
