<div class="modal fade bd-login-modal-lg" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body p-3" style="min-height: 85vh;">
        <h2 class="bigh1 font-weight-bold">Connexion</h2>


        <% if flash[:alert].present? %>
          <p class="alert alert-danger"><%= flash[:alert] %></p>
        <% end %>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), remote: true) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs mb-0">
            <%= f.input :email,
                        label: false,
                        autofocus: true,
                        placeholder: "Votre Adresse Email",
                        input_html: { class:"py-3 px-2 rounded autofocus form-control form-control-lg font-weight-bold" } %>
            <%= f.input :password,
                        label: false,
                        placeholder: "Mot de passe",
                        input_html: { autocomplete: "current-password", class:"py-3 px-2 rounded autofocus form-control form-control-lg" } %>
            <%= f.input :remember_me, label: " Se souvenir de moi", as: :boolean, :wrapper_html=> { class: "m-1" } if devise_mapping.rememberable? %>
          </div>

            <div class="form-actions d-flex justify-content-end">
              <%= f.button :submit, "Se connecter", class: "btn btn-lg btn-light border mb-1" %>
            </div>
        <% end %>

         <%= link_to "Mot de passe oublié?", new_password_path(resource_name), class:"d-flex justify-content-end my-1" %>
          <%= link_to "Vous n'avez avez pas de compte?", "", data: {toggle: "modal", target: ".bd-signup-modal-lg"}, class:"d-flex font-weight-bold justify-content-end closeModal my-2", style:"text-decoration: none;", id:"closeModalBtn" %>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
