      <nav class="container navbar d-flex bd-highlight p-0">
        <a class="navbar-brand text-muted d-flex align-items-center mr-auto bd-highlight" id="startAuthenticationBtn"><i class="fas fa-lg fa-arrow-left p-2"></i></a>
      </nav>

        <h1 class="font-weight-bold text-secondary">Connectez-vous</h1>


        <% if flash[:alert].present? %>
          <p class="alert alert-danger"><%= flash[:alert] %></p>
        <% end %>

        <div class="errors alert-danger p-1 rounded" id="loginError" style="display: none;"></div>

        <div class="my-4">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), remote: true) do |f| %>
            <%= f.error_notification %>
            <div class="form-input">
              <div style="display: none;">
              <%= f.input :email,
                          label: false,
                          autofocus: false,
                          placeholder: "Votre email",
                          input_html: { class:"py-3 px-2 rounded autofocus form-control form-control-lg font-weight-bold",
                                        value: email } %>
              </div>
              <%= f.input :password,
                          label: false,
                          autofocus: true,
                          placeholder: "Mot de passe",
                          input_html: { autocomplete: "current-password", class:"py-4 border rounded rounded-lg font-weight-bold form-control form-control-lg text-primary shadow-lg" } %>


              <%= f.hidden_field :context, value: context %>

              <div class="px-2">
                <%= f.input :remember_me, label: "Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>
              </div>
            </div>

            <div class="form-actions d-flex justify-content-end">
              <%= f.button :submit, "Je me connecte", class: "btn btn-primary border btn-lg shadow-lg px-5", id:"loginBtn" %>
            </div>
          <% end %>

          <div class="mt-5">
            <%= link_to "Mot de passe oublié?", new_password_path(resource_name), class:"d-flex justify-content-end my-1" %>
          </div>
        </div>
