
  <div class="fixed-bottom bg-transparent" style="background-image: linear-gradient(transparent, white);">
    <div class="container bg-transparent">
      <div class="d-flex justify-content-center m-3 text-primary bg-transparent">
         <% if params[:action] == "products" %>
             <a class="shadow-lg bg-white rounded-pill rounded-lg p-2 mx-3"  style="background: linear-gradient(#e66465, #9198e5);" href="/products"><%= cl_image_tag("menu_icons/crystal-ball", width: 40, height: 40) %></a>
         <% else %>
            <a class="shadow-lg bg-white rounded-pill rounded-lg p-2 mx-3" href="/products"><%= cl_image_tag("menu_icons/crystal-ball", width: 40, height: 40) %></a>
         <% end %>

        <% if params[:action] == "browse" %>
           <a class="shadow-lg bg-white rounded-pill rounded-lg p-2 mx-3" style="background: linear-gradient(#e66465, #9198e5);" href="<%= $path.present? ? $path : browse_path %>"><%= cl_image_tag("menu_icons/face-food", width: 40, height: 40) %></a>
         <% else %>
          <a class="shadow-lg bg-white rounded-pill rounded-lg p-2 mx-3" href="<%= $path.present? ? $path : browse_path %>"><%= cl_image_tag("menu_icons/face-food", width: 40, height: 40) %></a>
         <% end %>

         <% if params[:action] == "explore" %>
            <a class="shadow-lg rounded-pill rounded-lg p-2 mx-3" style="background: linear-gradient(#e66465, #9198e5);" href="/explore"><%= cl_image_tag("menu_icons/male-cook", width: 40, height: 40) %></a>
         <% else %>
            <a class="shadow-lg bg-white rounded-pill rounded-lg p-2 mx-3" href="/explore"><%= cl_image_tag("menu_icons/male-cook", width: 40, height: 40) %></a>
         <% end %>

      </div>
    </div>
  </div>
