<div class="sticky-top bg-white">

  <div class="container px-2">
    <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between">
       <a class="navbar-brand text-dark d-flex align-items-center m-0" href="<%= referrer %>">
        <i class="fas fa-lg fa-arrow-left p-2"></i> <span class="text-white"></span>
      </a>

      <% if list.present? %>
        <button class="btn btn-flat2" id="getListBtn" context="recipe" source="<%= recipe.id %>" list-data="<%= list.id  %>" recipe-data="<%= recipe.id %>">Ajouter la sélection</button>

      <% else %>
        <button class="btn btn-flat2" id="getListBtn" context="recipe" source="<%= recipe.id %>" recipe-data="<%= recipe.id %>">Ajouter la sélection</button>

      <% end %>

    </nav>
  </div>

</div>
