 <div class="sticky-top bg-transparent">
  <div id="iOSInstallNavbar"></div>
  <div id="androidInstallNavbar"></div>

  <div class="container">
    <% if user_signed_in? %>
      <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-end">
        <a class="shadow-lg bg-white rounded-pill rounded-lg p-2 danger text-center" href="/profile"><%= cl_image_tag("menu_icons/waving-hand", width: 25, height: 25, class:"m-0") %></a>
      </nav>
    <% else %>
       <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-start" style="background-color: transparent;">
          <a class="navbar-brand text-dark d-flex align-items-center" href="/">
            <i class="fas fa-lg fa-arrow-left p-2"></i> <span class="text-white"></span>
          </a>
       </nav>
    <% end %>
  </div>
</div>



<% unless user_signed_in? %>
<!-- Navbar End -->
<%= render 'shared/login_form' %>
<%= render 'shared/signup_form' %>
<% end %>
<!-- PWA prompt on safari IOS -->
<%= render 'shared/ios_install_popup' %>
<!-- PWA prompt on Android -->
<%= render 'shared/android_install_popup' %>
