 <div class="sticky-top bg-white shadow">

  <div class="container">
    <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between" style="background-color: transparent;">
       <a class="navbar-brand text-dark d-flex align-items-center font-weight-bold" href="/browse">
        <%= cl_image_tag("logo_qj08zi", width: 30, height: 30) %> Mama
      </a>

      <% if user_signed_in? %>
        <%= link_to "Paramètres", profile_path, class:"btn bg-transparent border m-1"  %>
      <% end %>

    </nav>
  </div>
</div>


<% unless user_signed_in? %>
  <div class="fixed-bottom bg-white shadow border-top">
    <div class="wrapper">
      <nav class="px-0 navbar navbar-expand-lg">
        <div class="container d-flex justify-content-center">
          <%= link_to "Se connecter", "", data: {toggle: "modal", target: ".bd-login-modal-lg"}, class:"btn btn-sm rounded btn-light border px-3 m-1"  %>

          <!--alter the login link to trigger the opening of the modal -->
          <%= link_to "S'inscrire", "", data: {toggle: "modal", target: ".bd-signup-modal-lg"}, class:"btn btn-sm rounded btn-secondary border px-3 m-1 signupBtn", context: "Explore", action: "signup" %>
        </div>
      </nav>
    </div>
  </div>
<% end %>


<!-- Navbar End -->
<%= render 'shared/login_form' %>
<%= render 'shared/signup_form' %>
