 <div class="sticky-top bg-white">
  <div class="container">
    <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between">
       <a class="navbar-brand text-dark d-flex align-items-center font-weight-bold" href="/">
        <%= cl_image_tag("logo_qj08zi", width: 30, height: 30) %> Mama
      </a>

      <% if user_signed_in? %>
        <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class:"btn btn-sm bg-transparent text-muted border font-weight-bold"  %>
      <% else %>
        <!--alter the login link to trigger the opening of the modal -->
        <%= link_to "Enregistrer la liste", "", data: {toggle: "modal", target: ".bd-signup-modal-lg"}, class:"btn bg-success font-weight-bold text-white", style:"text-decoration: none;" %>
      <% end %>

    </nav>
  </div>
 </div>

<!-- Navbar End -->
<%= render 'shared/login_form' %>
<%= render 'shared/signup_form' %>
