 <div class="sticky-top bg-white shadow">
  <div class="container px-2">
    <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between">
       <a class="navbar-brand text-dark d-flex align-items-center font-weight-bold m-0" href="/browse">
        <%= cl_image_tag("logo_qj08zi", width: 30, height: 30) %> Mama
      </a>

      <%= link_to "Partager", list_share_path(@list), class:"btn bg-success text-white" %>
    </nav>
  </div>
</div>

<% unless user_signed_in? %>
  <div class="fixed-bottom bg-white border-top">
    <div class="wrapper">
      <nav class="px-0 pt-0 pb-1 navbar navbar-expand-lg d-flex align-items-center justify-content-center">
        <div class="container px-2 d-flex flex-column ">
          <small class="text-muted text-center p-1">Connectez-vous pour enregistrer vos listes</small>
          <div class="d-flex justify-content-center">
            <%= link_to "Se connecter", "", data: {toggle: "modal", target: ".bd-login-modal-lg"}, class:"btn btn-sm rounded btn-light border px-3 m-1"  %>

            <!--alter the login link to trigger the opening of the modal -->
            <%= link_to "S'inscrire", "", data: {toggle: "modal", target: ".bd-signup-modal-lg"}, class:"btn btn-sm rounded btn-secondary border px-3 m-1 signupBtn", context: "Show list", action: "signup" %>
          </div>
        </div>
      </nav>
    </div>
  </div>
<% end %>

<!-- Navbar End -->
<%= render 'shared/login_form' %>
<%= render 'shared/signup_form' %>
