  <div class="container">
    <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between" style="background-color: transparent;">
       <a class="navbar-brand text-dark d-flex align-items-center font-weight-bold" href="/">
        <%= cl_image_tag("logo_qj08zi", width: 30, height: 30) %> Mama <span class="badge badge-pill badge-outline-secondary"><small>BETA</small></span>
      </a>

      <% if params[:controller] == "recipe_lists" %>

        <% if @lists.any? %>
          <%= link_to 'Mes courses', list_path(current_user.get_latest_list), class:"btn btn-sm p-0 close" %>
        <% else %>
          <%= simple_form_for @list do |f| %>
            <%= f.input :name, :autofocus => true, label: false, :as => :hidden, placeholder: "Donnez un nom à votre liste", input_html: { class:"my-3 rounded-0 autofocus", value: "Liste de courses" } %>
            <%= f.input :user_id, input_html: {value: current_user.id}, :as => :hidden, :wrapper_html=> { class: "m-0" }  %>
            <%= f.input :status, input_html: {value: "saved"}, :as => :hidden, :wrapper_html=> { class: "m-0" }  %>
            <%= f.submit "Mes courses", class:"btn btn-sm p-0 close" %>
          <% end %>
        <% end %>


      <% elsif params[:controller] == "lists" %>


        <% if current_user.recipe_lists.any? && current_user.recipe_lists.last.status == "opened" %>
          <!-- Continue last menu -->
          <%= link_to "Idées repas", explore_recipe_list_path(current_user.recipe_lists.where(status: "opened").last), class:"btn btn-sm p-0 close" %>
        <% else  %>
          <!-- Create new recipe list / menu -->
          <%= simple_form_for @recipe_list do |f| %>
              <%= f.input :user_id, input_html: {value: current_user.id}, :as => :hidden %>
              <%= f.input :recipe_list_type, input_html: {value: "personal"}, :as => :hidden  %>
              <%= f.input :status, input_html: {value: "opened"}, :as => :hidden %>
              <%= f.submit "Idées repas", class:"btn btn-sm p-0 close" %>
          <% end %>
        <% end %>

      <% end %>


    </nav>
  </div>
