<% unless params[:controller] == "pages" && params[:action] == "home" && !current_user %>
  <div class="container">
    <nav class="px-0 navbar navbar-expand-lg navbar-light" style="background-color: white;">
       <a class="navbar-brand text-dark d-flex align-items-center font-weight-bold" href="/">
        <%= cl_image_tag("logo_qj08zi", width: 30, height: 30) %> Mama
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <% if user_signed_in? && current_user.beta == true %>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <%= link_to "Listes de courses", lists_path, class:"nav-link"  %>
            </li>
            <li class="nav-item active">
              <%= link_to "Idées repas", recipes_path, class:"nav-link"  %>
            </li>
            <!--
            <li class="nav-item active">
              <%= link_to "Magasins", stores_path, class:"nav-link"  %>
            </li>
             -->
            <li class="nav-item active">
              <%= link_to "Courses", carts_path, class:"nav-link"  %>
            </li>
            <li class="nav-item active">
              <%= link_to "Compte", profile_path, class:"nav-link"  %>
            </li>
          </ul>
        </div>
      <% end %>
    </nav>
  </div>
<% end %>
