<div class="sticky-top bg-white shadow">
  <div id="iOSInstallNavbar"></div>

  <div class="container px-2">
    <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between">
       <a class="navbar-brand text-dark d-flex align-items-center m-0" href="<%= referrer %>">
        <i class="fas fa-lg fa-arrow-left text-secondary p-2"></i> <span class="text-secondary">Retour</span>
      </a>

      <% if list.present? %>
        <button class="btn btn-warning btn-lg" id="getListBtn" context="recipe" source="<%= recipe.id %>" list-data="<%= list.id  %>" recipe-data="<%= recipe.id %>">Ajouter</button>

      <% else %>
        <button class="btn btn-warning btn-lg" id="getListBtn" context="recipe" source="<%= recipe.id %>" recipe-data="<%= recipe.id %>">Continuer</button>

      <% end %>

    </nav>
  </div>
<% unless user_signed_in? %>
    <div class="wrapper py-0 alert-warning">
      <nav class="p-0 navbar navbar-expand-lg  d-flex align-items-center justify-content-center">

        <%= link_to "Se connecter", "", data: {toggle: "modal", target: ".bd-login-modal-lg"}, class:"btn btn-sm btn-link m-1 border-0"  %>
        <%= link_to "S'inscrire", "", data: {toggle: "modal", target: ".bd-signup-modal-lg"}, class:"btn btn-sm btn-link alert-warning m-1 border-0 signupBtn", context: "Show recipe", action: "signup"  %>

      </nav>
    </div>
<% end %>
</div>




<!-- Navbar End -->
<%= render 'shared/login_form' %>
<%= render 'shared/signup_form' %>
