 <div class="sticky-top bg-white shadow">
  <div id="iOSInstallNavbar"></div>
  <div id="androidInstallNavbar"></div>



  <div class="container">
    <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between">
       <a class="navbar-brand d-flex text-dark align-items-center font-weight-bold" href="/">
        <%= cl_image_tag("logo_qj08zi", width: 30, height: 30) %> Mama
      </a>

      <% if user_signed_in? %>
        <%= link_to "Compte", profile_path, class:"btn bg-transparent border m-1"  %>
      <% end %>

    </nav>
  </div>
</div>



<% unless user_signed_in? %>
<!-- Navbar End -->
<%= render 'shared/login_form' %>
<%= render 'shared/signup_form' %>
<% end %>
<!-- PWA prompt on safari IOS -->
<%= render 'shared/ios_install_popup' %>
<!-- PWA prompt on Android -->
<%= render 'shared/android_install_popup' %>
