<div class="sticky-top px-0 bg-white">
  <% unless current_user %>
      <nav class="container navbar d-flex bd-highlight px-2">
        <%= link_to root_path, class:"m-0 navbar-brand font-weight-bold d-flex align-items-center mr-auto bd-highlight" do %>
          <span style="background: linear-gradient(0deg, rgb(249, 66, 6),rgb(250, 134, 22),rgb(251, 202, 37)); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 1.5rem;">
              Supernet
          </span>
        <% end %>


        <div class="d-flex align-items-center">
          <button class="btn bg-white p-2 mr-1 rounded-pill rounded-lg text-center" id="messageModalBtn">
            <%= cl_image_tag("menu_icons/speech-balloon", width: 30, class:"m-0") %>
          </button>
          <button class="btn btn-lg btn-light border" id="startAuthenticationBtn">Connexion</button>
        </div>
      </nav>

  <% else %>
      <nav class="navbar d-flex justify-content-between px-2">
        <% if ["assistant"].include?(params[:action]) %>
          <div class="navbar-brand font-weight-bold" style="font-size: 1.5rem">Mes produits</div>
        <% elsif ["favorites"].include?(params[:action]) %>
          <div class="navbar-brand font-weight-bold" style="font-size: 1.5rem">Mes recettes</div>
        <% end %>


        <div class="d-flex align-items-center">

          <a class="bg-white p-2 rounded-pill rounded-lg text-center" href="/profile">
            <%= cl_image_tag("menu_icons/waving-hand", width: 30, class:"m-0") %>
          </a>

          <button class="btn bg-white p-2 rounded-pill rounded-lg text-center" id="messageModalBtn">
            <%= cl_image_tag("menu_icons/speech-balloon", width: 30, class:"m-0") %>
          </button>

          <% if current_user.beta %>
            <% if ["assistant"].include?(params[:action])%>
              <a class="bg-white p-2 rounded-pill rounded-lg text-center" href="/browse">
                <%= cl_image_tag("menu_icons/list", width: 30, class:"m-0") %>
              </a>
            <% end %>
            <% if ["browse"].include?(params[:action])%>
              <a class="bg-white p-2 rounded-pill rounded-lg text-center" href="/assistant">
                <%= cl_image_tag("menu_icons/search", width: 30, class:"m-0") %>
              </a>
            <% end %>
          <% end %>
        </div>

      </nav>

  <% end %>
</div>


<% if false %>
   <a class="p-1 font-weight-bold rounded text-white font-weight-bold" style="background-image: linear-gradient(3deg, rgb(249, 144, 110),rgb(225, 14, 225)); font-size: 0.8rem;" href='/beta'>
    PLUS
   </a>
<% end %>
