<nav class="navbar sticky-top navbar-expand-md navbar-white bg-white d-flex shadow-sm mb-3 pt-0 pb-0">
  <a class="navbar-brand text-dark mr-1" href="/">😋</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-dark pb-0 pt-0" href="/">ClubMama <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to current_user.username, profile_path, class:"nav-link text-black-50 pb-0 pt-0" %>
        <% end %>
      </li>
    </ul>


  <% if params[:controller] == "food_lists" && params[:action] == "add" %>
    <%= link_to food_list_path(@foodlist), class: 'ml-auto p-2' do %>
      <button type="button" class="btn btn-sm btn-flat ml-auto p-2">
        Liste de courses <span class="badge badge-light grocerylist-count"> <%= @foodlist.foods.size %></span>
      </button>
    <% end  %>
  <% end %>

  <% if params[:controller] == "food_lists" && params[:action] == "show" && @foodlist.foods.size > 0 %>
    <%= link_to get_cart_food_list_path(@foodlist), class: 'ml-auto p-2', target: :_blank do %>
      <button type="button" class="btn btn-sm btn-flat ml-auto p-2">
        Voir les prix <span class="badge badge-light grocerylist-count"> <%= @foodlist.foods.size %></span>
      </button>
    <% end  %>
  <% end %>

</nav>
