<ul class="list-group">
  <li class="lead list-group-item d-flex justify-content-between align-items-center font-weight-bold px-2">
    <div>
      <%= cl_image_tag("menu_icons/sparkling-heart", width: 20, height: 20) %>
      <span>Excellent!</span>
    </div>
     <div class="d-flex flex-column justify-content-end text-right">
      <p class="p-1 m-0"><strong class="text-secondary lead">100</strong><small class="text-muted pl-1">points</small> </p>
    </div>
  </li>
  <li class="lead list-group-item d-flex justify-content-between align-items-center font-weight-bold px-2">
    <div>
      <%= cl_image_tag("menu_icons/green-heart", width: 20, height: 20) %>
      <span>Super</span>
    </div>
     <div class="d-flex flex-column justify-content-end text-right">
      <p class="p-1 m-0"><strong class="text-secondary lead">60</strong><small class="text-muted pl-1">points</small> </p>
    </div>
  </li>
  <li class="lead list-group-item d-flex justify-content-between align-items-center font-weight-bold px-2">
    <div>
      <%= cl_image_tag("menu_icons/yellow-heart", width: 20, height: 20) %>
      <span>Bien</span>
    </div>
    <div class="d-flex flex-column justify-content-end text-right">
      <p class="p-1 m-0"><strong class="text-secondary lead">30</strong><small class="text-muted pl-1">points</small> </p>
    </div>
  </li>
  <li class="lead list-group-item d-flex justify-content-between align-items-center font-weight-bold px-2">
    <div>
      <%= cl_image_tag("menu_icons/orange-heart", width: 20, height: 20) %>
      <span>Moyen</span>
    </div>
    <div class="d-flex flex-column justify-content-end text-right">
      <p class="p-1 m-0"><strong class="text-secondary lead">10</strong><small class="text-muted pl-1">points</small> </p>
    </div>
  </li>
  <li class="lead list-group-item d-flex justify-content-between align-items-center font-weight-bold px-2">
    <div>
      <%= cl_image_tag("menu_icons/broken-heart", width: 20, height: 20) %>
      <span>Pas top</span>
    </div>
     <div class="d-flex flex-column justify-content-end text-right">
      <p class="p-1 m-0"><strong class="text-secondary lead">- de 10</strong><small class="text-muted pl-1">points</small> </p>
    </div>
  </li>
</ul>
