  <div id="isDisliked<%= recipe.id %>">
    <%= render 'shared/dislike_recipe_button', recipe: recipe %>
  </div>
  <div id="isSelected<%= recipe.id %>">
    <%= render 'shared/select_recipe_button', recipe: recipe %>
  </div>
  <div id="isFavorite<%= recipe.id %>">
    <%= render 'shared/favorite_button', recipe: recipe %>
  </div>
