<div class="modal fade bd-signup-modal-lg"tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body p-3" style="min-height: 55vh;">
        <h3 class="p-1">Créez, enregistrez et partagez vos listes avec un compte Mama</h3>

        <div class="errors"></div>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs mb-0">
            <%= f.input :email,
                        label: false,
                        placeholder: "Adresse email",
                        input_html: { autocomplete: "email", value: params[:user_email] }%>
          <%= f.input :password,
                      label: false,
                      placeholder: "Mot de passe" %>
            <%= hidden_field 'shared_list', params[:shared_list] %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Continuer", class: "btn btn-warning mb-3" %>
          </div>
        <% end %>

        <div>
          <p class="text-dark font-weight-bold mt-5 mb-1 lead">Vous avez déjà un compte ?</p>
          <!--alter the login link to trigger the opening of the modal -->
          <%= link_to "Se connecter", "", data: {toggle: "modal", target: ".bd-login-modal-lg"}, class:"btn btn-outline-primary closeModal", style:"text-decoration: none;", id:"closeModalBtn" %>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

