<%= render 'shared/admin-navbar' %>

<div class="container my-5">
  <h1 class="font-weight-bold"><%= @store.name.capitalize %></h1>
  <p class="ml-1 text-muted">Catalogue du magasin <%= @store.store_type %></p>

  <%= link_to "Accueil", store_path(@store), class:"btn btn-light border" %>
  <% @path.each do |p| %>
    <%= link_to p.name, store_store_section_path(@store, store_section_item_id: p.id), class:"btn btn-light border" %>
  <% end %>

<hr class="my-3">

  <h2 class="mb-0"><%= @store_section_item.name %></h2>


  <%= render 'form', store: @store, store_section_item: @store_section_item %>
</div>
