<%= render 'shared/admin-navbar' %>

<div class="container my-5">
  <h1 class="display-4 font-weight-bold"><%= @store.name.capitalize %></h1>
  <p class="ml-1 text-muted">Catalogue du magasin <%= @store.store_type %></p>
</div>

<hr class="my-5">

<div class="container my-5">
  <p><%= link_to "Accueil", store_path(@store) %></p>
  <% if @root %>
    <p><%= link_to @root.name, store_store_section_path(@store, store_section_item_id: @root.id) %></p>
  <% end %>
  <% if @parent %>
    <p><%= link_to @parent.name, store_store_section_path(@store, store_section_item_id: @parent.id) %></p>
  <% end %>

  <h2 class="mb-0"><%= @store_section_item.name %></h2>


  <%= render 'form', store: @store, store_section_item: @store_section_item %>
</div>
