

<div id="newlistItemForm" style="display: none;">
    <%= render 'items/list_item_form', list: @list, item: Item.new, saved_items: @saved_items %>

</div>

<div id="searchResults" style="display: none;">
  <%= render 'shared/recipe_suggest' %>
</div>

<div>

<div id="listShow">
  <div id="assistantContent" class="bg-white">
    <% unless ["add_to_homescreen"].include?(params[:action])%>
      <div id="iOSInstallNavbar"></div>
      <div id="androidInstallNavbar"></div>
    <% end %>
    <div class="sticky-top bg-white mb-1" id="listBarTop">
        <nav class="container navbar d-flex bd-highlight px-2">
          <% if current_user %>
            <% if current_user.beta %>
              <a class="navbar-brand text-muted d-flex align-items-center mr-auto bd-highlight" href="/"><i class="fas fa-lg fa-arrow-left p-2"></i></a>
            <% else %>
                <%= render 'shared/nav_actions' %>
            <% end %>
            <%= link_to favorites_path, class:"openLink" do %>
              <div class="btn btn-light border btn-lg">
                  <i class="fas fa-lg fa-star" style="color: #ffd700 ;"></i>
              </div>
            <% end %>

          <% else %>
            <%= link_to root_path, class:"m-0 navbar-brand font-weight-bold d-flex align-items-center mr-auto bd-highlight openLink" do %>
              <span style="background: linear-gradient(0deg, rgb(249, 66, 6),rgb(250, 134, 22),rgb(251, 202, 37)); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 1.5rem;">
                  Supernet
              </span>
            <% end %>

            <div>
              <button class="btn bg-white p-2 mr-2 rounded-pill rounded-lg text-center" id="messageModalBtn">
                <%= cl_image_tag("menu_icons/speech-balloon", width: 30, class:"m-0") %>
              </button>
              <%= link_to "", data: {toggle: "modal", target: ".bd-signup-modal-lg"}, class:"signupBtn", context: "assistant", action: "signup" do %>
                <div class="btn btn-light border btn-lg">
                  <i class="fas fa-lg fa-star" style="color: #ffd700 ;"></i>
                </div>
              <% end %>
            </div>
          <% end %>

        </nav>
    </div>

    <div class="wrapper" style="min-height: 60vh;">
      <div class="container mb-3">
        <div class="jumbotron jumbotron-fluid bg-transparent p-0 border-0">
          <h2 class="font-weight-bold text-muted">De quels produits disposez-vous ?</h2>
        </div>
      </div>
      <div class="container px-1">
        <div class="container px-0" id="todo_list" data="<%= @list.id %>">
          <div class="container px-0">

            <ul class="border-0 list-group-item d-flex align-items-center justify-content-between p-0 pl-1 m-0" >
              <div class="d-flex align-items-center">
              </div>
            </ul>
            <div class="search-form-control">
                <input type="text" placeholder="Ajouter un produit..." class="py-4 rounded rounded-lg font-weight-bold form-control form-control-lg text-primary border" id="toggleListItemform" style="cursor: pointer;" >
                <button class="btn btn-sm btn-primary font-weight-bold" id="addContentBtn" type="submit">
                 Ajouter
                </button>
            </div>

            <div class="mt-3" id="assistantItems">
              <div class="" id="uncomplete_list_items">
                <%= render 'lists/uncomplete_todo_list', list: @list %>
              </div>
            </div>



            <div id="scrollPoint" style="padding: 20px;">
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="container px-2">
      <div id="savedProducts">
        <%=  render"lists/saved_products", items: @saved_items %>
      </div>
      <div id="itemsRecommendations" class="pb-5">
          <%= render'lists/suggested_products', categories: @categories %>
      </div>
    </div>





    <div style="padding: 50px;"></div>

    <nav class="wrapper nav-light fixed-bottom shadow-lg bg-light">
      <div class="container d-flex justify-content-end p-2" >
         <button class="btn btn-lg px-4 py-2 border-0 rounded text-center text-white fetchRecipes" style="background: linear-gradient(0deg, rgb(249, 66, 6),rgb(250, 134, 22),rgb(251, 202, 37)); cursor: pointer; font-size: 1.5rem; display: none" id="searchRecipeBtn">
            <%= cl_image_tag("menu_icons/search", width: 25, class:"m-0") %>
            Recherche
         </button>
       </div>

    </nav>
  </div>
</div>



  <!-- Edit List Item Modal -->
  <div class="modal fade" id="editListItemModal" tabindex="-1" role="dialog" aria-labelledby="editListItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editListModalLabel">Modifier</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-0 p-0">

          <div id="editListItemForm"></div>

        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-body m-0 p-0" style="min-height: 50vh;">

          <div id="contentShow"></div>

        </div>
        <div class="modal-footer bg-white">
          <button type="button" class="btn btn-light border" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
