

<div id="newlistItemForm" style="display: none;">
    <%= render 'items/list_item_form', list: @list, item: Item.new %>

</div>

<div id="searchResults" style="display: none;">
  <%= render 'shared/recipe_suggest' %>
</div>

<div>

<div id="listShow">
  <div id="assistantContent" class="bg-white">
    <% unless ["add_to_homescreen"].include?(params[:action])%>
      <div id="iOSInstallNavbar"></div>
      <div id="androidInstallNavbar"></div>
    <% end %>
    <div class="sticky-top bg-white mb-1" id="listBarTop">
        <nav class="container navbar d-flex bd-highlight px-2">
          <% if current_user %>
            <% if current_user.beta %>
              <a class="navbar-brand text-muted d-flex align-items-center mr-auto bd-highlight" href="/"><i class="fas fa-lg fa-arrow-left p-2"></i></a>
            <% else %>
                <%= render 'shared/nav_actions' %>
            <% end %>
            <%= link_to favorites_path, class:"openLink" do %>
              <div class="btn btn-light border btn-lg">
                  <i class="fas fa-lg fa-star" style="color: #ffd700 ;"></i>
              </div>
            <% end %>

            <% if false %>
              <div class="ml-1" id="score" data="<%= @list.id %>" style="min-height: 45px;">
                <%= render "shared/score", score: (@list.get_healthy_score * 100).round, list: @list %>
              </div>
            <% end %>

          <% else %>
            <%= link_to root_path, class:"m-0 navbar-brand font-weight-bold d-flex align-items-center mr-auto bd-highlight openLink" do %>
              <i class="fas fa-lg fa-arrow-left p-2 text-muted"></i>
            <% end %>

            <div class="d-flex bd-highlight m-0">
              <button class="btn bg-white p-1 mr-2 rounded-pill rounded-lg text-center" id="messageModalBtn">
                <%= cl_image_tag("menu_icons/speech-balloon", width: 30, class:"m-0") %>
              </button>
              <div class="btn btn-light border btn-lg" id="startAuthenticationBtn" data="favorites">
                  <i class="fas fa-lg fa-star" style="color: #ffd700;"></i>
              </div>

              <% if false %>
                <div class="ml-1" id="score" data="<%= @list.id %>" style="min-height: 45px;">
                  <%= render "shared/score", score: (@list.get_healthy_score * 100).round, list: @list %>
                </div>
              <% end %>

            </div>
          <% end %>

        </nav>
    </div>


    <div class="wrapper" style="min-height: 70vh;">
      <div class="container px-1" id="todo_list" data="<%= @list.id %>">

          <div class="jumbotron text-white text-center mb-2 px-2 py-3" style="background: linear-gradient(0deg, rgb(249, 66, 6),rgb(250, 134, 22),rgb(251, 202, 37));">
            <p class="pl-1 lead text-white mb-3">
              <%= cl_image_tag("menu_icons/down-arrow", width: 15, class:"span small pb-1") %>
               Listez vos produits disponibles
              <%= cl_image_tag("menu_icons/down-arrow", width: 15, class:"span small pb-1") %>
            </p>
            <div id="toggleListItemform">
              <button class="btn btn-lg btn-light px-4 py-2 border-0 rounded shadow-lg" style="font-size: 1.5rem;" >Nouveau produit</button>
            </div>

          </div>

          <div class="px-2 mt-3" id="assistantItems">
            <div class="" id="uncomplete_list_items">
              <%= render 'lists/uncomplete_todo_list', list: @list %>
            </div>
          </div>


          <div id="scrollPoint" style="padding: 20px;">
          </div>

      </div>
    </div>
    <div class="container px-2">
      <div id="savedProducts">
        <%=  render"lists/saved_products", items: @saved_items %>
      </div>

      <% if false %>
        <div id="itemsRecommendations" class="pb-5">
            <%= render'lists/suggested_products', categories: @categories %>
        </div>
      <% end %>
    </div>





    <div style="padding: 50px;"></div>

    <nav class="wrapper nav-light fixed-bottom shadow-lg bg-light">
      <div class="container d-flex justify-content-end p-2" >
         <button class="btn btn-lg px-4 py-2 border-0 rounded text-center text-white fetchRecipes" style="background: linear-gradient(0deg, rgb(249, 66, 6),rgb(250, 134, 22),rgb(251, 202, 37)); cursor: pointer; font-size: 1.5rem; display: none" id="searchRecipeBtn">
            <%= cl_image_tag("menu_icons/search", width: 25, class:"m-0") %>
            Recherche
         </button>
       </div>

    </nav>
  </div>
</div>



  <!-- Edit List Item Modal -->
  <div class="modal fade" id="editListItemModal" tabindex="-1" role="dialog" aria-labelledby="editListItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editListModalLabel">Modifier</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-0 p-0">

          <div id="editListItemForm"></div>

        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-body m-0 p-0" style="min-height: 50vh;">

          <div id="contentShow"></div>

        </div>
        <div class="modal-footer bg-white">
          <button type="button" class="btn btn-light border" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
