
  <div class="card mb-2 rounded shadow" style="break-inside: avoid;">
    <div class="row no-gutters">
      <div class="col-5">
        <%= cl_image_tag("#{recipe.id}", :width=>400, :height=>400, :fetch_format=>:auto, :crop=>"fill", :quality=>"auto:low", class:"card-img-top img-fluid rounded-0") %>
      </div>
      <div class="col-7 d-flex align-items-start flex-column bd-highlight">
        <%= link_to recipe.link, target: "_blank", style:"text-decoration: none;" do %>
          <div class="card-body mb-auto p-2 bd-highlight text-left" style="max-height: 4vh;">
            <h5 class="card-title text-primary mb-0 pb-0" style="font-size: 0.9rem;"><%= truncate(recipe.title, length:60) %></h5>
            <p class="card-text m-0 p-0"><small class="text-muted" style="font-size: 0.5rem;"><%= URI("#{recipe.link }").host %></small></p>
          </div>
        <% end %>
        <div class="mt-auto bd-highlight m-2">
          <button class="btn-sm btn-warning rounded addToListModalBtn" style="cursor: pointer;" list-data="<%= list.id %>" data="<%= recipe.id %>">Ajouter</button>
          <button class="btn-sm btn-light border rounded text-muted" style="cursor: pointer;"><i class="fas fa-star"></i></button>
        </div>
      </div>
    </div>
  </div>
