<div class="banner d-flex flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= cl_image_path("home_photos/hp#{Date.today.strftime("%d").to_i}-min", crop: :scale, :quality=>"auto:low", :width => :auto, :responsive_placeholder => "blank", :fetch_format=>:auto) %>);">

  <%= render 'shared/navbar_white' %>

  <div class="container">
    <%= render 'shared/flashes' %>
  </div>


  <div class="container my-auto d-flex flex-column justify-content-start align-items-start">

    <h1 class="text-white mb-2">Choisissez une liste de courses</h1>


    <% if @lists.any? %>
      <div class="btn-group">
        <button type="button" class="btn btn-lg btn-warning font-weight-bold dropdown-toggle border-0 px-5 py-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="white-space: normal;">
          Listes de courses
        </button>
        <div class="dropdown-menu">
          <% @lists.sort_by(&:id).each do |list|  %>
            <%= link_to "#{list.name}", list_path(list), class:"dropdown-item" %>
          <% end %>
          <div class="dropdown-divider"></div>
          <%= link_to "Créer une nouvelle liste", select_path, class:"dropdown-item text-primary" %>
        </div>
      </div>

    <% else %>
      <%= simple_form_for @list do |f| %>
        <%= f.input :name, :autofocus => true, label: false, :as => :hidden, placeholder: "Donnez un nom à votre liste", input_html: { class:"my-3 rounded-0 autofocus", value: "Liste de courses" } %>
        <%= f.input :user_id, input_html: {value: current_user.id}, :as => :hidden, :wrapper_html=> { class: "m-0" }  %>
        <%= f.input :status, input_html: {value: "saved"}, :as => :hidden, :wrapper_html=> { class: "m-0" }  %>
        <%= f.submit "Commencer les courses", class:"btn btn-lg btn-flat text-white border-0 px-5 py-3" %>
      <% end %>
    <% end %>

  </div>
  <%= link_to "Mon compte", profile_path, class:"nav-link text-white text-center my-3"  %>
</div>







