

<div class="container mt-3 mb-5">
  <h1>Listes de courses</h1>

  <div class="list-group shadow">
    <!-- Button trigger Create List modal -->
    <button type="button" class="list-group-item list-group-item-action text-white" style="background-color: #FF3463;" data-toggle="modal" data-target="#createListModal">
      <strong>➕ Créer une nouvelle liste</strong>
    </button>

    <% @user.lists.each do |list| %>
      <%= link_to list_path(list), class:"list-group-item list-group-item-action" do %>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 text-primary"><%= list.name.capitalize %></h5>
          <small class="text-muted"></small>
        </div>
        <p class="mb-1"><%= list.list_items.not_deleted.reverse.map{ |item| item.name.capitalize}.join(', ') %></p>
        <small class="text-muted"></small>
      <% end %>
    <% end %>

  </div>

</div>

<!-- Create List Modal -->
<div class="modal fade" id="createListModal" tabindex="-1" role="dialog" aria-labelledby="createListModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createListModalLabel">Nouvelle liste de courses</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'lists/form' %>
      </div>
    </div>
  </div>
</div>




<div class="container my-5">
  <h1 class="mb-0">Idées repas</h1>
  <p><small>Inspirez-vous pour compléter vos listes de courses</small></p>

  <div class="list-group shadow">

    <% @recipes.each do |recipe| %>
      <%= render 'recipes/recipe-list-group-item', recipe: recipe %>
    <% end %>

  </div>

</div>
