<div class="container">
  <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between" style="background-color: transparent;">
     <a class="navbar-brand text-dark d-flex align-items-center" href="/">
      <i class="fas fa-lg fa-arrow-left text-secondary p-2"></i> <span class="text-secondary">Retour</span>
    </a>
    <button class="btn-flat" id="goToSelectRecipesBtn" recipe-data="<%= @selected_recipes %>">Continuer</button>
  </nav>
</div>

<div class="jumbotron jumbotron-fluid py-3 bg-primary text-white">
  <div class="container">
    <h1 class="">Produits de base</h1>
    <p class="lead">Sélectionnez les produits qui vous intéressent dans chaque rayon pour les ajouter à votre liste.</p>
  </div>
</div>


<div class="container">
  <% if @lists.any? %>
    <div class="accordion" id="accordionExample">
      <% @lists.each_with_index do |list, index| %>
        <div class="">
          <div class="" id="heading<%= index %>">
            <h2 class="mb-0">
              <p class="font-weight-bold lead text-primary" type="button" data-toggle="collapse" data-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>" style="cursor: pointer;">
                <%= list.name %>
              </p>
            </h2>
          </div>

          <div id="collapse<%= index %>" class="collapse" aria-labelledby="heading<%= index %>" data-parent="#accordionExample">
            <div class="">
              <ul class="list-group list-group-flush pl-2">
                <% list.get_items_to_buy.compact.sort_by(&:name).each do |item| %>
                  <% if @selected_items.present? && @selected_items.split("&i=").include?(item.name) %>
                    <%= render 'items/selected_item', item: item %>
                  <% else %>
                    <%= render 'items/unselected_item', item: item %>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>



<div class="container my-5 d-flex flex-row-reverse">
  <div class="d-flex flex-column">
    <p class="text-muted bd-highlight text-center mb-1">Vous pourrez ajouter d'autres produits ensuite</p>
    <button class="btn-lg btn-flat bd-highlight px-5" id="goToSelectRecipesBtn" recipe-data="<%= @selected_recipes %>">Continuer la liste</button>
  </div>
</div>
