
<nav class="container navbar navbar-light bg-white sticky-top d-flex align-items-center">
 <%= link_to root_path, class:"m-0 navbar-brand font-weight-bold d-flex align-items-center mr-auto bd-highlight" do %>
    <span style="background: linear-gradient(0deg, rgb(249, 66, 6),rgb(250, 134, 22),rgb(251, 202, 37)); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 1.5rem;">
        Supernet
    </span>
  <% end %>
  <%= render 'shared/nav_actions' %>
</nav>

<div class="banner bg-white" style="overflow-x: hidden; overflow-y: hidden;">
  <div class="wrapper m-0">
    <div class="row">
      <div class="col-md align-self-center">
        <div id="presentation" class="mb-5">
          <div class="container">
            <h1 class="mb-3">Vous avez les produits?<br><span class="display-4 font-weight-bold">Nous avons les idées !</span></h1>

            <p class="lead">
             Trouvez votre prochaine idée repas à partir des produits de votre frigo et vos placards !
            <br>
            Super facile et sans pub <%= cl_image_tag("menu_icons/rocket", width: 20, class:"pb-1") %>
            </p>
             <%= link_to "Trouver une idée repas", assistant_path, class:"btn btn-lg btn-light px-4 py-2 border-0 rounded text-white shadow-lg", style:"background: linear-gradient(0deg, rgb(249, 66, 6),rgb(250, 134, 22),rgb(251, 202, 37)); font-size: 1.5rem;" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>












  <div class="wrapper bg-white" style="min-height: 50vh;">
    <div class="container mb-3">
      <div class="jumbotron text-white" style="background-image: linear-gradient(3deg, rgb(249, 144, 110),rgb(225, 14, 225));">
        <h1 class="mb-3"><span class="font-weight-bold display-4">Supernet Plus</span><br>Des courses simples et optimisées</h1>
        <p>un jeu d'enfants</p>
      </div>
    </div>

    <div class="container mb-3 px-0 text-center ">
      <h2 class="">Ce que Supernet Plus fait pour vous</h2>
      <div class="row justify-content-center">
        <div class="col-md-5">

          <ul class="p-0">
            <li class="rounded d-flex align-items-center text-left m-1" >
                <%= cl_image_tag("menu_icons/search", width: 20, class:"m-2") %>
                <p class="m-0">Chercher des idées en fonction de vos produits</p>
            </li>
            <li class="rounded d-flex align-items-center text-left m-1" >
                <%= cl_image_tag("menu_icons/list", width: 20, class:"m-2") %>
                <p class="m-0">Remplir votre liste de courses semi-automatiquement</p>
            </li>
            <li class="rounded d-flex align-items-center text-left m-1" >
                <%= cl_image_tag("menu_icons/green-heart", width: 20, class:"m-2") %>
                <p class="m-0">Analyser l'impact santé de vos choix alimentaires</p>
            </li>
            <li class="rounded d-flex align-items-center text-left m-1" >
                <%= cl_image_tag("menu_icons/cart", width: 20, class:"m-2") %>
                <p class="m-0">Créer un panier de courses optimisés</p>
            </li>
            <li class="rounded d-flex align-items-center text-left alert-primary m-1" >
                <%= cl_image_tag("menu_icons/store", width: 20, class:"m-2") %>
                <p class="m-0">Comparer les prix autour de chez vous</p>
            </li>
            <li class="rounded d-flex align-items-center text-left alert-primary m-1" >
                <%= cl_image_tag("menu_icons/party", width: 20, class:"m-2") %>
                <p class="m-0">Commander ou réserver vos courses</p>
            </li>
          </ul>
          <a class="btn btn-light border btn-lg" href="#" role="button">Ça m'intéresse</a>
        </div>
      </div>
    </div>


    <div class="container my-3">
      <div class="jumbotron bg-transparent">
        <div class="row">
          <div class="col-md-6 my-auto">
            <h2 class="">Votre liste de courses en 1 minute</h2>
            <p class="lead">Avec les vies qu'on mène, on ne prend plus le temps de choisir ce que l'on achète et cuisine au quotidien ET quand on est une quiche en cuisine c'est encore pire. En conséquence (1) on mange la même chose d'une semaine à l'autre, (2) et on ne sait pas si on achète le meilleur rapport qualité prix.</p>
            <%= link_to "Ça m'intéresse", select_path, class:"btn btn-lg btn-light px-4 py-2 border-0 rounded text-white shadow-lg", style:"background: linear-gradient(0deg, rgb(249, 66, 6),rgb(250, 134, 22),rgb(251, 202, 37)); font-size: 1.5rem;" %>
          </div>
          <div class="col-md-6 text-center">
            <div style="padding: 10px;"></div>
            <%= cl_image_tag("product_screens/recipe_options", :height=>250, class:"rounded") %>
          </div>
        </div>
      </div>


      <div class="jumbotron bg-transparent">
        <div class="row">
          <div class="col-md-6 text-center">
            <div style="padding: 10px;"></div>
            <%= cl_image_tag("product_screens/recipe_options", :height=>250, class:"rounded") %>
          </div>
          <div class="col-md-6 my-auto">
            <h2 class="">Des courses simples et optimisées</h2>
            <p class="lead">Il y a beaucoup de frictions pour bien consommer et faire des choix éclairés au quotidien: habitudes, manque de temps, tyrannie du choix, manque de clarté, manque d'information...</p>
            <%= link_to "Prêt à vous lancer ?", select_path, class:"btn btn-lg btn-light px-4 py-2 border-0 rounded text-white shadow-lg", style:"background: linear-gradient(0deg, rgb(249, 66, 6),rgb(250, 134, 22),rgb(251, 202, 37)); font-size: 1.5rem;" %>
          </div>
        </div>
      </div>


      <div class="jumbotron bg-transparent">
        <div class="row">
          <div class="col-md-6 my-auto">
            <h2 class="">Les bons choix pour votre santé</h2>
            <p class="lead">Supernet c'est une app de shopping qui se base sur vos préférences  et sur les recommandations de santé pour trouver des idées repas, organiser vos listes de courses et vous proposer les meilleures options d'achats. C'est facile et fun pour que l'on est envie de l'utiliser au quotidien.</p>
            <%= link_to "Réinventez votre assiette", select_path, class:"btn btn-lg btn-light px-4 py-2 border-0 rounded text-white shadow-lg", style:"background: linear-gradient(0deg, rgb(249, 66, 6),rgb(250, 134, 22),rgb(251, 202, 37)); font-size: 1.5rem;" %>
          </div>
          <div class="col-md-6 text-center">
            <div style="padding: 10px;"></div>
            <%= cl_image_tag("product_screens/recipe_options", :height=>250, class:"rounded") %>
          </div>
        </div>
      </div>

      <div class="jumbotron bg-transparent">
        <div class="row">
          <div class="col-md-6 my-auto">
            <h2 class="">Un jeu d'enfants</h2>
            <p class="lead">Supernet c'est une app de shopping qui se base sur vos préférences  et sur les recommandations de santé pour trouver des idées repas, organiser vos listes de courses et vous proposer les meilleures options d'achats. C'est facile et fun pour que l'on est envie de l'utiliser au quotidien.</p>
            <%= link_to "Réinventez votre assiette", select_path, class:"btn btn-lg btn-light px-4 py-2 border-0 rounded text-white shadow-lg", style:"background: linear-gradient(0deg, rgb(249, 66, 6),rgb(250, 134, 22),rgb(251, 202, 37)); font-size: 1.5rem;" %>
          </div>
          <div class="col-md-6 text-center">
            <div style="padding: 10px;"></div>
            <%= cl_image_tag("product_screens/recipe_options", :height=>250, class:"rounded") %>
          </div>
        </div>
      </div>


    <div class="container mb-3" style="min-height: 60vh;">
      <h2 class="">Comment ça marche</h2>
      <div class="row my-auto">
        <div class="col-md-3 my-auto text-center" style="min-height: 20vh;">
          <div class="display-4">1</div>
          <%= cl_image_tag("menu_icons/list", width: 60, class:"m-2") %>
          <div class="lead">Je mets à jour ma liste de courses</div>
        </div>
        <div class="col-md-3 my-auto text-center" style="min-height: 20vh;">
          <div class="display-4">2</div>
          <%= cl_image_tag("menu_icons/cart", width: 60, class:"m-2") %>
          <div class="lead">Je choisis mon panier de produits</div>
        </div>
        <div class="col-md-3 my-auto text-center" style="min-height: 20vh;">
          <div class="display-4">3</div>
          <%= cl_image_tag("menu_icons/store", width: 60, class:"m-2") %>
          <div class="lead">Je sélectionne un magasin</div>
        </div>
        <div class="col-md-3 my-auto text-center" style="min-height: 20vh;">
          <div class="display-4">4</div>
          <%= cl_image_tag("menu_icons/party", width: 60, class:"m-2") %>
          <div class="lead">Je commande ou j'achète sur place</div>
        </div>
      </div>
    </div>


    <div class="container mb-3 px-0 text-center ">
      <h2 class="">Les fonctionnalités Supernet Plus</h2>
      <div class="row justify-content-center">
        <div class="col-md-4">

          <ul class="p-0">
            <li class="rounded d-flex align-items-center text-left" >
                <%= cl_image_tag("menu_icons/check-mark", width: 20, class:"m-2") %>
                <p class="lead m-0">Reconnaissance de vos préférences</p>
            </li>
            <li class="rounded d-flex align-items-center text-left" >
                <%= cl_image_tag("menu_icons/check-mark", width: 20, class:"m-2") %>
                <p class="lead m-0">Recommandations personnalisées</p>
            </li>
            <li class="rounded d-flex align-items-center text-left" >
                <%= cl_image_tag("menu_icons/check-mark", width: 20, class:"m-2") %>
                <p class="lead m-0">Idées recettes</p>
            </li>
            <li class="rounded d-flex align-items-center text-left" >
                <%= cl_image_tag("menu_icons/check-mark", width: 20, class:"m-2") %>
                <p class="lead m-0">Liste de courses partagée</p>
            </li>
            <li class="rounded d-flex align-items-center text-left" >
                <%= cl_image_tag("menu_icons/check-mark", width: 20, class:"m-2") %>
                <p class="lead m-0">Analyse alimentaire</p>
            </li>
            <li class="rounded d-flex align-items-center text-left" >
                <%= cl_image_tag("menu_icons/check-mark", width: 20, class:"m-2") %>
                <p class="lead m-0">Préférences alimentaires</p>
            </li>
            <li class="rounded d-flex align-items-center text-left" >
                <%= cl_image_tag("menu_icons/check-mark", width: 20, class:"m-2") %>
                <p class="lead m-0">Pré-sélections de produits</p>
            </li>
            <li class="rounded d-flex align-items-center text-left" >
                <%= cl_image_tag("menu_icons/check-mark", width: 20, class:"m-2") %>
                <p class="lead m-0">Comparateur de prix</p>
            </li>
            <li class="rounded d-flex align-items-center text-left" >
                <%= cl_image_tag("menu_icons/check-mark", width: 20, class:"m-2") %>
                <p class="lead m-0">Disponible avec toutes les enseignes</p>
            </li>
          </ul>
          <a class="btn btn-light border btn-lg" href="#" role="button">Ça m'intéresse</a>
        </div>
      </div>
    </div>
  </div>



  <div style="padding: 50px;"></div>


</div>
