
<div class="banner d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dnrmmg7rh/image/upload/v1574159533/daniel-von-appen-_6uPgukLUV8-unsplash-min_he8rot.jpg);">

  <div class="container d-flex flex-column">

    <div>
      <h1 class="display-4 mb-4">Mangez bien et pas cher</h1>
      <p class="pr-4 lead mb-4">Optimisez vos listes de courses avec Club<strong>Mama</strong> pour faire vos achats l'esprit tranquille !</p>
    </div>

    <div>
      <%= form_for(:user, :url => registration_path(:user), class:"form-inline") do |f| %>
        <div class="p-3 form-group row flex-wrap mb-0">
          <%= f.text_field :email, placeholder: "Votre Adresse Email", class:"mb-2 mr-4 form-control-lg col-md-4 bg-transparent text-white  border" %>
          <%= f.submit "Ça m'intéresse !", class:"mb-2 btn btn-flat btn-lg col-xs-2" %>
        </div>
      <% end %>
    </div>

    <small> <%= link_to "Déjà un compte ?", new_user_session_path, class:"text-light font-weight-light font-italic" %></small>

  </div>
</div>



<div class="wrapper d-flex align-items-center mt-5 mb-5">

  <div class="container flex-column">


    <div class="mb-2 rounded">
      <h2 class="p-2 display-4" style="color:#FF3463;"><strong>Faites vos courses sans même y penser</strong></h2>
    </div>

    <div class=" card-deck p-3 mb-5">
      <div class="card">
        <img src="https://res.cloudinary.com/dnrmmg7rh/image/upload/v1574253498/steve-johnson-rNYCrcjUnOA-unsplash-min_b2rzps.jpg" class="card-img-top" alt="listes de courses">
        <div class="card-body">
          <h5 class="card-title" style="color:#FF3463;">Retrouvez vos listes de courses</h5>
          <p class="card-text">Seul ou à plusieurs, vous gérez et partagez vos listes sans effort.</p>
        </div>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dnrmmg7rh/image/upload/v1574253497/s-o-c-i-a-l-c-u-t-SLuOk-mDh0c-unsplash-min_wk4m5x.jpg" class="card-img-top" alt="inspiration recettes">
        <div class="card-body">
          <h5 class="card-title" style="color:#FF3463;">Inspirez vous des meilleures recettes</h5>
          <p class="card-text">Vous ne savez pas quoi faire à manger ? ClubMama trouve la bonne idée.</p>
        </div>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dnrmmg7rh/image/upload/v1574253497/7shifts-h4F3S4rJW14-unsplash-min_xsjyse.jpg" class="card-img-top" alt="comparateur de prix">
        <div class="card-body">
          <h5 class="card-title" style="color:#FF3463;">Comparez les produits et les prix</h5>
          <p class="card-text">Quels produits choisir ? Qui est le moins cher ? Quels sont les bons plans ?</p>
        </div>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dnrmmg7rh/image/upload/v1574253500/freestocks-org-mw6Onwg4frY-unsplash-min_aotltw.jpg" class="card-img-top" alt="paniers de courses">
        <div class="card-body">
          <h5 class="card-title" style="color:#FF3463;">Choisissez votre panier de courses</h5>
          <p class="card-text">Ne perdez plus de temps en rayon, ClubMama sélectionne les produits qui vous plaisent.</p>
        </div>
      </div>
    </div>

  </div>

</div>



<div class="wrapper" style="background-color: #FF3463;">
  <div class="container d-flex flex-column">

    <div class="mb-2 mt-5 rounded">
      <h2 class="p-2 display-4 text-white"><strong>Les meilleurs prix, les meilleurs produits</strong></h2>
    </div>

    <div class=" card-deck p-3 mb-5">
      <div class="card d-flex align-items-center">
        <%= cl_image_tag("https://res.cloudinary.com/dnrmmg7rh/image/upload/v1574260898/Logo_Leclerc_njudmn.png", :width => 100, :crop => :scale, class:"p-1") %>
        <%= cl_image_tag("https://res.cloudinary.com/dnrmmg7rh/image/upload/v1574265659/Logo_Carrefour_xerxas.png", :width => 100, :crop => :scale, class:"p-1") %>
        <%= cl_image_tag("https://res.cloudinary.com/dnrmmg7rh/image/upload/v1574260898/Logo_Intermarche_gesrdy.png", :width => 100, :crop => :scale, class:"p-1") %>
      </div>
      <div class="card d-flex align-items-center">
       <%= cl_image_tag("https://res.cloudinary.com/dnrmmg7rh/image/upload/v1574265849/Logo_Franprix_qjn73b.jpg", :width => 100, :crop => :scale, class:"p-1") %>
        <%= cl_image_tag("https://res.cloudinary.com/dnrmmg7rh/image/upload/v1574260898/Logo_Monoprix_lsnmud.png", :width => 100, :crop => :scale, class:"p-1") %>
        <%= cl_image_tag("https://res.cloudinary.com/dnrmmg7rh/image/upload/v1574260898/Logo_Naturalia_sl4x9k.png", :width => 100, :crop => :scale, class:"p-1") %>
      </div>
      <div class="card d-flex align-items-center">
        <%= cl_image_tag("https://res.cloudinary.com/dnrmmg7rh/image/upload/v1574265724/Logo_Auchan_makioo.png", :width => 100, :crop => :scale, class:"p-1") %>
        <%= cl_image_tag("https://res.cloudinary.com/dnrmmg7rh/image/upload/v1574268549/Logo_LeaderPrice_egwdro.svg", :width => 100, :crop => :scale, class:"p-1") %>
        <%= cl_image_tag("https://res.cloudinary.com/dnrmmg7rh/image/upload/v1574268664/Logo_SuperU_ehqm5m.jpg", :width => 100, :crop => :scale, class:"p-1") %>
      </div>
      <div class="card d-flex align-items-center">
        <%= cl_image_tag("https://res.cloudinary.com/dnrmmg7rh/image/upload/v1574260899/Logo_Picard_ylnfap.jpg", :width => 100, :crop => :scale, class:"p-1") %>
        <%= cl_image_tag("https://res.cloudinary.com/dnrmmg7rh/image/upload/v1574268935/Logo_Thiriet_dd0i59.png", :width => 100, :crop => :scale, class:"p-1") %>
        <%= cl_image_tag("https://res.cloudinary.com/dnrmmg7rh/image/upload/v1574260897/Loco_Biocbon_iyvawm.jpg", :width => 100, :crop => :scale, class:"p-1") %>
      </div>

    </div>


  </div>
</div>



<div class="wrapper" style="background-color: #1BCB7F;">
  <div class="container d-flex flex-column">

    <div class="mb-2 mt-5 rounded">
      <h2 class="p-2 display-4 text-white"><strong>Les meilleures idées repas</strong></h2>
    </div>

    <div class="row mb-5">
      <% @recipes[0..1].each do |recipe| %>
        <div class="col-sm-6 p-3">
          <div class="card">
            <div class="card-header">
              <h5 ><%= recipe.title %></h5>
            </div>
            <div class="card-body">
              <% recipe.ingredients.split("\r\n").each do |line| %>
                <p><%= line %></p>
              <% end %>
            </div>
            <div class="card-body">
              <%= link_to "Voir la recette", recipe.link, target: "_blank", class:"btn btn-flat"%>
            </div>
          </div>
        </div>
      <% end %>
    </div>


  </div>
</div>




<div class="banner d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dnrmmg7rh/image/upload/v1574159533/daniel-von-appen-_6uPgukLUV8-unsplash-min_he8rot.jpg);">

  <div class="container d-flex flex-column">

    <div>
      <h1 class="display-4 mb-4">Mangez bien et pas cher !</h1>
    </div>

    <div>
      <%= form_for(:user, :url => registration_path(:user), class:"form-inline") do |f| %>
        <div class="p-3 form-group row flex-wrap">
          <%= f.text_field :email, placeholder: "Votre Adresse Email", class:"mb-2 mr-4 form-control-lg col-md-4 bg-transparent text-white  border" %>
          <%= f.submit "Ça m'intéresse !", class:"mb-2 btn btn-flat btn-lg col-xs-2" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
