
<div class="banner d-flex flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= cl_image_path("home_photos/hp#{Date.today.strftime("%d").to_i}-min", crop: :scale, :quality=>"auto:low", :width => :auto, :responsive_placeholder => "blank", :fetch_format=>:auto) %>);">

  <div class="container px-1">
    <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between" style="background-color: transparent;">
       <a class="navbar-brand text-white d-flex align-items-center font-weight-bold" href="/">
        <%= cl_image_tag("logo_qj08zi", width: 30, height: 30) %> Mama
      </a>

    </nav>
  </div>

  <div class="container my-auto">

    <div>
      <div class="d-flex align-items-center mb-1">
        <h1 class="display-4">Faites les vite et bien</h1>
      </div>
      <p class="">Mama vous aide à faire vos courses, bien manger et trouver les meilleurs prix en quelques clics !</p>
    </div>

    <div class="d-flex flex-column">
      <%= link_to "S'inscrire", new_user_registration_path, class:"btn btn-flat btn-lg m-1 col-md-6" %>
      <%= link_to "Se connecter", new_user_session_path, class:"btn btn-lg bg-transparent text-white border m-1 col-md-6" %>
    </div>

<!--     <div>
      <%= form_for(:user, :url => registration_path(:user), class:"form-inline") do |f| %>
        <div class="p-3 form-group row flex-wrap mb-0">
          <%= f.text_field :email, placeholder: "Votre Adresse Email", class:"mb-2 mr-4 form-control-lg col-md-4 bg-transparent text-white  border" %>
          <%= f.submit "Demander l'accès", class:"btn btn-flat btn-lg col-xs-2" %>
        </div>
      <% end %>
    </div> -->

  </div>

</div>

</div>
