<% content_for :meta_title, "Supernet Plus" %>
<% content_for :meta_description, "Des courses simples et optimisés" %>


<div id="assistantContent" class="bg-white">
  <div class="sticky-top bg-white mb-1" id="listBarTop">
      <nav class="container navbar d-flex bd-highlight">
       <%= link_to root_path, class:"m-0 navbar-brand font-weight-bold d-flex align-items-center mr-auto bd-highlight" do %>
          <span style="background: linear-gradient(0deg, rgb(249, 66, 6),rgb(250, 134, 22),rgb(251, 202, 37)); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 1.5rem;">
              Supernet
          </span>
        <% end %>
      </nav>
  </div>

  <div class="wrapper bg-white" style="min-height: 50vh;">
    <div class="container">
      <div class="jumbotron text-white text-center" style="background-image: linear-gradient(3deg, rgb(249, 144, 110),rgb(225, 14, 225));">
        <h1 class="mb-3"><span class="font-weight-bold display-4">Supernet Plus</span><br>Des courses simples et optimisées</h1>
      </div>
    </div>

    <div class="container my-5 px-0 text-center d-flex bd-highlight flex-column">
      <h2 class="mb-3">Ce que Supernet Plus fait pour vous</h2>

          <ul class="px-1 mx-auto">
            <li class="rounded d-flex align-items-center text-left m-1" >
                <%= cl_image_tag("menu_icons/search", width: 20, class:"m-2") %>
                <p class="lead m-0">Chercher des recettes pour vos produits</p>
            </li>
            <li class="rounded d-flex align-items-center text-left m-1" >
                <%= cl_image_tag("menu_icons/list", width: 20, class:"m-2") %>
                <p class="lead m-0">Pré-remplir votre liste de courses</p>
            </li>
            <li class="rounded d-flex align-items-center text-left m-1" >
                <%= cl_image_tag("menu_icons/green-heart", width: 20, class:"m-2") %>
                <p class="lead m-0">Analyser vos choix alimentaires</p>
            </li>
            <li class="rounded d-flex align-items-center text-left m-1" >
                <%= cl_image_tag("menu_icons/cart", width: 20, class:"m-2") %>
                <p class="lead m-0">Créer un panier de courses optimisés</p>
            </li>
            <li class="rounded d-flex align-items-center text-left m-1" >
                <%= cl_image_tag("menu_icons/store", width: 20, class:"m-2") %>
                <p class="lead m-0">Comparer les prix autour de chez vous</p>
            </li>
            <li class="rounded d-flex align-items-center text-left m-1" >
                <%= cl_image_tag("menu_icons/party", width: 20, class:"m-2") %>
                <p class="lead m-0">Commander ou réserver vos courses</p>
            </li>
          </ul>


    </div>


    <div class="jumbotron bg-transparent m-0 p-0">
      <div class="container text-center">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="list-group">
              <a href="https://forms.gle/FEQvLVX3FArL32Y38" target="_blank" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-center">
                  <h5 class="my-1">0,99 €/mois</h5>
                  <h5 class="my-1"></h5>
                </div>
              </a>
<!--               <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="my-1">12 mois : 6,99€/an</h5>
                  <h5 class="my-1"><span class="badge badge-primary">-59%</span></h5>
                </div>
              </a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="container my-3 text-center">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <a class="btn btn-lg btn-light px-4 py-2 border-0 rounded text-white shadow-lg" href="https://forms.gle/FEQvLVX3FArL32Y38" target="_blank" role="button" style="background-image: linear-gradient(3deg, rgb(249, 144, 110),rgb(225, 14, 225)); font-size: 1.5rem;">
              Profitez de 30 jours gratuits !
            </a>
            <br>
            <small class="text-muted font-weight-bold">Annulez à tout moment</small>
          </div>
        </div>
      </div>
    </div>
  <div style="padding: 50px;"></div>

</div>

