
<div class="container">
  <nav class="sticky-top navbar navbar-expand-lg navbar-light border-bottom bg-white">
     <a class="navbar-brand d-flex align-items-center font-weight-bold" href="/">
      <%= cl_image_tag("menu_icons/sparkling-heart", width: 20) %>
      <span class="font-weight-bold rounded text-secondary">Supernet</span>
    </a>
  </nav>
</div>

<div class="d-flex flex-column">


  <div class="container px-2">

    <div class="jumbotron d-flex align-items-center bg-white flex-column p-0">


      <div class="px-3 my-4 text-center">
        <% if current_user.beta %>
          <%= link_to "Je veux manger", assistant_path, class:"btn bg-transparent text-primary border btn-lg m-1 px-5" %>
        <% else %>
          <%= link_to "Idée recette", cuisine_path, class:"btn bg-transparent text-primary border rounded btn-lg m-1 px-5" %>
        <% end %>
        <%= link_to "Nouvelle liste", new_list_path, class:"btn bg-transparent text-primary border rounded btn-lg m-1 px-5" %>
      </div>

      <div class="px-3 rounded mb-2 text-center">
        <% if @lists.present? %>
            <% @lists.sort_by(&:id).reverse.each do |list|  %>
              <div class="d-flex flex-column m-0">
                <%= link_to "#{list.name}", list_path(list), class:"lead font-weight-bold m-1" %>
              </div>
              <hr class="my-3">
            <% end %>
        <% end %>
      </div>


    </div>

  </div>

  <div class="container fixed-bottom mb-3 text-right">
    <a class="shadow-lg bg-white rounded-pill rounded-lg text-center ml-auto p-2 bd-highlight" href="/profile"><%= cl_image_tag("menu_icons/waving-hand", width: 25, height: 25, class:"m-0") %></a>
  </div>

</div>




