
<div class="container px-2">
  <nav class="sticky-top navbar navbar-expand-lg navbar-light border-bottom bg-white">
     <a class="navbar-brand d-flex align-items-center font-weight-bold" href="/">
      <%= cl_image_tag("menu_icons/sparkling-heart", width: 20) %>
      <span class="font-weight-bold rounded text-secondary">Supernet</span>
    </a>
  </nav>
</div>

<div class="wrapper d-flex flex-column bd-highlight" style="min-height: 70vh;">
  <div class="container px-2">
      <div id="listIndex">
        <div id="listsHeader">
          <ul class="border-0 rounded-top list-group-item d-flex align-items-center justify-content-between pl-1 pb-0 m-0" style="filter: brightness(1.40);">
            <div class="d-flex align-items-center">
              <p class="m-0 p-1 font-weight-bold lead text-muted">Vos listes</p>
            </div>
          </ul>
        </div>
        <% if @lists.present? %>
          <% @lists.sort_by(&:id).reverse.each do |list|  %>
            <div id="listElements">
                <%= render 'lists/list', list: list %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="pl-1 mb-4" id="browseListActions">
        <%= render 'lists/browse_actions', lists: @lists, list: @list %>
      </div>
  </div>
</div>

<div class="container px-2 mb-5">
  <div id="recipesBrowse">
    <div id="recipesHeader">
      <ul class="border-0 rounded-top list-group-item d-flex align-items-center justify-content-between pl-1 pb-0 m-0">
        <div class="d-flex align-items-center">
          <p class="m-0 p-1 font-weight-bold lead text-muted" style="filter: brightness(1.40);">Un peu d'inspiration culinaire ?</p>
        </div>
      </ul>
    </div>
    <div class="m-2">
      <%= link_to favorites_path do %>
        <p class="btn btn-light border"><%= cl_image_tag("menu_icons/star", width: 20, class:"pb-1") %> <span class="pt-2">Recettes enregistrées</span></p>
      <% end %>
    </div>
    <% if @recipes.present? %>
      <% @recipes.sort_by(&:id).reverse.each do |recipe|  %>
        <div id="recipeElements">
            <%= render 'recipes/recipe', recipe: recipe, list: nil %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container fixed-bottom mb-3 text-right">
  <a class="shadow-lg bg-white rounded-pill rounded-lg text-center ml-auto p-2 bd-highlight" href="/profile"><%= cl_image_tag("menu_icons/waving-hand", width: 25, height: 25, class:"m-0") %></a>
</div>



