
<%= render 'shared/navbar_black' %>



<div class="banner d-flex flex-column">

  <ul class="nav nav-pills justify-content-center my-4 text-primary">
    <li class="nav-item">
      <a class="nav-link active h2" href="#">Courses</a>
    </li>
    <li class="nav-item">
      <%= link_to "Cuisine", cuisine_path, class:"nav-link h2" %>
    </li>
  </ul>

  <div class="container p-0">

    <div class="jumbotron text-center d-flex align-items-center bg-white flex-column p-0">

      <hr class="my-3">


      <%= link_to "Créer une nouvelle liste", new_list_path, class:"btn btn-warning font-weight-bold px-5 py-3 shadow m-1" %>



      <div class="px-5 pt-5 rounded text-center mb-2">
        <% if @lists.present? %>
            <% @lists.sort_by(&:id).reverse.each do |list|  %>
              <%= link_to "#{list.name}", list_path(list, ref: request.url), class:"p lead font-weight-bold" %>
              <hr class="my-4">
            <% end %>
        <% end %>
      </div>

      <hr class="my-2">

      <h2 class="m-0 mt-3">Produits du quotidien</h2>
      <div class="px-5 py-3 rounded text-center my-2">
        <% if @checklists.present? %>
          <% @checklists.each do |list|  %>
              <%= link_to "#{list.name}", list_path(list, ref: request.url), class:"p lead font-weight-bold" %>
              <hr class="my-4 mx-5">
          <% end %>
        <% end %>
      </div>

    </div>


  </div>

</div>


<% unless user_signed_in? %>
<!-- Navbar End -->
<%= render 'shared/login_form' %>
<%= render 'shared/signup_form' %>
<% end %>
