
<div class="container">
  <nav class="sticky-top navbar navbar-expand-lg navbar-light border-bottom bg-white">
     <a class="navbar-brand d-flex align-items-center font-weight-bold" href="/">
      <%= cl_image_tag("menu_icons/sparkling-heart", width: 30, height: 30) %> Supernet <span class="badge badge-pill badge-outline-secondary"></span>
    </a>
  </nav>
</div>

<div class="d-flex flex-column">


  <div class="container px-2">

    <div class="jumbotron text-center d-flex align-items-center bg-white flex-column p-0 my-3">


      <hr class="my-3">

      <%= link_to "Nouvelle liste", new_list_path, class:"btn btn-light border btn-lg m-1 px-5" %>



      <div class="px-3 pt-5 rounded text-center mb-2">
        <% if @lists.present? %>
            <% @lists.sort_by(&:id).reverse.each do |list|  %>
              <div class="d-flex flex-column m-0">
                <%= link_to "#{list.name}", list_path(list), class:"lead font-weight-bold" %>
                <% if false %>
                  <small>
                   <%= render "lists/edit_history", content: list.get_last_edit(current_user.id) %>
                  </small>
                <% end %>
              </div>
              <hr class="my-4">
            <% end %>
        <% end %>
      </div>


    </div>

  </div>

  <div class="container fixed-bottom mb-3 text-right">
    <a class="shadow-lg bg-white rounded-pill rounded-lg text-center ml-auto p-2 bd-highlight" href="/profile"><%= cl_image_tag("menu_icons/waving-hand", width: 25, height: 25, class:"m-0") %></a>
  </div>

</div>




