<%= render 'shared/admin-navbar' %>


<div class="container mt-3" style="display: flex; justify-content: space-evenly;">
  <div>
    <h1>Verify</h1>

    <table>

      <tbody>
          <tr>
            <td><%= @items_validation_size %></td>
            <td><%= link_to "➡️ Verify items", verify_items_path %></td>
          </tr>
          <tr>
            <td><%= @list_items_verification_size %></td>
            <td><%= link_to "➡️ Verify list items", verify_listitems_path %></td>
          </tr>
          <tr>
            <td><%= @duplicated_list_items_size %></td>
            <td><%= link_to "➡️ Verify duplictaed list items", duplicated_list_items_path %></td>
          </tr>
          <tr>
            <td><%= @reported_products %></td>
            <td><%= link_to "➡️ Verify reported products", verify_products_path %></td>
          </tr>
      </tbody>

    </table>
  </div>

  <div>
    <h1>Products (<%= @products.size %>)</h1>

    <table>

      <thead>
        <tr>
          <td><strong>Nb of products  |</strong></td>
          <td><strong>Name</strong></td>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td><%= @no_food_products.size %></td>
            <td><%= link_to "liste de produits sans food", unmatch_products_path %></td>
          </tr>
      </tbody>

    </table>
  </div>

  <div>
    <h1>Foods (<%= @foods.size %>)</h1>

    <table>

      <thead>
        <tr>
          <td><strong>Nb of foods  |</strong></td>
          <td><strong>Name</strong></td>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td><%= @foods_without_products.size %></td>
            <td><%= link_to "liste de foods sans products", unmatch_foods_path %></td>
          </tr>
      </tbody>

    </table>
  </div>

</div>

<div class="container fixed-bottom p-4">
  <div class="my-4">
    <h4>Mettre à jour le catalogue produits</h4>
    <div>
      <%= form_tag import_path, multipart: true do%>
       <%= file_field_tag :file %>
       <%= submit_tag "Import CSV and update catalog"%>
      <% end %>
    </div>
  </div>

</div>
