<%= render 'shared/admin-navbar' %>


<div class="container" style="display: flex; justify-content: space-evenly;">
  <div class="row">
    <h1>Recipes (<%= @recipes.size %>)</h1>

    <table>

      <thead>
        <tr>
          <td><strong>Nb of recipes   |</strong></td>
          <td><strong>Recipe category</strong></td>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= @seasonal.size %></td>
          <td>🔥 <%= link_to "seasonal", seasonal_path %></td>
        </tr>
        <tr>
          <td><%= @no_category.size %></td>
          <td>🤔 <%= link_to "no category", uncategorized_path %></td>
        </tr>
        <tr>
          <td><%= @veggie.size %></td>
          <td>🥕 <%= link_to "veggie", veggie_path %></td>
        </tr>
        <tr>
          <td><%= @salad.size %></td>
          <td>🥗 <%= link_to "salad", salad_path %></td>
        </tr>
        <tr>
          <td><%= @pasta.size %></td>
          <td>🍝 <%= link_to "pasta", pasta_path %></td>
        </tr>
        <tr>
          <td><%= @potato.size %></td>
          <td>🍟 <%= link_to "potato", potato_path %></td>
        </tr>
        <tr>
          <td><%= @meat.size %></td>
          <td>🍖 <%= link_to "meat", meat_path %></td>
        </tr>
        <tr>
          <td><%= @fish.size %></td>
          <td>🐟 <%= link_to "fish", fish_path %></td>
        </tr>
        <tr>
          <td><%= @egg.size %></td>
          <td>🍳 <%= link_to "egg", egg_path %></td>
        </tr>
        <tr>
          <td><%= @pizza.size %></td>
          <td>🍕 <%= link_to "pizza", pizza_path %></td>
        </tr>
        <tr>
          <td><%= @burger.size %></td>
          <td>🍔 <%= link_to "burger", burger_path %></td>
        </tr>
        <tr>
          <td><%= @snack.size %></td>
          <td>🥪 <%= link_to "snack", snack_path %></td>
        </tr>
      </tbody>

    </table>
  </div>

  <div class="row">
    <h1>Products (<%= @products.size %>)</h1>

    <table>

      <thead>
        <tr>
          <td><strong>Nb of products  |</strong></td>
          <td><strong>Name</strong></td>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td><%= @no_food_products.size %></td>
            <td><%= link_to "liste de produits sans food", unmatch_products_path %></td>
          </tr>
      </tbody>

    </table>
  </div>

  <div class="row">
    <h1>Foods (<%= @foods.size %>)</h1>

    <table>

      <thead>
        <tr>
          <td><strong>Nb of foods  |</strong></td>
          <td><strong>Name</strong></td>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td><%= @foods_without_products.size %></td>
            <td><%= link_to "liste de foods sans products", unmatch_foods_path %></td>
          </tr>
        <% @foodlists.each do |foodlist| %>
          <tr>
            <td><%= foodlist.foods.size %></td>
            <td><%= link_to foodlist.name, food_list_path(foodlist) %></td>
          </tr>
        <% end %>
      </tbody>

    </table>
  </div>

</div>
