<%= render 'shared/admin-navbar' %>


<div class="container" style="display: flex; justify-content: space-evenly;">
  <div class="row">
    <h1>Recipes (<%= @recipes.count %>)</h1>
    <% @recipe_pools.each do |pool| %>
      <li>
        <%= pool.name %> =
        <%= pool.recipes.where(status: "published").count %>
      </li>
    <% end %>
    <li style="color: red;"><strong>no pool</strong> = <%= @no_pool.count %></li>
  </div>
  <div class="row">
    <h1>Meta Recipes (<%= @meta_recipes.count %>)</h1>
    <% @mr_pools.each do |pool| %>
      <li>
        <%= pool.name %> =
        <%= pool.meta_recipes.count %>
      </li>
    <% end %>
  </div>

</div>
