<%= render 'shared/admin-navbar' %>



<div class="wrapper">
  <div class="row">
    <div class="col-md-2 d-flex flex-column align-items-start bg-light border">
        <h2>Menu</h2>
        <%= link_to "Liste d'attente", pending_path, class: "btn btn-sm btn-link" %>
        <%= link_to "Créer une recette", import_recipes_path, class: "btn btn-sm btn-link" %>
        <%= link_to "Recipes", manage_recipes_path, class: "btn btn-sm btn-link" %>
        <%= link_to "Categories", categories_path, class: "btn btn-sm btn-link" %>
        <%= link_to "Food", foods_path, class: "btn btn-sm btn-link" %>
        <%= link_to "Search products", advanced_search_products_path, class: "btn btn-sm btn-link" %>
        <%= link_to "Products", products_path, class: "btn btn-sm btn-link" %>
        <%= link_to "Items", items_path, class: "btn btn-sm btn-link" %>
        <%= link_to "Recipe lists", recipe_lists_path, class: "btn btn-sm btn-link" %>
        <%= link_to "Recommendations", recommendations_path, class: "btn btn-sm btn-link" %>
        <%= link_to "Curated lists", lists_path, class: "btn btn-sm btn-link" %>
        <%= link_to "Checklists", checklists_path, class: "btn btn-sm btn-link" %>
        <%= link_to "Stores", stores_path, class: "btn btn-sm btn-link" %>
        <%= link_to "Users", users_path, class: "btn btn-sm btn-link" %>
    </div>
    <div class="col-md-3 d-flex flex-column align-items-start">
      <h2>Analytics</h2>
      <%= link_to "Recipes", analytics_recipes_path, class: "btn btn-link m-0" %>
      <p class="btn btn-link disabled m-0"><%= Recipe.published.size %> live recipes</p>
      <p class="btn btn-link disabled m-0"><%= Recipe.pending.size %> pending recipes</p>
      <p class="btn btn-link disabled m-0"><%= Recipe.dismissed.size %> unpublished recipes</p>
      <p class="btn btn-link disabled m-0"><%= Recipe.tagged_with("good").size %> good</p>
      <p class="btn btn-link disabled m-0"><%= Recipe.tagged_with("limit").size %> limit</p>
    </div>
    <div class="col-md-3 d-flex flex-column align-items-start">
      <h2>Visualization</h2>
      <%= link_to "Recommended recipes", visualization_recipes_path, class: "btn btn-link" %>
    </div>
    <div class="col-md-3 d-flex flex-column align-items-start">
      <h2>Annotations</h2>
      <%= link_to "Items", verify_items_path, class: "btn btn-link" %>
      <%= link_to "Reported products", verify_products_path, class: "btn btn-link" %>
    </div>
  </div>
</div>


<div class="container fixed-bottom p-4">
  <div class="my-4">
    <h4>Mettre à jour le catalogue produits</h4>
    <div>
      <%= form_tag import_path, multipart: true do%>
       <%= file_field_tag :file %>
       <%= submit_tag "Import CSV and update catalog"%>
      <% end %>
    </div>
  </div>

</div>
