
  <%= render 'shared/navbar_black' %>


<div class="banner d-flex flex-column">

  <ul class="nav nav-pills justify-content-center my-4 nav-secondary">
    <li class="nav-item">
      <% if user_signed_in? %>
        <%= link_to "Mes listes", root_path, class:"nav-link px-3" %>
      <% else %>
        <!--alter the login link to trigger the opening of the modal -->
        <%= link_to "Mes listes", "", data: {toggle: "modal", target: ".bd-signup-modal-lg"}, class:"nav-link px-3" %>
      <% end %>
    </li>
    <li class="nav-item">
      <% if user_signed_in? %>
        <%= link_to "Cuisine", cuisine_path, class:"nav-link px-3" %>
      <% else %>
        <!--alter the login link to trigger the opening of the modal -->
        <%= link_to "Cuisine", "", data: {toggle: "modal", target: ".bd-signup-modal-lg"}, class:"nav-link px-3" %>
      <% end %>
    </li>
    <li class="nav-item">
      <a class="nav-link active px-3" href="#">Suggestions</a>
    </li>
  </ul>

  <div class="container p-0">

    <div class="jumbotron text-center d-flex align-items-center flex-column bg-white p-0">

      <hr class="my-2">

      <h2 class="m-0 mt-3">Produits du quotidien</h2>
      <div class="px-5 py-3 rounded text-center my-2">
        <% if @lists.any? %>
          <% @lists.each do |list|  %>
              <%= link_to "#{list.name}", list_path(list, ref: request.url), class:"p lead" %>
              <hr class="my-4 mx-5">
          <% end %>
        <% end %>

      </div>



      <h2 class="mb-2">Ingrédients et recettes</h2>
      <div class="row m-1" style="min-width: 70%;">
        <div class="offset-md-3 col-md-6 p-0">
          <%= render 'card_recipe', recipe: @recipe_idea %>
        </div>
      </div>

      <div class="px-5 py-3 rounded text-center mb-2">

        <%= link_to "🔥 Les plus populaires", meals_path, class:"p lead" %>
        <hr class="my-4 mx-5">
        <% if @categories.present? %>
          <% @categories.recommendation_items.order(:id).each do |recommendation|  %>
              <%= link_to "#{recommendation.name}", meals_path(category_id: recommendation.id), class:"p lead" %>
              <hr class="my-4 mx-5">
          <% end %>
        <% end %>
      </div>


    </div>


  </div>

</div>

<div style="padding: 50px;"></div>


<!-- add to list modal -->
  <div class="modal fade" id="addRecipeToListModal" tabindex="-1" role="dialog" aria-labelledby="addRecipeToListModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addRecipeToListModal">Liste de courses</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div id="recipeModalContent">
          <div style="height: 40vh;" class="d-flex flex-column align-items-center justify-content-center">
            <i id="modalSpinner" class="fas fa-circle-notch fa-spin text-primary"></i>
            Chargement en cours...
          </div>
        </div>

      </div>
    </div>
  </div>



<!-- Navbar End -->
<%= render 'shared/login_form' %>
<%= render 'shared/signup_form' %>
