<% content_for :meta_title, "Pour vous" %>
<% content_for :meta_description, "Des idéres recettes pour compléter vos courses et vous faire plaisir." %>

<%= render 'shared/navbar_black' %>



<div class="banner d-flex flex-column">


  <div class="container p-0">

    <div class="jumbotron text-center d-flex align-items-center bg-white flex-column p-0">

       <h1 class="bigh1 font-weight-bold">Idées recettes</h1>
<!--        <p class="text-muted">Sélectionnées en fonction de vos habitudes et des produits du moment</p>
 -->
      <hr class="my-3">


      <div class="rounded text-center mb-2">
        <div class="container p-0 my-4" id="recipeCategory">
          <div class="recipesGrid">
            <%= render 'card_grid', recipes: @recipes, list: @list %>
          </div>
        </div>
      </div>


    </div>


  </div>

</div>

<%= render 'shared/menu' %>


<% unless user_signed_in? %>
<!-- Navbar End -->
<%= render 'shared/login_form' %>
<%= render 'shared/signup_form' %>
<% end %>
