
  <%= render 'shared/navbar_black' %>


<div class="banner d-flex flex-column">

  <ul class="nav nav-pills justify-content-center my-4 nav-secondary">
    <li class="nav-item">
      <% if user_signed_in? %>
        <%= link_to "Listes enregistrées", root_path, class:"nav-link" %>
      <% else %>
        <!--alter the login link to trigger the opening of the modal -->
        <%= link_to "Listes enregistrées", "", data: {toggle: "modal", target: ".bd-signup-modal-lg"}, class:"nav-link disabled" %>
      <% end %>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Listes type</a>
    </li>
  </ul>

  <div class="container p-0">

    <div class="jumbotron text-center d-flex align-items-center flex-column bg-white p-0">

      <h1 class="display-4 m-1">Choisissez une liste</h1>

      <hr class="my-3">

        <div class="row m-2">
          <div class=" px-5 py-3 rounded text-center mb-2">


            <%= link_to "Créer une liste", add_to_list_path, class:"btn btn-lg btn-warning font-weight-bold border-0 px-5 py-3" %>

            <% if @lists.each do |list|  %>
                <hr class="my-4">
                <%= link_to "#{list.name}", list_path(list), class:"p lead" %>
              <% end %>
            <% end %>


          </div>
        </div>

    </div>


  </div>

</div>


<!-- Navbar End -->
<%= render 'shared/login_form' %>
<%= render 'shared/signup_form' %>
