<% content_for :meta_title, "Parcourir" %>
<% content_for :meta_description, "Trouvez l'inspiration pour vos prochains repas de la semaine sans même y penser." %>


<div class="container d-flex justify-content-center p-1 my-4">
  <div class="btn-group">
    <button type="button" class="btn btn-light btn-lg dropdown-toggle border" id="categoryMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <% if params[:query].present? %>
        Voir les catégories
      <% elsif params[:favorites].present? %>
        ⭐ Vos recettes en favoris
      <% elsif params[:history].present? %>
        ➕ Vos dernières recettes
      <% else %>
        <%= @category.present? ? @category.name : "🔥 Les plus populaires" %>
      <% end %>
    </button>
    <div class="dropdown-menu" aria-labelledby="categoryMenuButton" style="height: 50vh; overflow-y: auto;">
      <% @categories.recommendation_items.order(:id).each do |recommendation| %>
        <%= link_to recommendation.name, meals_path(category_id: recommendation.id, l: params[:l]), class:"dropdown-item" %>
      <% end %>
    </div>
  </div>
</div>

<% unless params[:l].present? %>
  <div class="container px-1 my-4" id="searchRecipes" >
      <div class="text-left text-muted" >
        <div class="search-form-control form-group mb-5 shadow-lg">
            <%= form_tag(meals_path, :method => "get") do %>
              <%= text_field_tag :query, params[:query], placeholder: "🔎 Chercher une recette", required: true, class:"py-4 rounded rounded-lg font-weight-bold form-control form-control-lg text-primary" %>
              <%= submit_tag "Chercher", class: "btn btn-sm btn-primary" %>
            <% end %>
        </div>
      </div>
  </div>
<% end %>

<% if @recipes.present? %>
  <div class="container p-0 my-4" id="recipeCategory">
    <div class="recipesGrid">
      <%= render 'card_grid', recipes: @recipes, list: @list %>
    </div>
  </div>
<% end %>


<div style="padding: 50px;"></div>


