<div class="sticky-top bg-white">
  <div class="container">
    <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between" style="background-color: transparent;">
      <% if false %>
         <a class="navbar-brand text-dark d-flex align-items-center" style="cursor: pointer;" id="goToSelectProductsBtn" data="<%= @selected_items %>" list-data="<%= @list_id %>">
          <i class="fas fa-lg fa-arrow-left text-secondary p-2"></i> <span class="text-secondary">Retour</span>
        </a>
      <% end %>

      <% if @list_id.present? %>
        <a class="navbar-brand text-dark d-flex align-items-center" href="/lists/<%= @list_id %>">
          <i class="fas fa-lg fa-arrow-left text-secondary p-2"></i> <span class="text-secondary">Retour</span>
        </a>
      <% else %>
        <a class="navbar-brand text-dark d-flex align-items-center" href="/explore">
          <i class="fas fa-lg fa-arrow-left text-secondary p-2"></i> <span class="text-secondary">Retour</span>
        </a>
      <% end %>
<!--       <button class="btn-warning btn" id="addToListBtn" data="<%= @selected_items %>" list-data="<%= @list_id %>">Ajouter à ma la liste</button>
 -->    </nav>
  </div>
</div>


<div class="container">
  <div class="jumbotron jumbotron-fluid bg-white mb-0 pb-0">
    <h1 class="display-4 text-center m-1">Choisissez une recette</h1>

  </div>
</div>



<div id="getExploreRecipesContent" list-data="<%= @list_id %>">
  <div style="height: 80vh;" class="d-flex flex-column align-items-center justify-content-center">
    <i id="modalSpinner" class="fas fa-circle-notch fa-spin text-primary"></i>
    Chargement en cours...
  </div>
  <!-- content comes here -->
</div>



<div style="padding: 50px;"></div>


<!-- add to list modal -->
  <div class="modal fade" id="addRecipeToListModal" tabindex="-1" role="dialog" aria-labelledby="addRecipeToListModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addRecipeToListModal">Liste de courses</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div id="recipeModalContent">
          <div style="height: 40vh;" class="d-flex flex-column align-items-center justify-content-center">
            <i id="modalSpinner" class="fas fa-circle-notch fa-spin text-primary"></i>
            Chargement en cours...
          </div>
        </div>

      </div>
    </div>
  </div>



<% unless user_signed_in? %>
  <div class="fixed-bottom bg-white border-top">
    <div class="wrapper">
      <nav class="px-0 pt-0 pb-1 navbar navbar-expand-lg d-flex align-items-center justify-content-center">
        <div class="container px-2 d-flex flex-column ">
          <small class="text-muted text-center p-1">Connectez-vous pour enregistrer vos listes</small>
          <div class="d-flex justify-content-center">
            <%= link_to "Se connecter", "", data: {toggle: "modal", target: ".bd-login-modal-lg"}, class:"btn btn-sm rounded btn-light border px-3 m-1"  %>

            <!--alter the login link to trigger the opening of the modal -->
            <%= link_to "S'inscrire", "", data: {toggle: "modal", target: ".bd-signup-modal-lg"}, class:"btn btn-sm rounded btn-secondary border px-3 m-1 signupBtn", context: "Show list", action: "signup" %>
          </div>
        </div>
      </nav>
    </div>
  </div>
<% end %>

<!-- Navbar End -->
<%= render 'shared/login_form' %>
<%= render 'shared/signup_form' %>

