<%= render 'shared/admin-navbar' %>

<div class="container">
  <div class="row">
    <h1>Nouveau contenu en attente de validation</h1>
  </div>
  <div class="my-3">

    <% @recipes.each do |recipe| %>

            <%= render "recipes/admin_recipe", recipe: recipe %>

            <div class="recipeIngredients">
              <ul class="list-group p-0">
               <%= render partial: 'items/inline_form', collection: recipe.items.order(:id), as: :item, locals: {all_categories: Category.arrange_as_array, all_units: Unit.all.order(:name), all_store_sections: StoreSection.all.order(:name)} %>
              </ul>
            <%= link_to 'Ajouter un item', new_recipe_item_path(recipe_id: recipe.id), target: "_blank", class:"btn btn-light border m-2" %>
            </div>


    <% end %>
  </div>

  <%= will_paginate @recipes %>


</div>



    <!-- Edit Recipe List Item Modal -->
  <div class="modal fade" id="editRecipeListItemsModal" tabindex="-1" role="dialog" aria-labelledby="editRecipeListItemsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editRecipeListItemsModal">Catégoriser la recette</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">

          <div id="editRecipeListItemsForm"></div>

        </div>
      </div>
    </div>
  </div>
