<%= render 'shared/admin-navbar' %>

<div class="container">
  <div class="row">
    <h1>Nouveau contenu en attente de validation</h1>
  </div>
  <div class="my-3">
    <% @recipes.order(:id).reverse[0..2].each do |recipe| %>
          <div class="jumbotron">
            <h2 class=""><%= recipe.title %> <span class="badge badge-secondary"><%= recipe.id %></span></h2>
            <%= link_to recipe.link, recipe_path(recipe), target: "_blank" %>
            <div class="d-flex flex-row bd-highlight mt-3 justify-content-start">
              <%= link_to "Publish", set_published_status_recipe_path(recipe), class:"bd-highlight mr-1 btn btn-light border m-1" %>
              <%= link_to "Dissmiss", set_dismissed_status_recipe_path(recipe), data: { confirm: 'Êtes-vous sûr ?' }, class:"bd-highlight mr-1 btn btn-light border m-1" %>
              <%= link_to "Delete", recipe_path(recipe), data: { confirm: 'Êtes-vous sûr ?' }, method: :delete, class:"bd-highlight mr-1 btn btn-danger m-1" %>
            </div>

            <hr class="my-4">

            <button class="btn btn-light border text-primary editRecipeListItemsModalbtn mb-1" data="<%= recipe.id %>">Ajouter à une catégorie</button>
            <%= link_to "Ajouter aux idées du moment", add_to_menu_recipe_path(recipe, recipe_list_id: @recommend.id), data: { confirm: 'Êtes-vous sûr ?' }, class:"btn btn-light border text-primary mb-1" %>

            <ul class="m-0">
              <% recipe.get_curated_lists.each do |cl| %>
                <li><%= cl.name %></li>
              <% end %>
            </ul>

            <hr class="my-4">

            <div class="ingredients">
              <ul class="list-group p-0">
                <% recipe.items.order(:id).each do |item| %>
                  <li class="list-group-item p-1 px-2">
                    <%= link_to item_path(item), method: :delete, remote: true do %>
                      <button type="button" class="close ml-1 mr-0 remove-item text-muted" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    <% end %>

                    <p class="m-0 text-muted"><%= item.name %></p>

                    <% if item.category  %>
                      <p class="lead m-0 p-0 font-weight-bold">
                        <%= link_to item.category.name, edit_recipe_item_path(recipe, item, ref: "pending") %>
                        <% if item.quantity %>
                          <span class="lead font-weight-light text-muted">x <%= "%g" % ("%.2f" % item.quantity) %> <%= item.unit.name if item.unit %></span>
                        <% end %>
                      </p>
                    <% else %>
                      <p class="lead m-0 p-0 font-weight-bold"><%= link_to "not found", edit_recipe_item_path(recipe, item), target: "_blank" %></p>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <%= link_to 'Ajouter un item', new_recipe_item_path(recipe_id: recipe.id), target: "_blank", class:"btn btn-light border m-2" %>
            </div>

          </div>

    <% end %>
  </div>

</div>



    <!-- Edit Recipe List Item Modal -->
  <div class="modal fade" id="editRecipeListItemsModal" tabindex="-1" role="dialog" aria-labelledby="editRecipeListItemsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editRecipeListItemsModal">Catégoriser la recette</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">

          <div id="editRecipeListItemsForm"></div>

        </div>
      </div>
    </div>
  </div>
