<div class="container m-3">

  <div>
    <%= form_tag(products_search_path, :method => "get") do %>
      <%= text_field_tag :query, params[:query], placeholder: "Search products", required: true %>
      <%= collection_select :store, :id, Store.all, :id, :name, {include_blank: 'Stores'} %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>


<div class="container mb-5">

  <div>
    <h2><%= @results.total_count if @results %> results:</h2>
    <% if @results %>

      <% @results.each do |result| %>


        <%= render 'products/show', product: result %>


      <% end %>
      <%= will_paginate @results %>
    <% end %>

  </div>

</div>
