<div class="sticky-top bg-white">
  <div class="container px-2">
    <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between">
      <%= link_to root_path, class:"navbar-brand text-dark d-flex align-items-center m-0 text-muted" do %>
        <i class="fas fa-lg fa-arrow-left p-2"></i> <span class="text-white"></span>
      <% end %>
      <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class:"btn btn-light btn-lg border text-danger", id:"signout" %>
    </nav>
  </div>
</div>



<div class="wrapper bg-white">
  <div class="container mt-2 px-0">
    <h1 class="text-muted text-center"><%= current_user.username %></h1>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%= link_to edit_user_registration_path(current_user) do %>
          <%= cl_image_tag("menu_icons/gear", width: 20, class:"pb-1") %> Modifier le profil
        <% end %>
      </li>
      <li class="list-group-item">
        <%= link_to add_to_homescreen_path do %>
          <%= cl_image_tag("menu_icons/mobile", width: 20, class:"pb-1") %> Installer l'application
        <% end %>
      </li>
      <li class="list-group-item">
        <%= link_to 'https://bit.ly/2NGEeRd', target: "_blank" do %>
          <%= cl_image_tag("menu_icons/thank-you", width: 20, class:"pb-1") %> Donner votre avis
        <% end %>
      </li>
      <li class="list-group-item">
        <%= link_to 'https://go.crisp.chat/chat/embed/?website_id=32b1bab5-33b2-4a6b-baee-556ff68f8dfc', target: "_blank" do %>
          <%= cl_image_tag("menu_icons/speech-balloon", width: 20, class:"pb-1") %> Envoyer un message
        <% end %>
      </li>
      <li class="list-group-item text-muted" style="cursor: pointer;">
        <%= cl_image_tag("menu_icons/love-letter", width: 20, class:"pb-1") %> bonjour@supernet.fr
      </li>
    </ul>
  </div>
</div>
