<div class="sticky-top bg-white">
    <div class="container">
      <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between" style="background-color: transparent;">
          <%= link_to url_for(:back), class:"navbar-brand text-dark d-flex align-items-center" do %>
            <i class="fas fa-lg fa-arrow-left p-2"></i> <span class="text-white"></span>
          <% end %>
      </nav>
    </div>
</div>


<div class="banner d-flex flex-column">


  <div class="container">

    <div class="jumbotron text-center d-flex align-items-center flex-column bg-white p-0 m-0">
      <h1 class="bigh1 font-weight-bold">Ajoutez dans une liste</h1>

      <hr class="my-3">

      <% unless user_signed_in? %>
        <%= link_to "Nouvelle liste", "", data: {toggle: "modal", target: ".bd-signup-modal-lg"}, class:"btn btn-flat2 font-weight-bold px-5 py-3 shadow m-1 signupBtn", context: "Add to list", action: "create list", style:"text-decoration: none;"  %>

      <% else %>

        <p class="btn btn-flat2 font-weight-bold px-5 py-3 shadow m-1" style="cursor: pointer;" id="addToListBtn" data="<%= @selected_items %>" list-data="0" recipe-data="<%= @selected_recipes %>">Nouvelle liste</p>
        <div class="px-5 py-3 rounded text-center my-2">
          <% if current_user.get_lists.any? %>
              <% current_user.get_lists.sort_by(&:id).reverse.each do |list|  %>
                <p class="lead text-primary font-weight-bold" style="cursor: pointer;" id="addToListBtn" data="<%= @selected_items %>" list-data="<%= list.id %>" recipe-data="<%= @selected_recipes %>"><%= list.name %></p>
                <hr class="my-4 mx-5">
              <% end %>
          <% end %>
        </div>

      <% end %>

    </div>


  </div>

</div>

