<div class="sticky-top bg-white shadow">
<% unless user_signed_in? %>
    <div class="wrapper py-0 alert-warning">
      <nav class="p-0 navbar navbar-expand-lg  d-flex align-items-center justify-content-center">

        <%= link_to "Se connecter", "", data: {toggle: "modal", target: ".bd-login-modal-lg"}, class:"btn btn-sm btn-link m-1 border-0"  %>
        <%= link_to "S'inscrire", "", data: {toggle: "modal", target: ".bd-signup-modal-lg"}, class:"btn btn-sm btn-link alert-warning m-1 border-0"  %>

      </nav>
    </div>
<% end %>
</div>


<div class="banner d-flex flex-column">


  <div class="container">

    <div class="jumbotron text-center d-flex align-items-center flex-column bg-white px-0">
      <div class="d-flex mb-1">
        <%= link_to "Retour", url_for(:back), class:"btn btn-light border m-1" %>

      </div>
      <h1 class="display-4 m-1">Ajouter les produits dans une liste</h1>

      <hr class="my-3">

      <% unless user_signed_in? %>
        <%= link_to "Créer une nouvelle liste", "", data: {toggle: "modal", target: ".bd-signup-modal-lg"}, class:"btn btn-warning font-weight-bold px-5 py-3 shadow m-1 signupBtn", context: "Add to list", action: "create list", style:"text-decoration: none;"  %>

      <% else %>

        <p class="btn btn-warning font-weight-bold px-5 py-3 shadow m-1" style="cursor: pointer;" id="addToListBtn" data="<%= @selected_items %>" list-data="0" recipe-data="<%= @selected_recipes %>">Créer une nouvelle liste</p>
        <div class="px-5 py-3 rounded text-center my-2">
          <% if current_user.lists.saved.any? %>
              <% current_user.lists.saved.sort_by(&:id).reverse.each do |list|  %>
                <p class="lead text-primary" style="cursor: pointer;" id="addToListBtn" data="<%= @selected_items %>" list-data="<%= list.id %>" recipe-data="<%= @selected_recipes %>"><%= list.name %></p>
                <hr class="my-4 mx-5">
              <% end %>
          <% end %>
        </div>

      <% end %>

    </div>


  </div>

</div>




<!-- Navbar End -->
<%= render 'shared/login_form' %>
<%= render 'shared/signup_form' %>

