<div class="sticky-top bg-white">
    <div class="container">
      <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between" style="background-color: transparent;">
          <%= link_to url_for(:back), class:"navbar-brand text-dark d-flex align-items-center" do %>
            <i class="fas fa-lg fa-arrow-left p-2"></i> <span class="text-white"></span>
          <% end %>
      </nav>
    </div>
</div>


<div class="wrapper d-flex flex-column bd-highlight" style="height: 100vh;">

  <div class="container">

      <h1 class="p-1">Ajouter dans</h1>

      <div id="listsBrowse">
        <div id="listsHeader">
          <ul class="border-0 rounded-top list-group-item d-flex align-items-center justify-content-between pl-1 pb-0 m-0" style="filter: brightness(1.40);">
            <div class="d-flex align-items-center">
              <p class="m-0 p-1 font-weight-bold lead text-muted">Vos listes</p>
            </div>
          </ul>
        </div>
        <% if @lists.present? %>
          <% @lists.sort_by(&:id).reverse.each do |list|  %>
            <li class="rounded bg-light mb-1 py-2 px-2 d-flex align-items-center justify-content-between uncompleted" >
              <div class="lead text-primary font-weight-bold px-2" style="cursor: pointer;" id="addToListBtn" data="<%= list.id %>" recipe-data="<%= @selected_recipes %>"><%= list.name %></div>
            </li>
          <% end %>
        <% end %>
      </div>

      <div class="pl-1 mb-4">
        <% if @lists.size < 5 %>
          <p class="btn btn-light border rounded m-1 px-5" style="cursor: pointer;" id="addToListBtn" data="<%= @selected_items %>" list-data="0" recipe-data="<%= @selected_recipes %>">Nouvelle liste</p>
        <% else %>
          <small class="m-1 text-muted"><i class="fas fa-check text-success pl-2 pr-1"></i> 5 listes maximum </small>
        <% end %>
      </div>



  </div>

</div>

