<%= render 'shared/admin-navbar' %>

<div class="container">
  <div class="row">
    <div class="col-6">
        <div>
          <h1>Last unvalidated Items</h1>
        </div>
        <div>
          <% @items.reverse.each do |item| %>
            <li>
              <%= item.id %> |
              <%= link_to item.name, edit_item_path(item) %>
              <small class="text-dark"><%= item.category.name if item.category.present? %></small>
              <small class="text-warning"><%= item.store_section.name if item.store_section %></small>
            </li>
          <% end %>
        </div>
    </div>
    <div class="col-6">
        <div>
          <h1>Last validted items</h1>
        </div>
        <div>
          <% @items_listitems.reverse.each do |item| %>
            <li>
              <%= item.id %> |
              <%= link_to item.name, edit_item_path(item) %>
              <small class="text-dark"><%= item.category.name if item.category.present? %></small>
              <small class="text-warning"><%= item.store_section.name if item.store_section %></small>
            </li>
          <% end %>
        </div>
    </div>

    </div>
  </div>

