<div class="sticky-top bg-white" id="listBarTop">
  <div class="container">
    <nav class="px-0 navbar navbar-expand-lg d-flex bd-highlight">
      <a class="navbar-brand text-dark d-flex align-items-center mr-auto bd-highlight" href="/"><i class="fas fa-lg fa-arrow-left p-2"></i></a>
    </nav>
  </div>
</div>


<div class="container px-2">
  <div class="jumbotron bg-transparent mb-0 py-1">
    <h1 class=""><%= cl_image_tag("menu_icons/sparkling-heart", width: 40, class:"pb-2") %> Supernet</h1>
    <p class="lead">Amusez-vous à faire des listes de courses <span style="background-image: linear-gradient(90deg, rgb(1, 198, 86),rgb(47, 152, 24));" class="p-1 rounded text-white">healthy</span> pour bien manger. Gratuitement.</p>

    <hr class="my-4">


    <%= link_to "S'inscrire", new_user_registration_path, class:"btn btn-light border btn-lg py-3 px-5 font-weight-bold m-1 text-primary shadow-lg" %>
    <%= link_to "Se connecter", new_user_session_path, class:"btn btn-light border btn-lg py-3 px-5 font-weight-bold m-1 shadow-lg" %>
  </div>
</div>


<div class="container px-2 mt-5">
  <div class="jumbotron">
    <h2 class="">Avec un compte Supernet, vous pourrez facilement:</h2>
    <p class="lead my-3"><%= cl_image_tag("menu_icons/crystal-ball", width: 30, class:"pb-1 pr-2") %> Faire des choix éclairés</p>
    <p class="lead my-3"><%= cl_image_tag("menu_icons/search", width: 30, class:"pb-1 pr-2") %> Analyser vos achats</p>
    <p class="lead my-3"><%= cl_image_tag("menu_icons/light-bulb", width: 30, class:"pb-1 pr-2") %> Trouver des idées</p>
    <p class="lead my-3"><%= cl_image_tag("menu_icons/list", width: 30, class:"pb-1 pr-2") %> Partager vos listes</p>
  </div>
</div>
