
<% carts.each do |cart| %>

  <%= link_to cart_path(cart), class:"list-group-item list-group-item-action" do %>
    <div class="d-flex align-items-center justify-content-between">
      <div id="cart-description">
        <div class="d-flex w-100 flex-column mb-1">
          <h5 class="mb-0 text-primary"><%= cart.merchant.name.capitalize %> <small>panier du <%= cart.created_at.strftime("%d/%m/%Y") %></small></h5>
          <small class="text-muted"><%= cart.cart_items.size %> <%= cart.cart_items.size > 1 ? "articles" : "article" %></small>
        </div>
        <% if cart.cart_items.size > 0 %>
          <h5 class="mb-0">
            <strong><%= cart.get_total_price %>€</strong>
          </h5>
        <% end %>
      </div>
      <div class="product-options d-flex flex-column align-items-center">
        <i class="fas fa-lg fa-angle-right p-1"></i>
      </div>
    </div>
  <% end %>

<% end %>

