<div class="midbanner d-flex flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= cl_image_path("home_photos/hp#{rand(1..53)}-min", crop: :scale, :quality=>"auto:low", :width => :auto, :responsive_placeholder => "blank", :fetch_format=>:auto) %>);">

  <%= render 'shared/navbar_white' %>

  <div class="container">
    <%= render 'shared/flashes' %>
  </div>

  <div class="container m-auto d-flex flex-column justify-content-start">
    <h1 class="font-weight-bold">Courses</h1>
    <small class="text-white">Retrouvez ici l'historique de vos paniers de courses</small>
  </div>

</div>


<div class="container my-3">
  <% if @carts.any?  %>
    <div class="list-group shadow">

    <% @carts.each do |cart| %>

      <%= link_to cart_path(cart), class:"list-group-item list-group-item-action" do %>
        <div class="d-flex align-items-center justify-content-between">
          <div id="cart-description">
            <div class="d-flex w-100 flex-column mb-1">
              <h5 class="mb-0 text-primary"><%= cart.merchant.name.capitalize %> <small>panier du <%= cart.created_at.strftime("%d/%m/%Y") %></small></h5>
              <small class="text-muted"><%= cart.cart_items.size %> <%= cart.cart_items.size > 1 ? "articles" : "article" %></small>
            </div>
            <% if cart.cart_items.size > 0 %>
              <h5 class="mb-0">
                <strong><%= cart.get_total_price %>€</strong>
              </h5>
            <% end %>
          </div>
          <div class="product-options d-flex flex-column align-items-center">
            <i class="fas fa-lg fa-angle-right p-1"></i>
          </div>
        </div>
      <% end %>

    <% end %>
    </div>
  <% else %>
    <div class="my-5 d-flex align-items-center justify-content-between">
      <p class="lead text-muted">Les paniers de courses que vous enregistrez seront visibles ici.</p>
    </div>
  <% end %>
</div>


<!-- Create Cart Modal -->
<div class="modal fade" id="createCartModal" tabindex="-1" role="dialog" aria-labelledby="createCartModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createCartModalLabel">🛒 Nouveau panier de courses</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-0 p-0">
        <%= render 'carts/form' %>
      </div>
    </div>
  </div>
</div>
