<div class="container mb-4">
  <%= link_to "Retour vers la liste de courses", list_path(current_user.lists.first), class: "mt-3 btn btn-outline-secondary btn-block"  %>
</div>


<div class="container">
  <div class="shadow p-3 mb-2 bg-white rounded d-flex align-items-center justify-content-between">
    <div>
      <h2 class="pl-0 pr-0 mb-0" id="title">Panier</h2>
      <p class="mb-0 font-weight-light">Leclerc</p>
      <small class="mb-0 font-weight-light">Sélection:</small>
      <span class="badge badge-primary font-weight-light">premiers prix</span>
    </div>
    <div>
      <h2 class="pl-0 pr-0 mb-0"><%= @cart.get_total_price %>€</h2>
      <p class="mb-0 font-weight-light"><%= @cart.cart_items.size %> articles</p>
    </div>
  </div>
</div>

<div class="container">
  <% if @cart.cart_items.any? %>
    <div class="shadow p-0 mb-5 bg-white rounded">
      <div class="list-group list-group-flush">
        <% @cart.cart_items.order(:item_id).each do |cart_item| %>
          <%= render 'product-card', product_item: StoreItem.find(cart_item.productable_id), cart_item: cart_item, item: cart_item.item %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="shadow p-0 mb-5 bg-white rounded">
      <a class="list-group-item list-group-item-action">
        <p class="mb-1">Le panier est vide.</p>
      </a>
    </div>
  <% end %>
</div>

<% if @unavailable.any? %>
  <div class="container">
    <div class="shadow p-3 mb-5 bg-white rounded">
      <small class="mb-0 font-weight-light">Pas de résultat pour:</small>
      <div>
        <% @unavailable.each do |toto| %>
          <p class="mb-0 font-weight-light"><%= toto.name  %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

