<div class="container d-flex justify-content-between mt-2 mb-4 pl-0" id="cartId", data="<%= @cart.id %>">

    <!-- dropdown button -->
    <div class="btn-group">
      <button type="button" class="m-2 btn btn-outline-secondary rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item btn" data-toggle="modal" data-target="#shareModal">Envoyer par email</a>
        <% if current_user.present? && current_user.admin == true %>
          <a class="dropdown-item btn" data-toggle="modal" data-target="#adminShareModal">Magic share</a>
        <% end %>
        <% if @cart.user == current_user %>
          <!-- Button trigger Create List modal -->
          <div class="dropdown-divider"></div>
            <%= link_to "Supprimer", cart_path(@cart), method: :delete,  data: { confirm: 'Êtes-vous sûr ?' }, class:"dropdown-item text-danger" %>
        <% end %>
       </div>
    </div>


    <%= link_to "Fermer", root_path, data: { confirm: 'Le contenu du panier sera perdu si vous continuez.' }, class:"btn close m-2 px-0" %>
</div>


  <!-- Share Modal -->
    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="shareModalLabel">Envoyer par email</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= form_tag(cart_share_path(@cart), class: 'form-group') do |f| %>
            <div class="modal-body mb-0">
              <%= text_field_tag 'email', '', value: "#{current_user.present? ? current_user.email : ''}", type: "email", id:"shareCart", class:"form-control" %>
              <div class="d-flex justify-content-end">
                <%= submit_tag "submit",:value => "Envoyer", class:"btn btn-sm btn-flat2 m-2"%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  <!-- Admin Modal -->
    <div class="modal fade" id="adminShareModal" tabindex="-1" role="dialog" aria-labelledby="adminShareModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="adminShareModal">Envoyer par email</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= form_tag(cart_special_share_path(@cart), class: 'form-group') do |f| %>
            <div class="modal-body">
              <%= text_field_tag 'email', '', value: "#{current_user.present? ? current_user.email : ''}", type: "email", class:"form-control" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
              <%= submit_tag "submit",:value => "Envoyer", class:"btn btn-primary"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>



<div class="container">
  <%= render 'shared/flashes' %>
</div>



<div class="d-flex flex-column align-items-center justify-content-center p-1 mb-0">
  <p class="m-0 lead">Votre panier <strong class="btn-outline-primary font-weight-bold"><%= @cart.merchant.name %></strong></p>
</div>


<div class="container px-0" id="cart-content" data="<%= @cart.id %>">
  <%= render 'cart_content', cart: @cart %>
</div>



<div style="padding: 50px;"></div>


<div class="container" id="cartPrice" data="<%= @cart.id %>">
</div>




