<div class="container">
  <div class="shadow p-3 mt-5 mb-5 bg-white rounded">

      <h2 class="mb-3">Se connecter</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      label: false,
                      autofocus: true,
                      placeholder: "Votre Adresse Email" %>
          <%= f.input :password,
                      label: false,
                      placeholder: "Mot de passe",
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, label: " Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Connexion", class: "btn btn-flat btn-lg mb-3" %>
        </div>
      <% end %>

      <%= link_to "Mot de passe oublié?", new_password_path(resource_name) %><br />

  </div>
</div>

  <div class="container p-3">
    <%= link_to "Retour vers la page d'accueil", root_path, class:"btn btn-secondary mt-4" %>
  </div>

