
<div class="banner d-flex flex-column my-3">
  <%= render 'shared/navbar_black' %>

  <div class="container my-auto px-2">

    <div class="jumbotron">
      <h1 class="display-4">Connectez-vous</h1>
      <hr class="my-4">

        <div class="errors"></div>
        <% if flash[:alert].present? %>
          <p class="alert alert-danger"><%= flash[:alert] %></p>
        <% end %>

         <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs mb-0">
              <%= f.input :email,
                          label: false,
                          autofocus: true,
                          placeholder: "Votre Adresse Email",
                          input_html: { class:"py-3 px-2 rounded autofocus form-control form-control-lg" } %>
              <%= f.input :password,
                          label: false,
                          placeholder: "Mot de passe",
                          input_html: { autocomplete: "current-password" },
                          input_html: { class:"py-3 px-2 rounded autofocus form-control form-control-lg" } %>
              <%= f.input :remember_me, label: " Se souvenir de moi", as: :boolean, :wrapper_html=> { class: "m-1" } if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Se connecter", class: "btn btn-lg btn-warning mb-1" %>
            </div>
          <% end %>

    <%= link_to "Cliquez ici si vous n'avez avez pas de compte", new_registration_path(resource_name), class:"d-flex justify-content-end" %>
    </div>


  </div>
</div>
