<div class= "pl-3 pr-2 list-group-item list-group-item-action border-top border-bottom d-flex align-items-center justify-content-between">
  <div class="food-card">
    <div class="d-flex w-90 justify-content-start">
      <small><%= "✅" if @foodlist.foods.include?(food) %> </small>
      <h7 class="mb-1"><%= food.name.capitalize %></h7>
    </div>
    <% if food.store_items.exists?(is_available: true) && food.store_items.exists?(is_promo: true)%>
      <div class="d-flex w-90 justify-content-between">
        <small class="mb-1">
          <%= food.get_cheapest_store_item.name %> à <strong><%= food.get_cheapest_store_item.price %>€</strong>
        </small>
      </div>
      <div class="d-flex w-90 justify-content-between">
        <small>
          <%= food.get_cheapest_store_item.promo_price_per_unit %>€/<%= food.get_cheapest_store_item.product.unit.name %>
            | <strike><%= food.get_cheapest_store_item.price_per_unit %>€/<%= food.get_cheapest_store_item.product.unit.name %></strike>
          <span>chez <%= food.get_cheapest_store_item.store.name %></span>
        </small>
      </div>
    <% end %>
  </div>
  <% unless foodlist.foods.include?(food) %>
     <%= link_to create_foodlist_item_food_list_item_path(foodlist, food), remote: true do %>
        <button type="button" class="btn btn-outline-primary btn-sm add-food add-food-btn-id<%= food.id %>">Ajouter</button>
     <% end %>
   <% else %>
      <button type="button" class="btn btn-outline-success btn-sm disabled">Ajouté</button>
  <% end %>
</div>
