
  <div class="cartgrocerylist-product-card-id<%= store_item.id %>">
    <div class="pl-1 pr-2 list-group-item list-group-item-action border-top border-bottom d-flex align-items-center justify-content-between">

      <div class="product-info d-flex align-items-center justify-content-start">
        <img src="<%= store_item.image_url %>" height="50" width="50" class="ml-1 mr-1" />
        <div class="product-description">
          <div class="d-flex w-90 justify-content-between flex-column">
            <h7 class="mb-0"><%= store_item.name %></h7>
          </div>
        <% if store_item.is_promo == true %>
          <div class="d-flex w-90 justify-content-start">
              <span class="badge badge-warning mr-1 font-weight-light">promo</span>
              <small class="mr-1 font-weight-light"><%= sprintf("%.2f", store_item.promo_price_per_unit) %>€ <%= store_item.unit.nil? ? '' : "/ #{store_item.unit.name}"  %></small>
              <small class="mr-1 font-weight-light"> au lieu de </small>
              <small class="font-weight-light">
                  <%= sprintf("%.2f",store_item.price_per_unit) %>€ <%= store_item.unit.nil? ? '' : "/ #{store_item.unit.name}"  %>
              </small>
          </div>
        <% else %>
          <div class="d-flex w-90 justify-content-start">
              <small class="font-weight-light">
                  <%= sprintf("%.2f",store_item.price_per_unit) %>€ <%= store_item.unit.nil? ? '' : "/ #{store_item.unit.name}"  %>
              </small>
          </div>
        <% end %>
        </div>
      </div>

      <div class="product-options d-flex flex-column align-items-center">
        <h7 class="mb-1">
          <strong><%= store_item.get_best_price %>€</strong>
        </h7>
        <% unless @store_item == store_item %>
          <%= simple_form_for [@cart, @cart_item], remote: true do |f| %>
            <%= f.input :productable_id, input_html: {value: store_item.id}, :as => :hidden, :wrapper_html=> { class: "m-0" } %>
            <%= f.input :name, input_html: {value: store_item.name}, :as => :hidden, :wrapper_html=> { class: "m-0" }  %>
            <%= f.submit "Choisir", class: "btn btn-outline-primary btn-sm " %>
          <% end %>
        <% else %>
          <span class="mt-0 mb-0">✅</span>
        <% end %>
      </div>

    </div>
  </div>

