<div class="d-flex flex-column">
    <div class="">
      <%= simple_form_for [@recipe, @item], class:"d-flex flex-column" do |f| %>
       <fieldset disabled>
        <div class="form-row">
          <div class="col m-0">
          <%= f.input :recipe_id, input_html: { class:"form-control", type:"text", value: @recipe.id }  %>
          </div>
        </div>
        </fieldset>
        <%= f.input :name, input_html: { class:"form-control form-control-lg", type:"text" }  %>
        <div class="form-row">
          <div class="form-group form-control-lg col-sm-2 mb-0">
          <%= f.input :quantity, input_html: { class:"form-control" } %>
          </div>
          <div class="form-group col">
          <label for="inputZip">Unité de mesure</label>
          <%= f.collection_select(:unit_id, Unit.all.order(:name), :id, :name, {:include_blank => true}, {:class => 'form-control'}) %>
          </div>
          <div class="form-group col">
          <label for="inputStoreSection">Rayon</label>
          <%= f.collection_select(:store_section_id, StoreSection.all.order(:name), :id, :name, {:include_blank => true}, {:class => 'form-control'}) %>
          </div>
        </div>
        <label for="foodId">Food</label>
        <%= f.collection_select(:food_id, Food.all.order(:name), :id, :name, {:include_blank => true}, {:class => 'form-control select'}) %>
        <div class="form-group form-check mt-4 mb-0 d-flex justify-content-start">
          <%= f.input :is_non_food, input_html: { class:"form-check-input", type:"checkbox"  } %>
        </div>
        <label for="categoryId">Category</label>
        <%= f.collection_select(:category_id, Category.arrange_as_array, :id, :name_for_selects, {:include_blank => true}, {:class => 'form-control form-control-lg select'}) %>
        <div class="form-group form-check mt-4 mb-0 d-flex justify-content-start">
          <%= f.input :is_non_food, input_html: { class:"form-check-input", type:"checkbox"  } %>
        </div>
        <div class="form-group form-check mt-4 mb-0 d-flex justify-content-center">
          <%= f.input :is_validated, :label => "Valider ?", input_html: { class:"form-check-input", type:"checkbox"  } %>
        </div>
        <div class="d-flex justify-content-center">
        <%= f.submit "Valider", class: "btn btn-light border" %>
        </div>
      <% end %>
    </div>
</div>
