<% if item.present? %>
  <div id="item-id<%= item.id %>">
    <li class="border-0 pl-2 list-group-item d-flex align-items-center justify-content-between" style="cursor: pointer;" id="<%= dom_id(item) %>" >

      <div class="d-flex align-items-center text-primary selectedItem" data="<%= item.id %>">
        <i class="far fa-lg fa-square"></i>
        <p class="m-0 pl-2 p-1"><%= item.name %></p>
      </div>

    </li>
  </div>

<% else %>
  <div id="">
    <li class="border-0 pl-2 list-group-item d-flex align-items-center justify-content-between" style="cursor: pointer;" >

      <div class="d-flex align-items-center text-primary selectedItem">
        <i class="far fa-lg fa-check-square"></i>
        <p class="m-0 pl-2 p-1"><%= list_item.name %></p>
      </div>

    </li>
  </div>
<% end %>
