<% if item.present? %>
  <div id="item-id<%= item.id %>">
    <li class="rounded bg-light mb-1 py-2 px-2 d-flex align-items-center justify-content-between selectedItem" style="cursor: pointer;" id="<%= dom_id(item) %>" data="<%= item.id %>" servings-data="<%= servings_delta %>">

      <div class="d-flex align-items-center text-primary" >
        <%= render "items/rating_indicator", item: item %>
        <p class="lead m-0 p-0 font-weight-bold itemName"><%= item.category.name %>
          <% if item.quantity %>
            <span class="small font-weight-light text-muted">x <%= "%g" % ("%.2f" % [item.quantity.to_f * servings_delta]) %> <%= item.unit.name if item.unit %></span>
          <% end %>
        </p>
      </div>

      <div class="d-flex align-items-center text-primary">
        <%= render "shared/badge_points", points: item.get_points %>
        <i class="far fa-lg fa-check-square px-1 pt-1 m-0"></i>
      </div>
    </li>
  </div>
<% end %>
