  <div id="grocerylist-item-id<%= item.id %>" class="listItemShow" data="<%= item.id %>">
    <li class="rounded bg-light mb-1 py-2 px-2 d-flex align-items-center justify-content-between" >

      <% if item.is_completed == false %>
          <div class="d-flex align-items-center">
            <%= link_to item_path(item), method: :delete, remote: true do %>
              <button type="button" class="close ml-1 mr-0 remove-item text-muted" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            <% end %>
            <%= render "items/rating_indicator", item: item %>
            <%= link_to item_path(item) do %>
               <p class="li lead m-0 p-0 no-link text-primary font-weight-bold" style="cursor: pointer;" data="<%= item.id %>"><%= item.name %></p>
             <% end %>

          </div>
          <%= link_to list_item_complete_path(item.list, item), remote: true  do %>
           <i class="far fa-lg fa-square px-2"></i>
          <% end %>
      <% else %>
          <div class="d-flex align-items-center">
            <%= link_to item_path(item), method: :delete, remote: true do %>
              <button type="button" class="close ml-1 mr-0 remove-item text-muted" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            <% end %>
            <%= render "items/rating_indicator", item: item %>
            <p class="lead m-0 p-0 text-muted no-link" style="cursor: pointer;" data="<%= item.id %>"><%= item.name %></p>
          </div>
          <%= link_to list_item_uncomplete_path(item.list, item), remote: true do %>
            <i class="fas fa-lg fa-check-square text-muted px-2"></i>
          <% end %>
      <% end %>

    </li>
  </div>


