  <div id="grocerylist-item-id<%= item.id %>" class="listItemShow" data="<%= item.id %>">

      <% if item.is_completed == false %>
        <li class="rounded alert-warning shadow mb-1 py-2 px-2 d-flex align-items-center justify-content-between uncompleted" >
          <div class="d-flex align-items-center">
            <%= link_to item_path(item), method: :delete, remote: true do %>
              <button type="button" class="close ml-1 mr-0 remove-item text-muted" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            <% end %>
            <%= render "items/rating_indicator", item: item %>
            <p class="li lead m-0 p-0 no-link text-primary font-weight-bold fetchItem selectedContent" style="cursor: pointer;" data="<%= item.id %>"><%= item.name %></p>
          </div>
          <div class="d-flex align-items-center">
            <%= link_to list_item_complete_path(item.list, item), remote: true  do %>
             <i class="far fa-2x fa-square text-muted px-1" style="filter: brightness(1.40);"></i>
            <% end %>
          </div>
        </li>
      <% else %>

         <li class="rounded bg-light mb-1 py-2 px-2 d-flex align-items-center justify-content-between completed" >
          <div class="d-flex align-items-center">
            <%= link_to item_path(item), method: :delete, remote: true do %>
              <button type="button" class="close ml-1 mr-0 remove-item text-muted" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            <% end %>
            <%= render "items/rating_indicator", item: item %>
            <p class="lead m-0 p-0 text-muted font-weight-bold no-link fetchItem" style="cursor: pointer;" data="<%= item.id %>"><%= item.name %></p>
          </div>

          <div class="d-flex align-items-center">
            <% if false %>
            <%= render "shared/badge_points", points: item.get_points %>
            <% end %>
            <%= link_to list_item_uncomplete_path(item.list, item), remote: true do %>
              <i class="fas fa-2x fa-check-square text-muted px-1" style="filter: brightness(1.40);"></i>
            <% end %>
          </div>
       </li>
      <% end %>

  </div>


