<div class="sticky-top alert-primary">
    <div class="container px-2">
      <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between" style="background-color: transparent;">
          <%= link_to list_path(@item.list), class:"navbar-brand text-dark d-flex align-items-center" do %>
            <i class="fas fa-lg fa-arrow-left p-2"></i>
          <% end %>

      </nav>
    </div>
</div>


<div id="itemShow" class="alert-primary">

    <div class="container px-2">
      <div class="jumbotron jumbotron-fluid rounded p-0">

      <%= simple_form_for([ @item.list, @item ]) do |form| %>
        <div class="p-2">
          <%= form.input :name, as: :string, label: false, input_html: { value: "#{@item.name}", id:"editListItem", class:"form-control form-control-lg font-weight-bold text-primary" }, wrapper_html: { class:"m-0" } %>
        </div>
        <div class="p-2">
          <label for="inputStoreSection">Rayon</label>
          <%= form.collection_select :store_section_id, StoreSection.all.order(:name), :id, :name, :include_blank => true, input_html: {class:"form-control form-control-lg font-weight-bold text-primary" }, wrapper_html: { class:"m-0" } %>
        </div>
        <div class="modal-footer p-2">
          <%= button_tag(type: "submit", class:"btn btn-lg btn-light border") do %>
            Modifier
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container px-2">
    <div id="itemsRecommendations" class="pb-5">
      <% if @item.category.present? %>

        <div id="suggestions" class="listHeader mt-4"  data="">
          <div id="suggestionsHeader">
            <ul class="border-0 rounded-top d-flex align-items-center justify-content-between pl-1 pb-0 m-0">
              <div class="d-flex flex-column text-muted">
                <div class="m-0 pb-0 pl-1 d-flex align-items-center">
                    <span class="font-weight-bold lead" style="filter: brightness(1.40);"><%= @item.name %> +</span>
                </div>
                <small class="font-weight-light pl-1 mb-1">Ajouter un produit avec <i class="far fa-plus-square text-muted"></i></small>
              </div>
            </ul>
          </div>
          <div id="suggestionsElements" class="sectionItems mt-1">
            <% @item.category.get_top_categories(@item.list).shuffle[0..4].each do |category| %>
              <%= render 'categories/add', category: category %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% if @recipes.present? %>
    <div class="container px-2">
      <div id="recipesBrowse">
        <div id="recipesHeader">
          <ul class="border-0 rounded-top d-flex align-items-center justify-content-between pl-1 pb-0 m-0" style="filter: brightness(1.40);">
            <div class="d-flex align-items-center">
              <p class="m-0 p-1 font-weight-bold lead text-muted">Idées recettes</p>
            </div>
          </ul>
        </div>
        <% @recipes.sort_by(&:id).reverse.each do |recipe|  %>
          <div id="recipeElements">
              <%= render 'recipes/recipe', recipe: recipe, list: @item.list %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div style="padding: 50px;"></div>

</div>


