<% if store_cart_item.store_item.nil?  %>
  <div id="store-cart-item-card-id<%= store_cart_item.id %>" style="cursor: pointer;" class="StoreCartItemShow" data="<%= store_cart_item.id %>" >
      <div class="pl-2 pr-2 list-group-item list-group-item-action border-bottom d-flex flex-column justify-content-start">

        <div class="d-flex align-items-center justify-content-between">

          <div class="product-info d-flex align-items-center justify-content-start">
            <div class="product-description text-dark">

              <div class="d-flex w-90 justify-content-between flex-column">
                <h7 class="mb-1 text-primary"><%= store_cart_item.item.name.capitalize %></h7>
                <h7 class="mb-0 font-weight-light text-muted">Nous n'avons pas trouvé de produit correspondant</h7>
              </div>

            </div>
          </div>

          <%= link_to store_cart_store_cart_item_path(store_cart_item.store_cart, store_cart_item), method: :delete, remote: true, class:"deleteBtn" do %>
            <button type="button" class="close ml-2 mr-2 remove-item" aria-label="Close">
              <span aria-hidden="true" >&times;</span>
            </button>
          <% end %>

        </div>

      </div>
  </div>

<% else %>
  <!-- Button trigger update Product Modal -->
  <div id="store-cart-item-card-id<%= store_cart_item.id %>" style="cursor: pointer;" data-toggle="modal" data-target="#updateProductModal<%= store_cart_item.store_item.id %>" class="StoreCartItemShow" data="<%= store_cart_item.id %>" data2="<%= store_cart_item.store_item.id %>">
      <div class="pl-2 pr-2 list-group-item list-group-item-action border-bottom d-flex flex-column justify-content-start">

        <div class="d-flex align-items-center justify-content-between">

          <div class="product-info d-flex align-items-center justify-content-start">
            <img src="<%= store_cart_item.store_item.image_url %>" height="50" width="50" class="ml-1 mr-1" />
            <div class="product-description text-dark">

              <div class="d-flex w-90 justify-content-between flex-column">
                <h7 class="mb-1 text-primary"><%= store_cart_item.store_item.name %></h7>
                <h7 class="mb-0 font-weight-bold"><%= store_cart_item.store_item.get_best_price %> €</h7>
                <small class="mr-1 font-weight-light my-0"><%= store_cart_item.store_item.get_quantity %></small>
              </div>

            </div>
          </div>

        <button class="btn-primary btn-sm">Changer</button>
<!--
          <%= link_to store_cart_store_cart_item_path(store_cart_item.store_cart, store_cart_item), method: :delete, remote: true, class:"deleteBtn" do %>
            <button type="button" class="close ml-2 mr-2 remove-item" aria-label="Close">
              <span aria-hidden="true" >&times;</span>
            </button>
          <% end %> -->

        </div>

      </div>
  </div>

  <!-- update products Modal -->
  <div class="modal fade" id="updateProductModal<%= store_cart_item.store_item.id %>" tabindex="-1" role="dialog" aria-labelledby="updateProductModal<%= store_cart_item.store_item.id %>Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="updateProductModal<%= store_cart_item.store_item.id %>Label"><%= store_cart_item.item.present? ? store_cart_item.item.name.capitalize : "Chercher un produit" %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-0 p-0" style="height: 65vh; overflow-y: auto;">

          <div id="storeCartItemsList<%= store_cart_item.id %>">
          </div>

           <div class="d-flex flex-column align-items-center justify-content-center mt-5">
            <i id="modalSpinner" class="fas fa-circle-notch fa-spin text-primary mb-1"></i>
            <small id="modalSpinner" class="text-muted">Calcul des prix en cours...</small>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

<% end %>
