<% curator_lists.each_with_index do |curator_list, index| %>

  <!-- Button trigger View More modal -->
  <a class="list-inline-item btn btn-sm btn-outline-primary m-1 py-0 m-0 font-weight-bold align-self-center" data-toggle="modal" data-target="#viewMoreModal<%= index %>"><%= curator_list.name %></a>

  <!-- View More Modal -->
  <div class="modal fade" id="viewMoreModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="viewMoreModal<%= index %>Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="viewMoreModal<%= index %>Label"><%= curator_list.name %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-0 p-2">

          <% curator_list.list_items.not_completed.pluck(:name).sort.each_with_index do |item, index| %>

            <div class="list-group-item list-group-item-action border-0 recommendations" id="<%= index %>" style="cursor: pointer;">
              <div class="d-flex align-items-center justify-content-start">
                <div class="d-flex w-100 flex-column mb-0">
                  <h5 class="mb-0 text-primary"><%= item.capitalize %></h5>
                </div>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>

<% end %>




