<%= simple_form_for([ list, list_item ], remote: true) do |form| %>

    <div class="shadow p-3 bg-white">

      <%= form.input :name, as: :string, :autofocus => true, label: false, placeholder: "De quoi avez-vous besoin ?", input_html: { class:"py-4 rounded-0 border-top-0 border-left-0 border-right-0", id:"newListItem" }  %>

      <ul class="list-inline" id="itemsRecommendations">
        <div class="row">
          <div class="col giveMeEllipsis">
            <% FoodList.get_top_foods.each_with_index do |food, index| %>
              <li class="btn btn-link p-0 m-0 recommendations" id="<%= index %>"><%= food.name.capitalize %></li>
            <% end %>
          </div>
        </div>
        <li class="list-inline-item btn btn-link p-0 m-0 font-weight-bold">Voir plus</li>
      </ul>

      <div class="d-flex align-items-center justify-content-end">

        <%= form.submit 'Ajouter', class:"shadow btn btn-flat2", id:"addListItemBtn" %>

      </div>

    </div>



<% end %>
