<%= simple_form_for([ list, list_item ], remote: true) do |form| %>

    <div class="shadow p-3 bg-white">

      <%= form.input :name, as: :string, :autofocus => true, label: false, placeholder: "Que voulez-vous ajouter à la liste ?", input_html: { class:"py-4 rounded-0 border-top-0 border-left-0 border-right-0", id:"newListItem" }  %>

      <ul class="list-inline" id="itemsRecommendations">
        <% FoodList.get_top_foods.each_with_index do |food, index| %>
          <li class="list-inline-item btn btn-link p-0 m-0 recommendations" id="<%= index %>"><%= food.name.capitalize %></li>
        <% end %>
      </ul>

      <div class="d-flex align-items-center justify-content-end">

        <%= form.submit 'Ajouter', class:"shadow btn btn-block btn-flat2", id:"addListItemBtn" %>

      </div>

    </div>



<% end %>
