  <div id="grocerylist-item-id<%= list_item.id %>">
    <li class="border-0 py-2 px-2 list-group-item d-flex align-items-center justify-content-between" id="<%= dom_id(list_item) %>" >

      <% if list_item.is_completed == false %>
          <div class="d-flex align-items-center">
            <%= link_to list_list_item_complete_path(list_item.list, list_item), remote: true  do %>
             <i class="far fa-lg fa-square px-2"></i>
            <% end %>
            <p class="lead m-0 pl-3 p-1 no-link editListItemModalbtn text-primary font-weight-bold" style="cursor: pointer;" data="<%= list_item.id %>"><%= list_item.name %></p>
          </div>
      <% else %>
          <%= link_to list_list_item_uncomplete_path(list_item.list, list_item), remote: true do %>
            <div class="d-flex align-items-center">
              <i class="fas fa-lg fa-check-square text-muted px-2"></i>
              <p class="lead m-0 pl-3 p-1 text-muted no-link"><del><%= list_item.name %></del></p>
            </div>
          <% end %>
      <% end %>

      <%= link_to list_list_item_path(list_item.list, list_item), method: :delete, remote: true do %>
        <button type="button" class="close ml-2 mr-0 remove-item text-muted" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <% end %>

    </li>
  </div>


