
<div class="container p-4">
  <hr class="my-4">
</div>

<div class="container">
  <div class="shadow p-3 mb-2 bg-white rounded d-flex align-items-center justify-content-between">
    <div>
      <div class="d-flex align-items-center justify-content-start">
        <h4 class="pl-0 pr-0 mb-0" id="title"><%= item.food.name.capitalize %> </h4>
        <h7 class="ml-1 font-weight-light"> <%= item.quantity if item.quantity %> <%= item.unit.name if item.unit %></h7>
      </div>
      <div class="mt-3">
        <p class="mb-0">Les informations ci-dessus sont-elles correctes ?</p>
        <div class="m-0">
         <%= link_to list_list_item_item_unvalidate_path(@list_item.list, @list_item, item), remote: true do %>
            <button type="button" class="btn btn-secondary btn-sm unvalidate-item">Non</button>
         <% end %>
         <%= link_to list_list_item_item_validate_path(@list_item.list, @list_item, item), remote: true do %>
            <button type="button" class="btn btn-primary btn-sm validate-item">Oui ! Afficher les prix</button>
         <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
