
<div id="grocerylist-category-id<%= category.id %>" data="<%= category.id %>">

  <li class="rounded bg-light mb-1 py-2 px-2 d-flex align-items-center justify-content-between completed addCategoryToList"  data="<%= category.name %>"  data-id="<%= category.id %>" style="cursor: pointer;">
    <div class="d-flex align-items-center">
      <%= link_to dislike_items_path(name: category.name), remote: true do %>
        <button type="button" class="close mx-1 remove-item text-muted" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <% end %>
<!--       <%= render "categories/rating_indicator", category: category %>
 -->
      <!-- add fetchCategory class to popup modal -->
      <p class="lead m-0 p-0 text-muted font-weight-bold no-link" style="cursor: pointer;" data="<%= category.name %>" data-id="<%= category.id %>"><%= category.name %></p>

    </div>

    <div class="d-flex align-items-center">

      <% if false %>
      <%= render "shared/badge_points", points: category.get_points %>
      <% end %>
      <i class="fas fa-2x fa-plus-square text-muted px-1" style="cursor: pointer; filter: brightness(1.40);"></i>
    </div>
  </li>

</div>
