<div id="grocerylist-category-id<%= category.id %>" data="<%= category.id %>">

  <li class="rounded bg-white mb-1 py-2 px-2 d-flex align-items-center justify-content-between completed" >
    <div class="d-flex align-items-center">
      <%= render "categories/rating_indicator", category: category %>
      <p class="lead m-0 p-0 text-muted font-weight-bold no-link fetchCategory" style="cursor: pointer;" data="<%= category.name %>" data-id="<%= category.id %>"><%= category.name %></p>
    </div>
    <i class="fas fa-2x fa-plus text-muted px-1 addCategoryToList" data="<%= category.name %>"  data-id="<%= category.id %>" style="cursor: pointer; filter: brightness(1.40);"></i>
  </li>

</div>


