<% if category.present? %>
  <div class="contentItem" id="category-id<%= category.id %>" data="<%= category.id %>">
    <li class="rounded bg-light mb-1 py-2 px-2 d-flex align-items-center justify-content-between completed" >
      <div class="d-flex align-items-center">
        <button type="button" class="close ml-1 mr-0 removeContent text-muted" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <%= render "categories/rating_indicator", category: category %>
        <p class="lead m-0 p-0 text-primary font-weight-bold no-link fetchCategory selectedContent" style="cursor: pointer;" data="<%= category.name %>" data-id="<%= category.id %>"><%= content %></p>
      </div>

      <div class="d-flex align-items-center">
      </div>
    </li>
  </div>

<% else %>
  <div class="contentItem" >
    <li class="rounded bg-light mb-1 py-2 px-2 d-flex align-items-center justify-content-between completed" >
      <div class="d-flex align-items-center">
        <button type="button" class="close ml-1 mr-0 removeContent text-muted" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <%= render "categories/rating_indicator", category: nil %>
        <p class="lead m-0 p-0 text-muted font-weight-bold no-link selectedContent" style="cursor: pointer;"><%= content %></p>
      </div>

      <div class="d-flex align-items-center">
      </div>
    </li>
  </div>

<% end %>
