<%= render 'shared/admin-navbar' %>

<div class="container my-5">
  <p><%= link_to "Accueil", categories_path %></p>
  <% if @root %>
    <p><%= link_to @root.name, category_path(@root), class:"btn btn-light border" %></p>
  <% end %>
  <% if @parent %>
    <p><%= link_to @parent.name, category_path(@parent), class:"btn btn-light border" %></p>
  <% end %>

  <div>
    <h1 class="display-4 font-weight-bold mb-0"><%= @category.name.capitalize %></h1>
    <small><%= @category.get_store_section.name %></small>
  </div>
  <%= link_to "Modifier", edit_category_path(@category), class:"btn btn-primary my-2" %>
  <%= link_to "Nouvelle sous-catégorie", new_category_path(parent: @category.id), class:"btn btn-secondary my-3" %>

</div>

<hr class="my-5">


<div class="container my-5">
  <div class="list-group">
    <% @categories.each do |subcategory| %>
      <div class="d-flex align-items-center">
        <li class="lead text-primary mr-1"><%= link_to subcategory.name, category_path(subcategory) %></li>
      </div>
    <% end %>
  </div>
</div>


