<%= render 'shared/admin-navbar' %>

<div class="container my-3">
  <p class="text-muted">Catégories</p>
  <%= link_to "Accueil", categories_path, class:"btn btn-light border" %>
  <% @path.each do |p| %>
    <%= link_to p.name, category_path(p), class:"btn btn-light border" %>
  <% end %>
<hr class="my-3">

  <div>
    <h1 class="display-4 mb-0 mt-2 font-weight-bold">
      <%= render "categories/rating_indicator", category: @category %>
      <%= link_to @category.name.capitalize, edit_category_path(@category) %>
    </h1>
    <div class="">
      <% if @category.get_store_section.present? %>
        <p class="btn btn-warning border lead m-0 font-weight-bold">rayon: <%= @category.get_store_section.name %></p>
      <% end %>
      <% if @category.food_group.present? %>
        <p class="btn btn-success border lead m-0 font-weight-bold">repère: <%= @category.food_group.name %></p>
      <% end %>
      <% if @category.food.present? %>
        <p class="btn btn-light border lead text-secondary m-0 font-weight-bold">food: <%= @category.food.name %></p>
      <% end %>
    </div>
  </div>
  <%= link_to "Supprimer", category_path(@category), method: :delete, class:"btn btn-sm btn-light border text-danger my-2" %>
  <%= link_to "Nouvelle sous-catégorie", new_category_path(parent: @category.id), class:"btn btn-sm btn-light text-primary border my-2" %>

</div>



<div class="container">
  <ol class="mx-4 list-group">
    <% @categories.each do |subcategory| %>
      <div class="d-flex align-items-center">
        <%= render "categories/rating_indicator", category: subcategory %>
        <li class="lead text-primary mr-1"><%= link_to subcategory.name, category_path(subcategory) %></li>
      </div>
    <% end %>
  </ol>
</div>

<div class="container my-5">
  <hr class="my-3">
  <p class="text-secondary">Store mapping</p>
  <% @category.stores.each_with_index do |s, index| %>
    <%= link_to s.name, store_path(s), class:"btn btn-link border" %>
  <% end %>
</div>

