<%= render 'shared/admin-navbar' %>

<div class="container my-5">
  <%= link_to "Accueil", categories_path, class:"btn btn-link my-3" %>
  <h1 class="display-4 font-weight-bold">Catégories tree</h1>
  <ul class="list-unstyled">
    <% Category.arrange_as_array.each do |n| %>
      <li>
        <% if n.depth == 0 %>
          <%= link_to "#{'-' * n.depth * 2} #{n.name}", category_path(n), class:"mt-4 h2 font-weight-bold text-dark"  %>

        <% elsif n.depth == 1 %>
          <%= link_to "#{'-' * n.depth * 2} #{n.name}", category_path(n), class:"h4 font-weight-bold text-success"  %>

        <% elsif n.depth == 2 %>
          <%= link_to "#{'-' * n.depth * 2} #{n.name}", category_path(n), class:"lead font-weight-bold"  %>

        <% elsif n.depth == 3 %>
          <%= link_to "#{'-' * n.depth * 2} #{n.name}", category_path(n), class:"lead"  %>

        <% else %>
          <%= link_to "#{'-' * n.depth * 2} #{n.name}", category_path(n), class:"lead text-muted"  %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>


