
  <div class="cartgrocerylist-product-card-id<%= store_item.id %>">
    <div class="pl-1 pr-2 list-group-item list-group-item-action border-top border-bottom d-flex align-items-center justify-content-between">

      <div class="product-info d-flex align-items-center justify-content-start">
        <img src="<%= store_item.image_url %>" height="50" width="50" class="ml-1 mr-1" />
        <div class="product-description">

          <div class="d-flex w-90 justify-content-between flex-column">
            <h7 class="mb-0"><%= store_item.name %></h7>
          </div>

        <% if store_item.is_promo == true %>
          <div class="d-flex w-90 justify-content-start">
              <span class="badge badge-warning mr-1 font-weight-light">promo</span>
              <small class="mr-1 font-weight-light"><%= sprintf("%.2f", store_item.promo_price_per_unit) %>€ <%= store_item.unit.nil? ? '' : "/ #{store_item.unit.name}"  %></small>
              <small class="mr-1 font-weight-light"> au lieu de </small>
              <small class="font-weight-light">
                  <%= sprintf("%.2f",store_item.price_per_unit) %>€ <%= store_item.unit.nil? ? '' : "/ #{store_item.unit.name}"  %>
              </small>
          </div>
        <% else %>
          <div class="d-flex w-90 justify-content-start">
              <small class="font-weight-light">
                  <%= sprintf("%.2f",store_item.price_per_unit) %>€ <%= store_item.unit.nil? ? '' : "/ #{store_item.unit.name}"  %>
              </small>
          </div>
        <% end %>

         <% if store_item.product.is_reported == false %>
            <p class="m-0"><small>
              <%= link_to 'Signaler une erreur', list_list_item_report_path(@list_item.list, @list_item, store_item), remote:true, class:"p-0 m-0 btn btn-sm btn-outline font-weight-light" %>
            </small></p>
          <% else %>
            <p class="m-0"><small class="font-weight-light">En cours de vérification</small></p>
          <% end %>

        </div>
      </div>

      <div class="product-options d-flex flex-column align-items-center">
        <h7 class="mb-1">
          <strong><%= store_item.get_best_price %>€</strong>
        </h7>
      </div>

    </div>
  </div>

