<%= render 'shared/admin-navbar' %>

<h1>Search products</h1>


<div class="container m-3">

  <div>
    <%= form_tag(advanced_search_products_path, :method => "get") do %>
      <%= text_field_tag :query, params[:query], placeholder: "Search products" %>
      <%= collection_select :store, :id, Store.all.order(:name), :id, :name, {include_blank: 'Stores'} %>
      <%= collection_select :food, :id, Food.all.order(:name), :id, :name, {include_blank: 'Food'} %>

      <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>


<div class="container mb-5">
  <div>
    <h2><%= @results.total_count if @results %> results:</h2>

    <% if @results %>
        <%= will_paginate @results %>

        <% @results.each do |result| %>
            <%= hidden_field_tag "product_ids[]", result.id  %>
            <%= render 'products/show', product: result %>
        <% end %>

    <% end %>

  </div>
</div>


