<div class="card mb-3 mx-2" style="max-width: 540px;">
  <%= link_to recipe.link, target: "_blank", style:"text-decoration: none;" do %>

    <img src="<%= recipe.image_url %>" class="card-img-top" alt="<%= recipe.title %>">
    <div class="card-body">
      <h5 class="card-title"><%= recipe.title %></h5>
      <p class="card-text text-dark giveMeEllipsis"><%= recipe.foods.map{|f| f.name.capitalize}.join(", ") %></p>
    </div>
    <div class="p-3 d-flex justify-content-center">
      <button type="button" class="btn btn-link btn-block text-danger" id=removeFromMenuBtn>Supprimer</button>
    </div>

  <% end %>
</div>
