  <%= render 'recipe_list_items/votes', recipe_list_item: recipe_list_item %>
<div class="card mx-2 mb-2 rounded" style="position: relative;" >
  <%= link_to recipe_list_item.recipe.link, target: "_blank", style:"text-decoration: none;", class:"recipeLinkClick", data:"#{recipe_list_item.recipe.id}" do %>
    <div class="d-flex text-dark mb-0 bd-highlight">
      <div class="mr-2 p-2 my-auto">
         <%= cl_image_tag("#{recipe_list_item.recipe.id}", :fetch_format=>:auto, :quality=>"auto:low", class:"avatar-large", alt:"#{recipe_list_item.recipe.title}") %>
      </div>
      <div class="card-body p-1 my-auto">
        <p class="card-title mb-0 font-weight-bold text-primary"><%= truncate(recipe_list_item.recipe.title, length:260) %></p>
        <small class="text-muted" style="font-size: 0.6rem;"><%= URI("#{recipe_list_item.recipe.link}").host %></small>
      </div>
    </div>
  <% end %>
  <div class="card-footer bg-light border-light p-2 text-center d-flex justify-content-around align-items-center">
    <%= render 'shared/recipe_card_actions', recipe: recipe_list_item.recipe %>
  </div>
</div>
