
<div class="card" id="recipeListItemCard<%= recipe_list_item.id %>" style="break-inside: avoid;">
    <%= cl_image_tag("#{recipe.id}", :width=>400, :height=>400, :fetch_format=>:auto, :crop=>"fill", :quality=>"auto:low", class:"card-img-top img-fluid") %>
  <%= link_to recipe.link, target: "_blank", style:"text-decoration: none;" do %>
    <div class="card-body p-2" style="height:6rem;">
      <h5 class="card-title text-primary mb-0" style="font-size: 0.9rem;"><%= recipe.title %></h5>
      <p class="card-text"><small class="text-muted" style="font-size: 0.6rem;"><%= URI("#{recipe.link }").host %></small></p>
    </div>
  <% end %>
  <div class="card-body text-center p-0 d-flex flex-column">
    <a class="text-danger disabled card-link font-weight-bold p-2 border rounded-0" id="removeFromMenuBtn" data="<%= recipe_list_item.id %>" data-container="<%= recipe_list.id %>" style="font-size: 0.8rem; cursor: pointer;">Retirer</a>
    <a class="card-link font-weight-bold border p-2 text-primary m-0 rounded-0" id="addToListBtn" data-toggle="modal" data-target="#addToListModal" style="font-size:0.8rem; cursor: pointer;">Liste de courses</a>
  </div>
</div>



