<!DOCTYPE html>
<html>

  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KBZQ9D3');</script>
    <!-- End Google Tag Manager -->

    <title>Mama</title>
    <!-- Google result description-->
    <meta name="description" content="Faites vos courses facilement et au meilleur prix en quelques clics !">
    <!-- Facebook post-->
    <meta property="og:title" content="Mama">
    <meta property="og:description" content="Faites vos courses facilement et au meilleur prix en quelques clics !">
    <meta property="og:site_name" content="Mama"/>
    <meta property="og:image" content="https://res.cloudinary.com/dnrmmg7rh/image/upload/v1574093230/logo_qj08zi.png">


    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('logo.png'), :rel => 'icon', :type =>  'image/png' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>


  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KBZQ9D3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


     <div id="page-container">
       <div id="content-wrap">
         <!-- all other page content -->
          <%= yield %>
       </div>
     </div>

    <%= render 'shared/footer' if params[:controller] == "pages" && params[:action] == "home" %>



  </body>
</html>
