<!DOCTYPE html>
<html>
  <head>
    <title>ClubMama | Manger mieux et moins cher !</title>
    <!-- Google result description-->
    <meta name="description" content="Votre liste de courses en 2mn sur ClubMama.">
    <!-- Facebook post-->
    <meta property="og:title" content="ClubMama | Manger mieux et moins cher !">
    <meta property="og:description" content="Votre liste de courses en 2mn sur ClubMama.">
    <meta property="og:site_name" content="ClubMama"/>

    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('logo.png'), :rel => 'icon', :type =>  'image/png' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>


  </head>

  <body>

    <%= render 'shared/navbar' unless action_name.eql? "card" %>
     <div id="page-container">
       <div id="content-wrap">
         <!-- all other page content -->
          <%= yield %>
       </div>
     </div>

      <%= render 'shared/footer' unless action_name.eql? "card" %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </body>
</html>
